:root {
  --app-height: $base-height;
}

/* Product Detail page start */
body.product-details-page.yellow-bg {
  background: url(product-yellow-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}

.prodetail-sec {
  padding-bottom: 1.25rem;
}
.prodetail-sec .product-row {
  display: flex;
  flex-wrap: wrap;
}
.prodetail-sec .product-row .product-left-col {
  width: 45%;
}
.prodetail-sec .product-row .product-right-col {
  width: 55%;
  padding-left: 2.5rem;
}
.prodetail-sec .product-row .product-detail .productTitle {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}
.prodetail-sec .product-row .product-detail .product-rating {
  line-height: 0;
  margin-bottom: 1.5625rem;
}
.prodetail-sec .product-row .product-detail .product-rating .review-star {
  max-width: 8.875rem;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}
.prodetail-sec .product-row .product-detail .product-rating .review-star .start-icon {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 1.375rem;
  background: url(../assets/star.svg) left bottom repeat-x;
}
.prodetail-sec .product-row .product-detail .product-rating .review-star .start-icon .stars {
  display: block;
  width: 100%;
  height: 1.375rem;
  background: url(../assets/star.svg) left top repeat-x;
}
.prodetail-sec .product-row .product-detail .product-rating .rating-num {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
}
.prodetail-sec .product-row .product-detail .product-rating .rating-num small {
  opacity: 0.6;
}
.prodetail-sec .product-row .product-detail .product-price-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.25rem;
}
.prodetail-sec .product-row .product-detail .product-price-btn .product-price span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: 2rem;
  font-weight: 700;
}
.prodetail-sec .product-row .product-detail .product-price-btn .product-price span.price-sale {
  color: #000;
}
.prodetail-sec .product-row .product-detail .product-price-btn .product-price span.price-compare {
  color: #000;
  opacity: 0.4;
  text-decoration: line-through;
}
.prodetail-sec .product-row .product-detail .product-price-btn .product-price span.price-discount {
  border-radius: 3.9375rem;
  background: rgba(255, 51, 51, 0.1);
  color: #FF3333;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  padding: 0.5rem;
  min-width: 3.6875rem;
}
.prodetail-sec .product-row .product-detail .productshort-decription {
  padding-right: 3rem;
}
.prodetail-sec .product-row .product-detail .productshort-decription p {
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}
.prodetail-sec .product-row .product-detail .quantity-main {
  margin: 1.375rem 0;
  padding: 1.375rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.prodetail-sec .product-row .product-detail .quantity-main .quntity-sl {
  display: inline-block;
  vertical-align: bottom;
}
.prodetail-sec .product-row .product-detail .quantity-main .quntity-sl .quantity-lable {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 0.875rem;
  display: block;
}
.prodetail-sec .product-row .product-detail .quantity-main .quntity-sl .quantityBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  border-radius: 3.125rem;
}
.prodetail-sec .product-row .product-detail .quantity-main .quntity-sl .quantityBox .qv-quantity {
  border: none;
  width: 3.75rem;
  height: 100%;
  padding: 0 0.625rem;
  text-align: center;
  min-height: 3.25rem;
  position: relative;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 0.875rem;
}
.prodetail-sec .product-row .product-detail .quantity-main .quntity-sl .quantityBox .qtyminus {
  position: relative;
  left: 0;
  top: 0;
  width: 3.25rem;
  height: 3.25rem;
  z-index: 1;
  cursor: pointer;
}
.prodetail-sec .product-row .product-detail .quantity-main .quntity-sl .quantityBox .qtyminus:before {
  content: "";
  z-index: 999;
  border-bottom: 2px solid #000000;
  width: 1.125rem;
  height: 0.125rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.prodetail-sec .product-row .product-detail .quantity-main .quntity-sl .quantityBox .qtyplus {
  position: relative;
  right: 0;
  top: 0;
  width: 3.25rem;
  height: 3.25rem;
  z-index: 1;
  cursor: pointer;
}
.prodetail-sec .product-row .product-detail .quantity-main .quntity-sl .quantityBox .qtyplus:before {
  content: "";
  z-index: 999;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  width: 1.125rem;
  height: 0.125rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.prodetail-sec .product-row .product-detail .quantity-main .quntity-sl .quantityBox .qtyplus:after {
  content: "";
  z-index: 999;
  border-left: 2px solid #000000;
  width: 0.125rem;
  height: 1.125rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.prodetail-sec .product-row .product-detail .quantity-main .share-sl {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 1.875rem;
}
.prodetail-sec .product-row .product-detail .product-bottom-btn .addtocart-btn {
  max-width: 496px;
  width: 100%;
}
.prodetail-sec .product-row .product-detail .product-bottom-btn .compare-btn {
  min-width: 173px;
  margin-left: 12px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Product Gallery */
.productGallery {
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
}
.productGallery .galleryMain {
  margin-bottom: 1.4rem;
  overflow: hidden;
  width: 75%;
  padding-left: 0.875rem;
}
.productGallery .galleryMain .productImg {
  position: relative;
  display: block;
  width: 100%;
  background: #f5f5f5;
  padding-bottom: 119%;
  overflow: hidden;
  border-radius: 1.25rem;
}
.productGallery .galleryMain .productImg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: cover;
}
.productGallery .galleryThumb {
  margin: -0.25rem 0;
  width: 25%;
}
.productGallery .galleryThumb .thumb-item {
  padding: 0.3125rem 0;
}
.productGallery .galleryThumb .thumb-item .thumbBox {
  position: relative;
  display: block;
  width: 100%;
  background: #f5f5f5;
  height: 10.5rem;
  border: 1px solid transparent;
  border-radius: 1.25rem;
  overflow: hidden;
}
.productGallery .galleryThumb .thumb-item .thumbBox img {
  margin: auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.productGallery .galleryThumb .slick-current .thumb-item .thumbBox {
  border: 1px solid #B2B2B2;
}

.products-detils-wrapper {
  margin-bottom: 1.25rem;
}
.products-detils-wrapper .product-tab-main .nav-tabs {
  border: 0;
  border-bottom: none;
}
.products-detils-wrapper .product-tab-main .nav-tabs .nav-item {
  border-bottom: 1px solid #B9B9B9;
  flex: 1;
}
.products-detils-wrapper .product-tab-main .nav-tabs .nav-item .nav-link {
  background: none;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0.875rem 1.75rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  border: 0;
  border-radius: 0;
}
.products-detils-wrapper .product-tab-main .nav-tabs .nav-item .nav-link.active {
  color: #000000;
  font-weight: 700;
  border-bottom: 2px solid #000000;
}
.products-detils-wrapper .tab-pane {
  padding: 4.0625rem 0;
  border: 0;
  background: none;
}
.products-detils-wrapper .tab-pane .accordion-body {
  padding: 0;
}

.faq.accordion {
  max-width: 85.7%;
  margin: auto;
}
.faq.accordion .accordion-item {
  border: 0;
  border-bottom: 1px solid #BEBEBE;
  background-color: transparent;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
.faq.accordion .accordion-item .accordion-button {
  font-weight: normal;
  color: #000000;
  opacity: 1;
  padding: 1.875rem 0;
  font-family: "Reckless Neue";
  font-size: 1.625rem;
  box-shadow: none;
  background: none;
}
.faq.accordion .accordion-item .accordion-button:focus {
  background-color: transparent;
  box-shadow: none;
  outline: none;
}
.faq.accordion .accordion-item .accordion-button:after {
  background-image: url(accordion-up-arrow.svg);
  width: 1.625rem;
  height: 1.625rem;
  background-size: 1.625rem;
}
.faq.accordion .accordion-item .accordion-button:not(.collapsed) {
  padding-bottom: 0;
}
.faq.accordion .accordion-item .accordion-button:not(.collapsed):after {
  background-image: url(accordion-down-arrow.svg);
  transform: none;
}
.faq.accordion .accordion-item .accordion-body {
  padding: 1.5625rem 0 !important;
}

/* Product Detail page end */
@media only screen and (max-width: 1366px) {
  /* Product Detail page start */
  .prodetail-sec .product-row .product-detail .product-bottom-btn .addtocart-btn {
    max-width: 450px;
  }
  .productGallery .galleryThumb .thumb-item .thumbBox {
    height: 10rem;
  }
  /* Product Detail page end */
}
@media only screen and (max-width: 1280px) {
  /* Product Detail page start */
  .prodetail-sec .product-row .product-detail .product-bottom-btn .addtocart-btn {
    max-width: 420px;
  }
  .productGallery .galleryThumb .thumb-item .thumbBox {
    height: 9.3rem;
  }
  /* Product Detail page end */
}
@media only screen and (max-width: 1199px) {
  /* Product Detail page start */
  .prodetail-sec .product-row .product-detail .productTitle {
    font-size: 2.2rem;
  }
  .prodetail-sec .product-row .product-detail .product-bottom-btn .addtocart-btn {
    max-width: 280px;
  }
  .productGallery .galleryThumb .thumb-item .thumbBox {
    height: 7.3rem;
  }
  /* Product Detail page end */
}
@media only screen and (max-width: 991px) {
  /* Product Detail page start */
  .prodetail-sec {
    padding-bottom: 3.25rem;
  }
  .prodetail-sec .product-row .product-left-col {
    width: 100%;
  }
  .prodetail-sec .product-row .product-right-col {
    width: 100%;
    padding-left: 0;
  }
  .prodetail-sec .product-row .product-detail .productTitle {
    font-size: 2.2rem;
  }
  .prodetail-sec .product-row .product-detail .product-bottom-btn .addtocart-btn {
    max-width: 70%;
  }
  .productGallery .galleryMain .productImg {
    padding-bottom: 106%;
  }
  .productGallery .galleryThumb .thumb-item .thumbBox {
    height: 178px;
  }
  .faq.accordion {
    max-width: 95%;
  }
  /* Product Detail page end */
}
@media only screen and (max-width: 767px) {
  /* Product Detail page start */
  .prodetail-sec {
    padding-bottom: 2.25rem;
  }
  .prodetail-sec .product-row .product-left-col {
    width: 100%;
  }
  .prodetail-sec .product-row .product-right-col {
    width: 100%;
    padding-left: 0;
  }
  .prodetail-sec .product-row .product-detail .productTitle {
    font-size: 2rem;
  }
  .prodetail-sec .product-row .product-detail .product-rating {
    margin-bottom: 1.25rem;
  }
  .prodetail-sec .product-row .product-detail .product-rating .review-star {
    max-width: 6.0625rem;
  }
  .prodetail-sec .product-row .product-detail .product-rating .review-star .start-icon {
    height: 0.9375rem;
  }
  .prodetail-sec .product-row .product-detail .product-rating .review-star .start-icon .stars {
    height: 0.9375rem;
  }
  .prodetail-sec .product-row .product-detail .product-rating .rating-num {
    font-size: 0.875rem;
  }
  .prodetail-sec .product-row .product-detail .product-price-btn .product-price span {
    font-size: 1.625rem;
  }
  .prodetail-sec .product-row .product-detail .product-price-btn .product-price span.price-discount {
    font-size: 0.875rem;
  }
  .prodetail-sec .product-row .product-detail .productshort-decription {
    padding-right: 0;
  }
  .prodetail-sec .product-row .product-detail .quantity-main .quntity-sl .quantityBox .qtyplus:before {
    width: 16px;
  }
  .prodetail-sec .product-row .product-detail .quantity-main .quntity-sl .quantityBox .qtyplus:after {
    height: 16px;
  }
  .prodetail-sec .product-row .product-detail .quantity-main .quntity-sl .quantityBox .qtyminus:before {
    width: 16px;
  }
  .prodetail-sec .product-row .product-detail .quantity-main .share-sl {
    margin-left: 10px;
  }
  .prodetail-sec .product-row .product-detail .product-bottom-btn .addtocart-btn {
    max-width: 50%;
  }
  .productGallery .galleryMain {
    width: 100%;
    padding: 0;
  }
  .productGallery .galleryMain .productImg {
    padding-bottom: 106%;
  }
  .productGallery .galleryThumb {
    display: none;
  }
  .productGallery .slick-dots {
    padding-top: 20px;
  }
  .products-detils-wrapper {
    margin-bottom: 50px;
  }
  .products-detils-wrapper .tab-pane.product-tab-pane {
    padding: 0;
    border: 0;
    display: block;
    opacity: 1;
  }
  .products-detils-wrapper .tab-content > .accordion-item {
    background-color: #f7f7f7;
    margin: 5px 0;
    border: 0;
  }
  .products-detils-wrapper .tab-content > .accordion-item > .accordion-header > .accordion-button {
    background-color: #f7f7f7;
    font-weight: 700;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    font-size: 18px;
  }
  .products-detils-wrapper .tab-content > .accordion-item > .accordion-header > .accordion-button:focus {
    box-shadow: none;
  }
  .products-detils-wrapper .tab-content > .accordion-item > .accordion-collapse.show {
    background-color: #ffffff;
  }
  .products-detils-wrapper .tab-content > .accordion-item > .accordion-header > .accordion-button:not(.collapsed) {
    background-color: #01390C;
    color: #ffffff;
  }
  .products-detils-wrapper .tab-content > .accordion-item > .accordion-header > .accordion-button:not(.collapsed)::after {
    filter: brightness(100) invert(0);
  }
  /* Product Detail page end */
}
@media only screen and (max-width: 568px) {
  /* Product Detail page start */
  .prodetail-sec .product-row .product-detail .productTitle {
    font-size: 1.75rem;
  }
  .prodetail-sec .product-row .product-detail .quantity-main .quntity-sl .quantityBox .qv-quantity {
    width: 2rem;
  }
  .prodetail-sec .product-row .product-detail .quantity-main .share-sl .btn {
    min-width: 9.375rem;
  }
  .prodetail-sec .product-row .product-detail .product-bottom-btn .addtocart-btn {
    max-width: 100%;
  }
  .prodetail-sec .product-row .product-detail .product-bottom-btn .compare-btn {
    width: 100%;
    margin: 15px 0 0 0;
  }
  /* Product Detail page end */
}

/*# sourceMappingURL=m-style.css.map */
