@import 'varible.scss';

/* shop page start */

.breadcrumbmain {
  width: 100%;
  display: block;
  padding: 1.5625rem 0;
  .breadcrumbList {
    width: auto;
    list-style: none;
    text-align: left;
    li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 0.875rem;
      position: relative;
      &~:before {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        border-bottom: 0.0625rem solid #5d5d5d;
        border-right: 0.0625rem solid #5d5d5d;
        position: absolute;
        left: -0.5rem;
        top: 0;
        bottom: 0;
        transform: rotate(-45deg);
        margin: auto;
      }
      .current {
        font-weight: 600;
        color: #000000;
        font-size: 1rem;
      }
      &:first-child {
        padding-left: 0;
      }
      a {
        color: rgba(0, 0, 0, 60%);
        transition: all 0.4s ease-in-out;
        font-size: 1rem;
        line-height: normal;
        font-weight: normal;
        &:hover {
          color: #000000;
        }
      }
    }
  }
}

.shop-main {
  .product-left-col {
    width: 23%;
  }
  .product-sidebar {
    .filter-sl{
      display: flex;
      justify-content: space-between;      
      padding-bottom: 0.9375rem;
    }
    .sibebar-title {
      font-size: 1.25rem;
      font-weight: 700;
    }
    .product-categories{
      border-top: 0.0625rem solid #ededed;
      border-bottom: 0.0625rem solid #ededed;
      padding: 10px 0;
      ul{        
        li{
          padding: 0.625rem 0;
          a{
            font-size: 1rem;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.60);
            display: block;
            position: relative;
            transition: all 0.4s ease-in-out;
              &:before {
                content: "";
                width: 0.625rem;
                height: 0.625rem;
                border-bottom: 0.125rem solid rgba(0, 0, 0, 0.60);
                border-right: 0.125rem solid rgba(0, 0, 0, 0.60);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                transform: rotate(-45deg);
                transition: all 0.4s ease-in-out;
            }
            &:hover,&.active{
              color: rgba(0, 0, 0, 1);
              font-weight: 600;
              &:before {
                border-bottom: 0.125rem solid rgba(0, 0, 0, 1);
                border-right: 0.125rem solid rgba(0, 0, 0, 1);
              }
            }
          }
        }
      }
    }
    .price-filter {
      padding-top: 1.5625rem;
      .range-filter {
        padding-top: 1.375rem;
      }
      .price-filter-btn {
        padding-top: 22px;
        margin-top: 22px;
        border-top: 1px solid #e5e5e5;
        .btn{
          width: 100%;
        }
      }
    }
  }
  .product-right-col {
    width: 77%;
  }
  .product-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5625rem;
    .all-pro-title {
      font-size: 1.75rem;
      letter-spacing: -0.56px;
      font-weight: 600;
    }
    .shorting-sl {
      display: flex;
      align-items: center;
      .showing {
        color: rgba(0, 0, 0, 0.60);
        margin-bottom: 0;
        padding-right: 10px;
      }
      .filter-sorting{
        .shortingLabel{
          color: rgba(0, 0, 0, 0.60);
        }
        .custom-select-drop {
          height: 1.5625rem;
          padding: 0 1.5rem 0 0;
          font-size: 1rem;
          font-weight: 500;          
          color: #000;
          box-shadow: none;          
          background: url(down-arrow.svg) no-repeat 98% center;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
      }
      }
    }
  }
  .product-sidebar {
    border-radius: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    padding: 1.25rem 1.5rem 1.625rem 1.5rem;
  }
}
.product-list-item {
  .products {
    border: 0.0625rem solid rgba(234, 234, 234, 0.92);
    border-radius: 0.75rem;
    position: relative;
    background: #f0efed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    .product-new {
      position: absolute;
      width: 3.125rem;
      height: 3.125rem;
      background: $green-color;
      color: $white-color;
      border-radius: 50%;
      line-height: 50px;
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
      top: 1.25rem;
      left: 1.75rem;
    }
    .product-img {
      display: block;
      width: 100%;
      position: relative;
      padding-top: 1.125rem;
      height: 236px;
      img {
        margin: auto;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .product-text {
      padding: 1.25rem 0.9375rem;
      width: 100%;
      .product-title {
        font-size: 14px;
        font-weight: 600;
        color: $primary-color;
        line-height: 1.2;
        margin-bottom: 16px;
      }
      .product-rating {
        line-height: 0;
        margin-bottom: 0.8125rem;
        .review-star {
          max-width: 4rem;
          width: 100%;
          display: inline-block;
          vertical-align: middle;
          line-height: 0;
          margin-right: 0;
          .start-icon {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            height: 0.625rem;
            background: url(../assets/star.svg) left bottom repeat-x;
            .stars {
              display: block;
              width: 100%;
              height: 0.625rem;
              background: url(../assets/star.svg) left top repeat-x;
            }
          }
        }
        .rating-num {
          display: inline-block;
          vertical-align: middle;
          font-size: 0.5rem;
          small {
            opacity: 0.6;
          }
        }
      }
      .product-price-btn {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .product-price {
          span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem;
            line-height: 1;
            font-size: 1.125rem;
            font-weight: 700;
            &.price-sale {
              color: $primary-color;
            }
            &.price-compare {
              color: $primary-color;
              opacity: 0.4;
              text-decoration: line-through;
            }
            &.price-discount {
              border-radius: 3.9375rem;
              background: rgba(255, 51, 51, 0.10);
              color: $red-color;
              font-size: 0.75rem;
              font-weight: 500;
              text-align: center;
              line-height: 1;
              padding: 0.5rem;
              min-width: 3.6875rem;
            }
          }
        }
      }
    }
  }
  .btn.btn-outline {
    min-width: 7.875rem;
    padding: 0.625rem 0.9375rem;
    margin: auto;
    display: block;
    font-size: 0.75rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    border: 0.0625rem solid rgba(234, 234, 234, 0.92);
  }
}

.benefits-sec {
  padding: 4.375rem 0;
  .benefits-inner{
    padding: 5rem 0;
    border-radius: 20px;
    background: #85DF96;
    .sec-head{
      margin-bottom: 5rem;
      .title{
        font-size: 2.25rem;
      }
    }    
    .benefits-listing {
      margin: 0 -1.5625rem;
      text-align: center;
      li{
        padding: 0 1.5625rem;
        display: inline-block;
        margin-bottom: 30px;
        .benefits-box{
          .benefits-icon{
            display: inline-block;
            margin-bottom: 0.625rem;
          }
          .benefits-title{
            font-family: 'Reckless Neue';
            font-weight: 600;
            font-size: 1.25rem;
            margin-bottom: 0.625rem;
          }
        }
      }
    }
  }
}


/* shop page end */