@import 'varible.scss';

/* Product Detail page start */
body.product-details-page.yellow-bg {
  background: url(product-yellow-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}

.prodetail-sec{
  padding-bottom: 1.25rem;
  .product-row{
    display: flex;
    flex-wrap: wrap;
    .product-left-col {
      width: 45%;
    }
    .product-right-col {
      width: 55%;
      padding-left: 2.5rem;
    }
    .product-detail {
      .productTitle{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0.625rem;
      }
      .product-rating{
        line-height: 0;
        margin-bottom: 1.5625rem;
        .review-star{
          max-width: 8.875rem;
          width: 100%;
          display: inline-block;
          vertical-align: middle;
          line-height: 0;          
          .start-icon{
            display: inline-block;
            vertical-align: top;
            width: 100%;
            height: 1.375rem;
            background: url(../assets/star.svg) left bottom repeat-x;
            .stars{
              display: block;
              width: 100%;
              height: 1.375rem;
              background: url(../assets/star.svg) left top repeat-x;
            }
          }
        }
        .rating-num{
          display: inline-block;vertical-align: middle;
          font-size: 1rem;
          small{opacity: 0.6;}
        }
        
      }
      .product-price-btn{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1.25rem;
        .product-price{
          span{
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem;
            line-height: 1;
            font-size: 2rem;
            font-weight: 700;
          &.price-sale{color: $primary-color;}
          &.price-compare{color: $primary-color;opacity: 0.4;text-decoration: line-through;}
          &.price-discount{border-radius: 3.9375rem;background: rgba(255, 51, 51, 0.10);color: $red-color; font-size: 1rem;font-weight: 500;text-align: center;line-height: 1;padding: 0.5rem;min-width: 3.6875rem;
            }
          }
        }        
      }
      .productshort-decription {
        padding-right: 3rem;
        p{
          line-height: 150%; /* 24px */
          letter-spacing: -0.32px;
        }
      }
      .quantity-main{
        margin: 1.375rem 0;
        padding: 1.375rem 0 2.125rem;        
        border-top:1px solid rgba(0, 0, 0, 0.10);
        border-bottom:1px solid rgba(0, 0, 0, 0.10);
        .quntity-sl {
          display: inline-block;
          vertical-align: bottom;
          .quantity-lable{
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.60);
            padding-bottom: 0.875rem;
            display: block;
          }
          .quantityBox{
            display:flex;
            flex-wrap:wrap;
            align-items:center;
            position:relative;
            overflow:hidden; 
            border:1px solid #e5e5e5; 
            border-radius: 3.125rem;
            .qv-quantity{
              border:none;
              width:3.75rem;
              height:100%;
              padding:0 0.625rem;
              text-align:center;
              min-height:3.25rem;
              position:relative;
              display:block; 
              font-size:1rem; 
              font-weight: 500; 
              color:#000000;
              margin:auto;
              left:0;
              right:0;
              border-radius:0.875rem;
              background: none;
            }
            .qtyminus{
              position:relative;
              left:0;
              top:0;
              width:3.25rem;
              height:3.25rem;
              z-index:1;
              cursor:pointer;
              &:before{
                content:"";
                z-index:999;
                border-bottom:2px solid #000000; 
                width:1.125rem;
                height:0.125rem;
                position:absolute;
                left:0;
                right:0;
                bottom:0;
                top:0;
                margin:auto;
              }
            }
            .qtyplus{
              position:relative;
              right:0;
              top:0;
              width:3.25rem;
              height:3.25rem;
              z-index:1;
              cursor:pointer;
              &:before{
                content:"";
                z-index:999;
                border-bottom:2px solid #000000;
                border-left:2px solid #000000;
                width:1.125rem;
                height:0.125rem;
                position:absolute;
                left:0;
                right:0;
                bottom:0;
                top:0;
                margin:auto;
              }
              &:after{
                content:"";
                z-index:999;
                border-left:2px solid #000000;
                width:0.125rem;
                height:1.125rem;
                position:absolute;
                left:0;
                right:0;
                bottom:0;
                top:0;
                margin:auto;
              }
            }
          }
        }
        .share-sl{
          display: inline-block;
          vertical-align: bottom;
          margin-left: 1.875rem;
          .btn{
            min-width: 10.625rem;
            position: relative;
            i{
              position: absolute;
              left: 23px;
              margin-top: 1px;
            }
          }
          
        }
      }
      .product-bottom-btn{
        .addtocart-btn{
          max-width: 496px;
          width: 100%;          
        }
        .compare-btn{
          min-width: 173px;
          margin-left: 12px;
        }
      }
    }
  }
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0;}

/* Product Gallery */
.productGallery{
  margin-right:0; 
  display: flex; 
  flex-wrap: wrap;
  .galleryMain{
    margin-bottom: 1.4rem;
    overflow: hidden; 
    width: 75%; 
    padding-left: 0.875rem;
    .productImg{
      position: relative;
      display: block;
      width: 100%;
      background: #f5f5f5;
      padding-bottom: 119%; 
      overflow: hidden; 
      border-radius: 1.25rem;
      img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%; 
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        object-fit: cover;
      }
    }
  }
  .galleryThumb{ 
    margin:-0.25rem 0; 
    width: 25%;
    .thumb-item{
      padding:0.3125rem 0;
      .thumbBox{
        position: relative;
        display: block;
        width: 100%;
        background: #f5f5f5;
        height: 10.5rem; 
        border:1px solid transparent; 
        border-radius: 1.25rem; 
        overflow: hidden;
        img{
          margin: auto; 
          height: 100%; 
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .slick-current {
      .thumb-item{
        .thumbBox{
          border:1px solid #B2B2B2;
        }
      }
    }
  }
}

.products-detils-wrapper {
  margin-bottom: 1.25rem;
  .product-tab-main {
    .nav-tabs{
      border:0;
      border-bottom: none;
      .nav-item {
        border-bottom: 1px solid #B9B9B9;
        flex: 1;
        .nav-link {
          background: none;
          box-sizing: border-box;
          width: 100%;
          height: auto;
          margin: 0;
          padding: 0.875rem 1.75rem;
          font-size: 1.25rem;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.60);
          border: 0;
          border-radius: 0;
          &.active {
            color: #000000;
            font-weight: 700;
            border-bottom: 2px solid #000000;
          }
        }
      }
    }
  }
  .tab-pane {
    padding: 4.0625rem 0;
    border: 0;
    background: none;
    .accordion-body{
      padding: 0;
    }
  }
}

.faq.accordion {
  max-width: 85.7%;
  padding-top: 2.375rem;
  margin: auto;
  .accordion-item{
    border: 0;
    border-bottom: 1px solid #BEBEBE;
    background-color: transparent;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    .accordion-button {
      font-weight: normal;
      color: #000000;
      opacity: 1;
      padding: 1.875rem 0;
      font-family: 'Reckless Neue';
      font-size: 1.625rem;
      box-shadow: none;
      background: none;
      &:focus{
        background-color: transparent;
        box-shadow: none;
        outline: none;
      }
      &:after{
        background-image: url(accordion-down-arrow.svg);
        width: 1.625rem;
        height: 1.625rem;
        background-size: 1.625rem;
      }
    }
    .accordion-button:not(.collapsed) {      
      padding-bottom: 0;
      &:after{
        background-image: url(accordion-up-arrow.svg);
        transform: none;
      }
    } 
    .accordion-body {
      padding: 1.5625rem 1.25rem 1.5625rem 0 !important;
    }
    &:first-child{
      .accordion-button{
        border-top: 1px solid #BEBEBE;
        border-radius: 0;
      }
    }   
  }
}

.product-details-inner-desc {
  .product-details-desc-box {
    display: flex;
    align-items: start;
    width: 100%;
    border: none;
    .nav {
      width: 33%;
      .nav-link {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 7px;
        color: #1e1e1e;
        font-size: 20px;
        padding: 22px 0px;
        font-weight: 400;
        line-height: 1.3;
        display: block;
        background-color: transparent;
        text-align: start;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: inherit;
          top: 0;
          bottom: 3px;
          right: 14px;
          margin: auto;
          display: inline-block;
          background-image: url(../assets/accordion-cricle-plus.svg);
          background-size: 29px;
          background-repeat: no-repeat;
          width: 29px;
          height: 29px;
          transition: all 0.4s ease-in-out;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -ms-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
        }
        &.active {
          &::after {
            background-image: url(../assets/accordion-cricle-minus.svg);
            background-repeat: no-repeat;
          }
        }
      }
    }
    .tab-content {
      width: 67%;
      padding-left: 150px;
      .tab-pane {
        padding: 8px 18px;
        max-width: 82%;
        .cmsCon {
          p {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 24px;
            letter-spacing: -0.32px;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.related-product-sec {
  padding-bottom: 4.375rem;
  .sec-head{
    margin-bottom: 2.875rem;
  }
  .related-product-slider{
    margin: 0 -0.8125rem;
    .realted-product-list-col {
      padding: 0 0.8125rem;
    }
    .slick-dots{
      padding-top:0.9375rem;
    }
  }  
  .product-view-all{
    padding-top: 1.625rem;
  }
}

/* Product Detail page end */


/* Blog page start */

body.blog-page {
  background: url(blog-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}

.blog-video-sec {
  padding: 4.375rem 0 6.25rem;
  position: relative;  
  .blog-video-img {
    height: 100%;
    width: 100%;
    border-radius: 1.25rem;
    overflow: hidden;
    position: relative;
    display: block;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .video-icon{  
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      position:absolute;  
      margin:auto;
      color: #ffffff;
      font-size: 4.6875rem;
      margin-top: 0.625rem;
    }
  }
  .blog-video-con {
    height: 100%;
    border: 0.0625rem solid #EAEAEA;    
    border-radius: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.0625rem;
    position: relative;
    .sec-head {
      .title-xl {
        font-size: 2.875rem;
        color: #01390c;
        letter-spacing: -0.92px;
        span {
          font-weight: normal;
        }
      }
    }
    p {
      color: #01390C;      
    }
    .btn{
      margin-top: 2.5rem;
    }
    .slick-dots{
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2.5rem;
      li{
        &.slick-active{
          button{
            background-color: #01390C;
          }
        }
      }
    }
    .slick-prev {
      left: inherit;
      right:30px;
      width: 1.75rem;
      height: 1.75rem;
      top: -45px;
      &:before{
        width: 0.9375rem;
        height: 0.9375rem;
        border-bottom: 0.125rem solid #01390C;
        border-left: 0.125rem solid #01390C;
      }
      &:hover {
        &::before {
          border-color: #01390c;
        }
      }
      &.slick-disabled{
        &:before{
          opacity: 0.3;
        }
      }
    }
    .slick-next {
      right:0;
      width: 1.75rem;
      height: 1.75rem;
      top: -45px;
      &:before{
        width: 0.9375rem;
        height: 0.9375rem;
        border-bottom: 0.125rem solid #01390C;
        border-right: 0.125rem solid #01390C;
      }
      &:hover {
        &::before {
          border-color: #01390c;
        }
      }
      &.slick-disabled{
        &:before{
          opacity: 0.3;
        }
      }
    }
  }
}

.bloglisting{
  padding-bottom: 3.5rem;
}
.blog-category {
  padding-bottom: 3.75rem;
  span{
    display: none;
  }
  ul{
    display: flex;
    justify-content: center;
    li{
      font-size: 1.25rem;
      letter-spacing: -0.4px;
      padding: 0 1.75rem;
      a{
        color: #787878;
        &:hover{
          color: #01390C;
        }
        &.active{
          color: #01390C;
          font-weight: 800;
        }
      }            
    }
  }
}

.blog-listing-inner {
  .blogbox{
    margin-bottom: 95px;
    .blogcon{      
      padding: 1.25rem 1.5625rem 1.25rem 1.5625rem;
      bottom: -2.125rem;
      .blog-admin{
        font-size: 0.6875rem;
        margin-bottom: 0.625rem;
      }
      .blog-title{
        font-size: 0.9375rem;
      }      
    }
  }
  .blog-view-more{
    .btn{
      min-width: 10.625rem;
    }
  }
}

.explore-sec{
  padding: 10.875rem 0;
  background: url(explore-bg.jpg) no-repeat;
  background-size: cover;
  .explorecon{
    max-width: 530px;
    .sec-head{
      margin-bottom: 15px;
      .title{
        font-size: 4.5rem;
        color: #EFE5C3;
      }
    }
    .btn{
      margin-top: 18px;
    }
  }
}

.successstories-sec {
  padding: 3.75rem 0;
  .story-title{
    font-size: 1.25rem;
    margin-bottom: 1.125rem;
  }
  .story-inner{
    padding: 0 75px;
    .slick-prev {
      left: -5.3125rem;
      width: 1.75rem;
      height: 1.75rem;
      top: 45%;
      &:before{
        width: 1.25rem;
        height: 1.25rem;
        border-bottom: 0.125rem solid #5b5b5b;
        border-left: 0.125rem solid #5b5b5b;
      }
      &:hover {
        &::before {
          border-color: #01390c;
        }
      }
      &.slick-disabled{
        &:before{
          opacity: 0.3;
        }
      }
    }
    .slick-next {
      right: -4.6875rem;
      width: 1.75rem;
      height: 1.75rem;
      top: 45%;
      &:before{
        width: 1.25rem;
        height: 1.25rem;
        border-bottom: 0.125rem solid #5b5b5b;
        border-right: 0.125rem solid #5b5b5b;
      }
      &:hover {
        &::before {
          border-color: #01390c;
        }
      }
      &.slick-disabled{
        &:before{
          opacity: 0.3;
        }
      }
    }
  }
  .story-img{
    position: relative;
    max-width: 32.375rem;
    width: 100%;    
    padding-bottom: 89%;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;      
  }
}

.story-list-main{
  max-width: 23.5rem;
  margin-left: 2.8125rem;
  .story-row{
    padding: 1.25rem 0;
    .story-sm-title{
      font-size: 1.5rem;
      font-weight: 500;
      color: #000000;
    }
    .storydatesl{
      display: flex;
      justify-content: space-between;
      color: #6A6A6A;
      border-top: 1px solid #bebebe;
      font-size: 1.1875rem;
      font-weight: 400;
      padding-top: 0.75rem;
      margin-top: 0.9375rem;      
      .read-more {
        color: #6A6A6A;
        position: relative;
        padding-right: 1.25rem;
        i{
          position: absolute;
          right: 0;
          top: 0.3125rem;
          font-size: 0.9375rem;
        }
        &:hover{
          color: #000000;
        }
      }
    }
  }
}

}

/* Blog page end */


@media only screen and (max-width:1660px) {}

@media only screen and (max-width:1599px) {}

@media only screen and (max-width:1440px) {}

@media only screen and (max-width:1366px) {

  /* Product Detail page start */
  .prodetail-sec {
    .product-row {
      .product-detail {
        .product-bottom-btn {
          .addtocart-btn{
            max-width: 450px;
          }
        }
      }
    }
  }  
  .productGallery{ 
    .galleryThumb{     
      .thumb-item{      
        .thumbBox{
          height: 10rem;         
        }
      }    
    }
  }

  .product-details-inner-desc {
    .product-details-desc-box {
      .tab-content {
        padding-left: 120px;
        .tab-pane {
          max-width: 95%;
        }
      }
    }
  }

  /* Product Detail page end */


  /* Blog page start */
  .blog-video-sec{
    .blog-video-con{
      .sec-head{
        .title-xl{
          font-size: 2.5rem;
        }
      }
    }
  }
  /* Blog page end */

}

@media only screen and (max-width:1280px) {

 /* Product Detail page start */
 .prodetail-sec {
  .product-row {
    .product-detail {
      .product-bottom-btn {
        .addtocart-btn{
          max-width: 420px;
        }
      }
    }
  }
}
 .productGallery{ 
    .galleryThumb{     
      .thumb-item{      
        .thumbBox{
          height: 9.3rem;         
        }
      }    
    }
  }
/* Product Detail page end */

}

@media only screen and (max-width:1199px) {

  /* Product Detail page start */
 .prodetail-sec {  
  .product-row {
    .product-detail {
      .productTitle{
        font-size: 2.2rem;
      }
      .product-bottom-btn {
        .addtocart-btn{
          max-width: 280px;
        }
      }
    }
  }
}
 .productGallery{ 
    .galleryThumb{     
      .thumb-item{      
        .thumbBox{
          height: 7.3rem;         
        }
      }    
    }
  }

  .products-detils-wrapper{
    .tab-pane{
      padding: 3.0625rem 0;
    }
  }

  .product-details-inner-desc {
    .product-details-desc-box {
      .nav {
        width: 42%;
        .nav-link{
          font-size: 1.125rem;
          &::after{
            width: 1.5625rem;
            height: 1.5625rem;
            background-size: 1.5625rem;
          }
        }
      }
      .tab-content{
        width: 58%;
        padding-left: 3.125rem;
        .tab-pane{
          max-width: 100%;
          padding: 0.25rem 0;
        }
      }
    }
  }

/* Product Detail page end */

/* Blog page start */
.explore-sec{
  padding: 4.875rem 0;
  .explorecon{
    max-width: 466px;
    .sec-head{
      .title{
        font-size: 3.5rem;
      }
    }
  }
}

.successstories-sec{
  .story-img{
    padding-bottom: 95%;
  }
  .story-list-main{
    margin-left: 0.625rem;
    .story-row{
      padding: 8px 0;
    }
  }
}

/* Blog page end */

}

@media only screen and (max-width: 991px) {

/* Product Detail page start */
 .prodetail-sec {
  padding-bottom: 3.25rem;
  .product-row {
    .product-left-col{
      width: 100%;
    }
    .product-right-col{
      width: 100%;
      padding-left: 0;
    }
    .product-detail {
      .productTitle{
        font-size: 2.2rem;
      }
      .product-bottom-btn {
        .addtocart-btn{
          max-width: 70%;
        }
      }
    }
  }
}
 .productGallery{ 
    .galleryMain{
      .productImg{
        padding-bottom: 106%;
      }
    }
    .galleryThumb{     
      .thumb-item{      
        .thumbBox{
          height: 178px;         
        }
      }    
    }
  }

.faq.accordion {
  max-width: 95%;
  .accordion-item{
    .accordion-button{
      padding: 1.5rem 0;
      font-size: 1.5rem;
    }
    .accordion-body {      
      padding: 1rem 1rem 1rem 0 !important;
    }
  }
}

.product-details-inner-desc {
  .product-details-desc-box {
    .nav {
      .nav-link{
        font-size: 1rem;
        padding: 0.875rem 0.75rem;
        height: 3.4375rem;
        &::after{
          width: 1.5625rem;
          height: 1.5625rem;
          background-size: 1.5625rem;
        }
      }
    }
    .tab-content{
      padding-left: 20px;
      .tab-pane{
        .cmsCon{
          p{
            margin-bottom: 1.25rem;
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}

.related-product-sec {
  padding-bottom: 4.375rem;
  .sec-head{
    margin-bottom: 1.875rem;
  }
  .product-view-all{
    padding-top:1.25rem;
  }
}

/* Product Detail page end */

/* Blog page start */
.blog-video-sec{
  padding-top: 3.125rem;
  .blog-video-con{
    margin-top: 30px;
  }
}

.blog-category{
  ul{
    li{
      padding: 0 0.9375rem;
    }
  }
}

.successstories-sec{
  .story-list-main{
    max-width: 90%;
    margin-left: 0;
    margin-top: 1.25rem;
  }
}

/* Blog page end */

}

@media only screen and (max-width: 767px) {

/* Product Detail page start */
.prodetail-sec {
  padding-bottom: 2.25rem;
  .product-row {
    .product-left-col{
      width: 100%;
    }
    .product-right-col{
      width: 100%;
      padding-left: 0;
    }
    .product-detail {
      .productTitle{
        font-size: 2rem;
      }
      .product-rating{        
        margin-bottom: 1.25rem;
        .review-star{
          max-width: 6.0625rem;          
          .start-icon{
            height: 0.9375rem;            
            .stars{
              height: 0.9375rem;              
            }
          }
        }
        .rating-num{          
          font-size: 0.875rem;          
        }        
      }
      .product-price-btn {
        .product-price {
          span{
            font-size: 1.625rem;
            &.price-discount{
              font-size: 0.875rem;
            }
          }
        }
      }
      .productshort-decription{
        padding-right: 0;        
      }
      .quantity-main {
        .quntity-sl {
          .quantityBox{
            .qtyplus{
              &:before{
                width: 1rem;
              }
              &:after{
                height: 1rem;
              }
            }
            .qtyminus{
              &:before{
                width: 1rem;
              }
            }
          }
        }
        .share-sl{
          margin-left: 0.625rem;
        }
      }
      .product-bottom-btn {
        .addtocart-btn{
          max-width: 50%;
        }
      }
    }
  }
}
 .productGallery{ 
    .galleryMain{
      width: 100%;
      padding: 0;
      .productImg{
        padding-bottom: 106%;
      }
    }
    .galleryThumb{
      display: none;      
    }
    .slick-dots{
      padding-top: 1.25rem;
    }
  }

  .products-detils-wrapper  {
    margin-bottom: 3.125rem;
    .tab-pane.product-tab-pane{
      padding: 0;
      border: 0;
      display: block;
      opacity: 1;
      .accordion-body{
        padding: 0.9375rem;
      }
  }
}
.products-detils-wrapper .tab-content>.accordion-item {
  background-color: #f7f7f7;
  margin: 0.3125rem 0;
  border: 0;
}
.products-detils-wrapper .tab-content>.accordion-item>.accordion-header>.accordion-button {
  background-color: #f7f7f7;
  font-weight: 700;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  font-size: 1.125rem;  
}
.products-detils-wrapper .tab-content>.accordion-item>.accordion-header>.accordion-button:focus{
  box-shadow: none;
}
.products-detils-wrapper .tab-content>.accordion-item>.accordion-collapse.show {
  background-color: #ffffff;
}
.products-detils-wrapper .tab-content>.accordion-item>.accordion-header>.accordion-button:not(.collapsed) {
  background-color: #01390C;
  color: #ffffff;
}
.products-detils-wrapper .tab-content>.accordion-item>.accordion-header>.accordion-button:not(.collapsed)::after {  
  filter: brightness(100) invert(0);
}

.faq.accordion {  
  max-width: 100%;
  padding-top: 1.25rem;  
  .accordion-item{
    padding: 0 0;
    .accordion-button{
      padding: 1rem 0.9375rem 1rem 0;
      font-size: 1.25rem;
      line-height: 1.2;
      &:after{
        background-image: url(accordion-up-arrow.svg);
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem;
      }
    }
    .accordion-body {
      padding: 1rem 1rem 1rem 0 !important;
      p{
        font-size: 0.875rem;
      }
    }
  }
}

.product-details-inner-desc{
  .product-details-desc-box{
    display: block;
    .nav{
      width: 100%;
      &.flex-column{
        flex-direction: row !important;
      }
      .nav-link{
        flex:1;
        height: auto;
        padding:10px 0;
        text-align: center;
        border-radius: 0;
        &:after{
          display: none;
        }
        &.active{
          font-weight: 700;
          border-bottom: 1px solid #000000;
        }
      }
    }
    .tab-content{
      padding:10px 0;
      width: 100%;
    }
  }
}

/* Product Detail page end */

/* Blog page start */
.blog-video-sec{
  .blog-video-img{
    .video-icon{
      font-size: 3.125rem;
    }
  }
  .blog-video-con{
    margin-top: 1.875rem;
    padding: 1.375rem;
    height: auto;
    .sec-head{
      margin-bottom: 0.9375rem;
      .title-xl{
        font-size: 2rem;
      }
    }
    .btn{
      margin-top: 0;
    }
  }
}

.blog-category{
  position: relative;
  padding-bottom: 1.75rem;
  span{
    display:block;
    background-color:#01390C;
    color:#fff;
    padding:30px 40px;
    position:relative;
    border-radius:50px;
    font-size:16px;
    line-height:1;
    font-weight:700;
    border:1px solid #fff;
    width:100%;
    max-width:100%;
    z-index:3;
    &:after{
      content:"";
      position:absolute;
      right:39px;
      top:-3px;
      bottom:0;
      width:15px;
      height:15px;
      border-bottom:3px solid #fff;
      border-right:3px solid #fff;
      transform:rotate(45deg);
      margin:auto;
      transition:border .4s ease-in-out,transform .4s ease-in-out;
    }
    &.show{
      &:after{transform:rotate(225deg);transition:border .4s ease-in-out,transform .4s ease-in-out}
    }
  }
  ul.menu-dropdown-con{
    display:none;
    width:100%;
    position:absolute;
    background-color:#01390C;
    border-radius:0;
    z-index:2;
    top:75px;    
    border:0;
    border-radius:30px;
    overflow:hidden;
    margin-top:-55px; 
    padding-top:60px;
    li{
      padding: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      font-size: 18px;
      &:first-child{
        border: 0;
      }
      a{
        color: #ffffff;
        padding: 10px;
        display: block;
      }
    }
  }
}

.blog-listing-inner{
  .blogbox{
    margin-bottom: 75px;
  }
}  

.explore-sec{
  padding: 1.875rem 0;
  .explorecon{
    max-width: 320px;
    .sec-head{
      .title{
        font-size: 36px;
      }
    }
    .btn{
      margin-top: 0;
    }
  }
}

.successstories-sec{
  padding: 2.5rem 0;
  .story-img{
    max-width: 100%;
  }
  .story-list-main{
    max-width: 100%;
    margin-left: 0;
    .story-row{
      padding: 0.9375rem 0;
      .story-sm-title{
        font-size: 20px;
      }
      .storydatesl{
        font-size: 16px;
        .read-more{
          i{
            top: 4px;
          }
        }
      }
    }    
  }
}

/* Blog page end */


}

@media only screen and (max-width: 568px) {

  /* Product Detail page start */
  .prodetail-sec{
    .product-row{
      .product-detail{
        .productTitle{
          font-size: 1.75rem;
        }
        .quantity-main{
          .quntity-sl{
            .quantityBox{
              .qv-quantity{
                width: 2rem;
              }
            }
          }
          .share-sl{
            .btn{
              min-width: 9.375rem;
            }
          }
        }
        .product-bottom-btn{
          .addtocart-btn{
            max-width: 100%;
          }
          .compare-btn{
            width: 100%;
            margin: 0.9375rem 0 0 0;
          }
        }
      }
    }
  }
  /* Product Detail page end */

  /* Blog page start */

  .blog-video-sec{
    .blog-video-con{
      .sec-head{
        .title-xl{
          font-size: 1.75rem;
        }
      }
    }
  }

  .successstories-sec{
    .story-inner{
      padding: 0;
    }
  }
  /* Blog page end */

}

@media only screen and (max-width: 489px) {

}

@media only screen and (max-width: 395px) {}

@media only screen and (max-width: 350px) {}