:root {
  --app-height: $base-height;
}

/* shop page start */
body.shop-page {
  background: url(shop-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}

.breadcrumbmain {
  width: 100%;
  display: block;
  padding: 1.5625rem 0;
}
.breadcrumbmain .breadcrumbList {
  width: auto;
  list-style: none;
  text-align: left;
}
.breadcrumbmain .breadcrumbList li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.875rem;
  position: relative;
}
.breadcrumbmain .breadcrumbList li ~ :before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 0.0625rem solid #5d5d5d;
  border-right: 0.0625rem solid #5d5d5d;
  position: absolute;
  left: -0.5rem;
  top: 0;
  bottom: 0;
  transform: rotate(-45deg);
  margin: auto;
}
.breadcrumbmain .breadcrumbList li .current {
  font-weight: 600;
  color: #000000;
  font-size: 1rem;
}
.breadcrumbmain .breadcrumbList li:first-child {
  padding-left: 0;
}
.breadcrumbmain .breadcrumbList li a {
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.4s ease-in-out;
  font-size: 1rem;
  line-height: normal;
  font-weight: normal;
}
.breadcrumbmain .breadcrumbList li a:hover {
  color: #000000;
}

.shop-main .product-left-col {
  width: 23%;
}
.shop-main .product-sidebar .filter-sl {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.9375rem;
}
.shop-main .product-sidebar .filter-sl .filter-icon {
  opacity: 0.4;
}
.shop-main .product-sidebar .filter-sl .filter-icon:hover {
  opacity: 1;
}
.shop-main .product-sidebar .sibebar-title {
  font-size: 1.25rem;
  font-weight: 700;
}
.shop-main .product-sidebar .product-categories {
  border-top: 0.0625rem solid #ededed;
  border-bottom: 0.0625rem solid #ededed;
  padding: 10px 0;
}
.shop-main .product-sidebar .product-categories ul li {
  padding: 0.625rem 0;
}
.shop-main .product-sidebar .product-categories ul li a {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.shop-main .product-sidebar .product-categories ul li a:before {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.6);
  border-right: 0.125rem solid rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0.25rem;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-45deg);
  transition: all 0.4s ease-in-out;
}
.shop-main .product-sidebar .product-categories ul li a:hover, .shop-main .product-sidebar .product-categories ul li a.active {
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.shop-main .product-sidebar .product-categories ul li a:hover:before, .shop-main .product-sidebar .product-categories ul li a.active:before {
  border-bottom: 0.125rem solid rgb(0, 0, 0);
  border-right: 0.125rem solid rgb(0, 0, 0);
}
.shop-main .product-sidebar .price-filter {
  padding-top: 1.5625rem;
}
.shop-main .product-sidebar .price-filter .range-filter {
  padding-top: 1.375rem;
}
.shop-main .product-sidebar .price-filter .price-filter-btn {
  padding-top: 1.375rem;
  margin-top: 1.375rem;
  border-top: 1px solid #e5e5e5;
}
.shop-main .product-sidebar .price-filter .price-filter-btn .btn {
  width: 100%;
  min-width: inherit;
}
.shop-main .product-right-col {
  width: 77%;
}
.shop-main .product-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5625rem;
}
.shop-main .product-top .all-pro-title {
  font-size: 1.75rem;
  letter-spacing: -0.56px;
  font-weight: 600;
}
.shop-main .product-top .shorting-sl {
  display: flex;
  align-items: center;
}
.shop-main .product-top .shorting-sl .filter {
  display: none;
  cursor: pointer;
  margin-right: 10px;
}
.shop-main .product-top .shorting-sl .showing {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0;
  padding-right: 10px;
}
.shop-main .product-top .shorting-sl .filter-sorting .shortingLabel {
  color: rgba(0, 0, 0, 0.6);
}
.shop-main .product-top .shorting-sl .filter-sorting .custom-select-drop {
  height: 1.5625rem;
  padding: 0 1.5rem 0 0;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  box-shadow: none;
  background: url(down-arrow.svg) no-repeat 98% center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.shop-main .product-sidebar {
  border-radius: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFF;
  padding: 1.25rem 1.5rem 1.625rem 1.5rem;
}

.product-list-item .products {
  border: 0.0625rem solid rgba(234, 234, 234, 0.92);
  border-radius: 0.75rem;
  position: relative;
  background: #f0efed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
.product-list-item .products .product-new {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  background: #01390C;
  color: #fff;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  top: 1.25rem;
  left: 1.75rem;
}
.product-list-item .products .product-img {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 1.125rem;
  height: 236px;
}
.product-list-item .products .product-img img {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.product-list-item .products .product-text {
  padding: 0.625rem 0.9375rem 0.9375rem;
  width: 100%;
}
.product-list-item .products .product-text .product-title {
  font-size: 0.875rem;
  font-weight: 600;
  color: #000;
  line-height: 1.2;
  margin-bottom: 0.625rem;
}
.product-list-item .products .product-text .product-rating {
  line-height: 0;
  margin-bottom: 0.5rem;
}
.product-list-item .products .product-text .product-rating .review-star {
  max-width: 4rem;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin-right: 0;
}
.product-list-item .products .product-text .product-rating .review-star .start-icon {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 0.625rem;
  background: url(../assets/star.svg) left bottom repeat-x;
}
.product-list-item .products .product-text .product-rating .review-star .start-icon .stars {
  display: block;
  width: 100%;
  height: 0.625rem;
  background: url(../assets/star.svg) left top repeat-x;
}
.product-list-item .products .product-text .product-rating .rating-num {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.5rem;
}
.product-list-item .products .product-text .product-rating .rating-num small {
  opacity: 0.6;
}
.product-list-item .products .product-text .product-price-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.product-list-item .products .product-text .product-price-btn .product-price span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: 1.125rem;
  font-weight: 700;
}
.product-list-item .products .product-text .product-price-btn .product-price span.price-sale {
  color: #000;
}
.product-list-item .products .product-text .product-price-btn .product-price span.price-compare {
  color: #000;
  opacity: 0.4;
  text-decoration: line-through;
}
.product-list-item .products .product-text .product-price-btn .product-price span.price-discount {
  border-radius: 3.9375rem;
  background: rgba(255, 51, 51, 0.1);
  color: #FF3333;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  padding: 0.5rem;
  min-width: 3.6875rem;
}
.product-list-item .btn.btn-outline {
  min-width: 7.875rem;
  padding: 0.625rem 0.9375rem;
  margin: auto;
  display: block;
  font-size: 0.75rem;
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
  border: 0.0625rem solid rgba(234, 234, 234, 0.92);
}

.benefits-sec {
  padding: 4.375rem 0;
}
.benefits-sec .benefits-inner {
  padding: 5rem 0;
  border-radius: 20px;
  background: #85DF96;
}
.benefits-sec .benefits-inner .sec-head {
  margin-bottom: 5rem;
}
.benefits-sec .benefits-inner .sec-head .title {
  font-size: 2.25rem;
}
.benefits-sec .benefits-inner .benefits-listing {
  margin: 0 -1.5625rem;
  text-align: center;
}
.benefits-sec .benefits-inner .benefits-listing li {
  padding: 0 1.5625rem;
  display: inline-block;
  margin-bottom: 1.875rem;
}
.benefits-sec .benefits-inner .benefits-listing li .benefits-box .benefits-icon {
  display: inline-block;
  margin-bottom: 0.625rem;
}
.benefits-sec .benefits-inner .benefits-listing li .benefits-box .benefits-title {
  font-family: "Reckless Neue";
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

/* shop page end */
@media only screen and (max-width: 1199px) {
  /* shop page start */
  .shop-main .product-sidebar {
    padding: 1.25rem 0.9375rem 1.625rem 0.9375rem;
  }
  .benefits-sec {
    padding: 4.375rem 0;
  }
  .benefits-sec .benefits-inner {
    padding: 4rem 0;
    border-radius: 20px;
    background: #85DF96;
  }
  .benefits-sec .benefits-inner .sec-head {
    margin-bottom: 3.5rem;
  }
  .benefits-sec .benefits-inner .sec-head .title {
    font-size: 2.25rem;
  }
  .benefits-sec .benefits-inner .benefits-listing {
    margin: 0 -0.625rem;
  }
  .benefits-sec .benefits-inner .benefits-listing li {
    padding: 0 0.625rem;
  }
  .benefits-sec .benefits-inner .benefits-listing li .benefits-box .benefits-title {
    font-size: 1.125rem;
  }
  /* shop page end */
}
@media only screen and (max-width: 991px) {
  /* shop page start */
  .shop-main .product-sidebar {
    position: fixed;
    width: 18.75rem;
    top: 0;
    bottom: 0;
    right: -20rem;
    background: #fff;
    transition: all 0.6s ease-in-out;
    margin: 0;
    z-index: 9999;
    height: 100vh;
    overflow-y: auto;
    border-radius: 0;
  }
  .shop-main .product-sidebar.slide-product {
    right: 0;
  }
  .shop-main .product-sidebar .filter-sl {
    position: relative;
    display: block;
  }
  .shop-main .product-sidebar .filter-sl .filter-icon {
    display: none;
  }
  .shop-main .product-sidebar .filter-sl .filter-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5625rem;
    height: 1.5625rem;
    padding: 0;
  }
  .shop-main .product-sidebar .filter-sl .filter-close:before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.125rem;
    background: #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: auto;
    bottom: 0;
  }
  .shop-main .product-sidebar .filter-sl .filter-close:after {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.125rem;
    background: #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: auto;
    bottom: 0;
  }
  .shop-main .product-right-col {
    width: 100%;
  }
  .shop-main .product-top .shorting-sl .filter {
    display: flex;
    margin-right: 0.9375rem;
  }
  .shop-main .product-top .shorting-sl .filter label {
    color: rgba(0, 0, 0, 0.6);
    padding-right: 0.5rem;
  }
  .shop-main .product-top .shorting-sl .filter-sorting .custom-select-drop {
    padding-left: 6px;
  }
  .shop-main .product-top .shorting-sl .showing {
    display: none;
  }
  .benefits-sec {
    padding: 4.375rem 0;
  }
  .benefits-sec .benefits-inner {
    padding: 4rem 0;
    border-radius: 20px;
    background: #85DF96;
  }
  .benefits-sec .benefits-inner .sec-head {
    margin-bottom: 3.5rem;
  }
  .benefits-sec .benefits-inner .sec-head .title {
    font-size: 2.25rem;
  }
  .benefits-sec .benefits-inner .benefits-listing li {
    width: 48%;
  }
  /* shop page end */
}
@media only screen and (max-width: 767px) {
  /* shop page start */
  .shop-main .product-top .shorting-sl .filter {
    display: flex;
    margin-right: 0.9375rem;
  }
  .shop-main .product-top .shorting-sl .filter label {
    color: rgba(0, 0, 0, 0.6);
    padding-right: 0.5rem;
  }
  .shop-main .product-top .shorting-sl .filter-sorting .custom-select-drop {
    padding-left: 6px;
  }
  .product-list-item .products .product-text .product-title {
    font-size: 0.9375rem;
    margin-bottom: 0.75rem;
  }
  .benefits-sec {
    padding: 2.375rem 0;
  }
  .benefits-sec .benefits-inner {
    padding: 3rem 0;
    border-radius: 20px;
    background: #85DF96;
  }
  .benefits-sec .benefits-inner .sec-head {
    margin-bottom: 2.5rem;
  }
  .benefits-sec .benefits-inner .sec-head .title {
    font-size: 2.25rem;
  }
  .benefits-sec .benefits-inner .benefits-listing li {
    width: 48%;
  }
  /* shop page end */
}
@media only screen and (max-width: 568px) {
  /* shop page start */
  .shop-main .product-sidebar {
    width: 100%;
    right: -100%;
  }
  .shop-main .product-sidebar.slide-product {
    right: 0;
  }
  .benefits-sec {
    padding: 2.375rem 0;
  }
  .benefits-sec .benefits-inner {
    padding: 2rem 0;
    border-radius: 20px;
    background: #85DF96;
  }
  .benefits-sec .benefits-inner .sec-head {
    margin-bottom: 1.5rem;
  }
  .benefits-sec .benefits-inner .sec-head .title {
    font-size: 2rem;
  }
  .benefits-sec .benefits-inner .benefits-listing {
    margin: 0;
    text-align: left;
    padding: 0 20px;
  }
  .benefits-sec .benefits-inner .benefits-listing li {
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .benefits-sec .benefits-inner .benefits-listing li:last-child {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .benefits-sec .benefits-inner .benefits-listing li .benefits-box {
    display: flex;
  }
  .benefits-sec .benefits-inner .benefits-listing li .benefits-box .benefits-icon {
    margin-bottom: 0;
  }
  .benefits-sec .benefits-inner .benefits-listing li .benefits-box .benefitscon {
    padding-left: 15px;
  }
  .benefits-sec .benefits-inner .benefits-listing li .benefits-box .benefitscon .benefits-title {
    margin-bottom: 0;
  }
  /* shop page end */
}
@media only screen and (max-width: 489px) {
  /* shop page start */
  .shop-main .product-top {
    display: block;
  }
  .shop-main .product-top .shorting-sl {
    justify-content: space-between;
    margin-top: 15px;
  }
  /* shop page end */
}

/*# sourceMappingURL=m-style.css.map */
