@import 'varible.scss';

.btn{display: inline-block;font-weight: 500;line-height: 1.5;color: $white-color;background-color: $green-color;border: 1px solid $green-color;text-align: center;text-decoration: none;
	vertical-align: middle;cursor: pointer; -webkit-user-select: none;-moz-user-select: none;user-select: none;padding: 13px 20px;min-width: 218px;
    font-size: 1rem;border-radius: 62px;transition: all 0.4s ease-in-out;
    &:hover{background-color: transparent;color: $primary-color;border: 1px solid $green-color;}
}
.btn.btn-outline{background-color: transparent;color: $primary-color;border: 1px solid $green-color;
	&:hover{color: $white-color;background-color: $green-color;border: 1px solid $green-color;}
}
.btn.btn-white{background-color: $white-color;color: $green-color;border: 1px solid $white-color;
	&:hover{color: $white-color;background-color: $green-color;border: 1px solid $green-color;}
}

.swiper-button-prev, .swiper-button-next{margin-top: 0px;position: absolute;top: 50%;width: 45px;height: 45px;transform: translateY(-50%);}
.swiper-button-next{right: 0;}
.swiper-button-prev{left: 0px;}
.swiper-button-prev::after, .swiper-button-next::after {content: "";position: absolute;width: 28px;height: 28px;transform: rotate(-45deg);top: 9px;left: 16px;
transition: all 0.4s ease-in-out;}
.swiper-button-prev::after{border-top: 0.1875rem solid $primary-color;border-left: 0.1875rem solid $primary-color;}
.swiper-button-next::after{border-bottom: 0.1875rem solid $primary-color;border-right: 0.1875rem solid $primary-color;left: 1px;}


.slider__pagination{text-align: center;margin-top: 10px;margin-bottom: 30px;
		    & .swiper-pagination-bullet {
		    width: 13px;
		    height: 10px;
		    display: inline-block;
		    background: $green-color;
		    opacity: .2;
		    margin: 0 5px;
		    -webkit-border-radius: 20px;
		            border-radius: 20px;
		    -webkit-transition: opacity .5s, background-color .5s, width .5s;
		    -o-transition: opacity .5s, background-color .5s, width .5s;
		    transition: opacity .5s, background-color .5s, width .5s;
		    -webkit-transition-delay: .5s, .5s, 0s;
		         -o-transition-delay: .5s, .5s, 0s;
		            transition-delay: .5s, .5s, 0s;
		    }        
	}
	.swiper-pagination-clickable .swiper-pagination-bullet {
	    cursor: pointer;
	}
	.slider__pagination .swiper-pagination-bullet-active {
	    opacity: 1;
	    background: $green-color;
	    width: 30px;
	    -webkit-transition-delay: 0s;
	         -o-transition-delay: 0s;
	            transition-delay: 0s;
	}


/* Our-Collection-Start */
.our-collection-sec{
padding: 140px 0;
.sec-head{margin-bottom: 3.0625rem;}
}
.product-list-main{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -18px;
	padding-bottom: 50px;
	&.product-list-slide{display: block;
		.slick-track{display: flex;align-items: center;}
		.slick-center{
			.product-box{
				.product-img{
					padding-bottom: 96%;
					img{padding-top: 26px;}
				}
				.product-text{
					padding-top: 34px;padding-bottom: 28px;
					.product-title{font-size: 24px;}
					.product-rating{margin-bottom: 28px;}
					.product-price-btn{
						.product-price{
							.price-sale{font-size: 28px;}
							.price-compare{font-size: 28px;}
						}
					}
				}
				.product-price-btn{
					.btn{visibility: visible;opacity: 1;}
				}
			}
		}

	}
	.product-item{
		padding: 0 18px;display: inline-flex !important;min-height: 620px;
		&:nth-child(2) .product-box{background: linear-gradient(180deg, #FFB2FF 0%, #FFF 100%);}
		&:nth-child(3) .product-box{background: linear-gradient(180deg, #F9E58D 28.48%, #FFF 99.99%);}
	}
	
}
.product-box{
	border: 1px solid rgba(234, 234, 234, 0.92);
	border-radius: 18.172px;
	position: relative;
	background: linear-gradient(180deg, #8DCCFF 0.02%, #FFF 99.98%);width: 100%;display: flex;flex-wrap: wrap;align-self: center;
	.product-new{position: absolute;width:50px;height:50px;background:$green-color;color: $white-color;border-radius: 50%;line-height: 50px;text-align: center;
	font-weight: 500;font-size: 1rem;top: 20px;left: 28px;}
	.product-img{display: block;width: 100%;position: relative;padding-top: 38px;padding-bottom: 81%;
		img{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;width: auto;height: auto;max-width: 100%;max-height: 100%;padding: 37px 15px 0 15px;}
	}
	.product-text{
		 padding: 20px 28px;padding-top: 32px; padding-right: 12px;width: 100%;
		.product-title{font-size: 18px;font-weight: 600;color: $primary-color;line-height: 1.2;margin-bottom: 16px;}
		.product-rating{
			line-height: 0;
			margin-bottom: 13px;
			.review-star{
				max-width: 90px;width: 100%;
				display: inline-block;vertical-align: middle;line-height: 0;margin-right: 5px;
				.start-icon{
					display: inline-block;
					vertical-align: top;
					width: 100%;
					height: 14px;
					background: url(../assets/star.svg) left bottom repeat-x;
					.stars{
						display: block;
						width: 100%;
						height: 14px;
						background: url(../assets/star.svg) left top repeat-x;
					}
				}
			}
			.rating-num{
				display: inline-block;vertical-align: middle;
				font-size: 11px;
				small{opacity: 0.6;}
			}
			
		}
		.product-price-btn{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			.product-price{
				span{
					display: inline-block;vertical-align: middle;margin-right: 8px;line-height: 1;font-size: 24px;font-weight: 700;
				&.price-sale{color: $primary-color;}
				&.price-compare{color: $primary-color;opacity: 0.4;text-decoration: line-through;}
				&.price-discount{border-radius: 63px;background: rgba(255, 51, 51, 0.10);color: $red-color; font-size: 12px;font-weight: 500;text-align: center;line-height: 1;padding: 8px;min-width: 59px;
					}
				}
			}
			@media only screen and (min-width: 1199px) {
				.btn{opacity: 0;visibility: hidden;}
			}
			.btn{min-width: 140px;padding: 8px 15px;}
		}
	}
	&:hover .product-text{
		.product-price-btn{
			.btn{visibility: visible;opacity: 1;}
		}
	}
}

/* Our-Collection-End */

/* Customer-Favorites-Start */
.our-collection-sec{
	&.customer-favor-sec{
		.custom-fav-main{position: relative;}
		.favorites-pro-slider{max-width: 964px;}
		.product-list-main{
			&.swiper-wrapper{flex-wrap: unset;margin: 0;
				margin-left: -55px;
			}
			.product-item{padding: 0;height: auto;
				&.swiper-slide{width: 332px !important;}
				&.swiper-slide-prev{
					z-index: 1;
					.product-box{transform: rotate(-3.621deg) translate(70px);}
				}
				&.swiper-slide-active{
					z-index: 2;width: 392px !important;min-height: 573px;
					.product-box{transform: unset;box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.10);margin-bottom: 0;
					.product-img{padding-bottom: 93%;}
					.product-text{
						padding-top: 28px;
    					padding-bottom: 28px;
						.product-title{font-size: 22px;}
						.product-rating{margin-bottom: 28px;}
						.product-price-btn{
							.product-price{
								span{font-size: 28px;
									&.price-discount{font-size: 12px;}
									}
								}
							}
						}
					}
				}
				&.swiper-slide-next{
					z-index: -1;
					.product-box{transform: rotate(2.367deg) translate(-55px);}
				}
				.product-box{
					margin-bottom: 40px;align-self: end;
					.product-img{height: auto;padding-bottom: 77%;
						img{position: absolute;top: 0;left: 0;bottom: 0;right: 0;}
					}
					.product-text{
						padding-top: 28px;
						.product-title{font-size: 16px;}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 767px) {

.product-list-main .swiper-slide.swiper-slide-active {
  -webkit-animation-name: elastic1;
          animation-name: elastic1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.product-list-main .swiper-slide.swiper-slide-active {
  -webkit-animation-name: elastic1_sp;
          animation-name: elastic1_sp;
}

@-webkit-keyframes elastic1 {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.4);
  }
  55% {
    transform: scale(1.27);
  }
  70% {
    transform: scale(1.36);
  }
  85% {
    transform: scale(1.31);
  }
  100% {
    transform: scale(1.33);
  }
}

@keyframes elastic1 {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.4);
  }
  55% {
    transform: scale(1.27);
  }
  70% {
    transform: scale(1.36);
  }
  85% {
    transform: scale(1.31);
  }
  100% {
    transform: scale(1.33);
  }
}
@-webkit-keyframes elastic1_sp {
  0% {
    transform: scale(0.75);
  }
  40% {
    transform: scale(1.05);
  }
  55% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1.02);
  }
  85% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes elastic1_sp {
  0% {
    transform: scale(0.75);
  }
  40% {
    transform: scale(1.05);
  }
  55% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1.02);
  }
  85% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

}

/* Customer-Favorites-End */


@media only screen and (max-width: 1599px) {}
@media only screen and (max-width: 1366px) {
	.btn{min-width: 185px;}
	/* Our-Collection-Start */
	.our-collection-sec{
		padding: 100px 0;
		.sec-head{margin-bottom: 2rem;}
	}
	.product-list-main{margin: 0 -12px;
		.product-item{padding: 0 12px;min-height: 587px;}
		&.product-list-slide{
			.slick-center{
				.product-box{
/*					.product-img{height: 414px;}*/
					.product-text{
						padding-top: 20px;padding-bottom: 20px;
						.product-title{font-size: 22px;}
						.product-rating{margin-bottom: 18px;}
						.product-price-btn{
							.product-price{
								span{margin-right: 5px;}
								.price-sale{font-size: 26px;}
								.price-compare{font-size: 26px;}
							}
						}
					}
				}
			}
		}
	}
	.product-box{
		.product-new{width: 40px;height: 40px;line-height: 40px;font-size: 14px;left: 22px;}
		.product-img{padding-top: 24px;
/*			height: 360px;*/
		}
		.product-text{padding-left: 20px;
			.product-title{margin-bottom: 14px;}
			.product-price-btn{
				.product-price{
					span{font-size: 22px;
					}
				}
				.btn{min-width: 128px;}
			}
			.product-rating{margin-bottom: 9px;}
		}
	}
	/* Our-Collection-End */
}
@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1199px) {

.swiper-button-prev, .swiper-button-next{width: 35px;height: 35px;}
.swiper-button-prev::after, .swiper-button-next::after {width: 20px;height: 20px;top: 8px;left: 12px;}
.swiper-button-next::after{left: 3px;}


	/* Our-Collection-Start */
	.our-collection-sec{
		padding: 60px 0;
	}
	.product-list-main{margin: 0 -7px;padding-bottom: 35px;
		.product-item{padding: 0 7px;min-height: 504px;}
		&.product-list-slide{
			.slick-center{
				.product-box{
/*					.product-img{height: 370px;}*/
					.product-text{
						padding-top: 18px;padding-bottom: 18px;
						.product-title{font-size: 18px;}
						.product-rating{margin-bottom: 10px;}
						.product-price-btn{
							.product-price{
								span{margin-right: 3px;}
								.price-sale{font-size: 20px;}
								.price-compare{font-size: 20px;}
							}
						}
					}
				}
			}
		}
	}
	.product-box{
		.product-new{width: 35px;height: 35px;line-height: 35px;font-size: 12px;left: 18px;top: 18px;}
		.product-img{padding-top: 15px;
/*			height: 330px;*/
		}
		.product-text{padding:18px 15px;
			.product-title{margin-bottom: 10px;font-size: 16px;}
			.product-rating{
				.review-star{
					max-width: 78px;margin-right: 3px;
					.start-icon{height: 12px;
						.stars{height: 12px;}
					}
				}
			}
			.product-price-btn{
				.product-price{
					span{font-size: 18px;margin-right: 5px;
						&.price-discount{font-size: 10px;padding: 6px;min-width: 42px;}
					}
				}
				.btn{min-width: 106px;font-size: 14px;padding: 6px 12px;}
			}
			.product-rating{margin-bottom: 6px;}
		}
	}
	/* Our-Collection-End */

	/* Customer-Favorites-Start */
	.our-collection-sec{
		&.customer-favor-sec{
			.favorites-pro-slider{max-width: 78%;}
			 .product-list-main{
			 	&.swiper-wrapper{margin-left: -82px;}
			 	 .product-item{
			 	 	&.swiper-slide{width: 270px !important;}
			 	 	&.swiper-slide-active{width: 300px !important;min-height: 430px;
			 	 		.product-box{
			 	 			.product-text{
			 	 				.product-title{font-size: 16px;}
			 	 				.product-rating{margin-bottom: 15px;}
			 	 				.product-price-btn{
			 	 					.product-price{
			 	 						span{font-size: 20px;
			 	 							&.price-discount{font-size: 10px;}
			 	 						}
			 	 					}
			 	 				}
			 	 			}
			 	 		}
			 	 	}
			 	 	.product-box{
			 	 		margin-bottom: 20px;
			 	 		.product-text{
			 	 			.product-title{font-size: 16px;}
			 	 			.product-price-btn{
			 	 					.product-price{
			 	 						span{font-size: 18px;
			 	 						&.price-discount{font-size: 10px;}
			 	 					}
			 	 					}
			 	 				}
			 	 		}
			 	 	}
			 	 }
			 } 
		}

	}

	
	/* Customer-Favorites-End */

}
@media only screen and (max-width: 991px) {
	/* Our-Collection-Start */
	.product-list-main{
		.product-item{min-height: inherit;}
		/*&.product-list-slide{
			.slick-center{
				.product-box{
					.product-img{height: 330px;}
					.product-text{
						.product-title{font-size: 16px;}
						.product-rating{margin-bottom: 6px;}
						.product-price-btn{
							.product-price{
								.price-sale{font-size: 18px;}
								.price-compare{font-size: 18px;}
							}
						}
					}
				}
			}
		}*/
	}
	.product-box{
/*		.product-img{height: 330px;}*/
	}

	/* Our-Collection-End */


	/* Customer-Favorites-Start */
	.our-collection-sec{
		&.customer-favor-sec{
			.favorites-pro-slider{max-width: 100%;}
			 .product-list-main{
			 	&.swiper-wrapper{margin-left: -80px;}
			 	 .product-item{
			 	 	&.swiper-slide-prev{
			 	 		.product-box{transform: rotate(-3.621deg) translate(90px);}
			 	 	}
			 	 	&.swiper-slide{width: 260px !important;}
			 	 	&.swiper-slide-active{width: 290px !important;min-height: 430px;}
			 	 	&.swiper-slide-next{
			 	 		.product-box{transform: rotate(2.367deg) translate(-90px);}
			 	 	}
			 	 }
			 }
			 .swiper-button-prev,.swiper-button-next {display: none;}
		}
	}
	/* Customer-Favorites-End */

}
@media only screen and (max-width: 767px) {
	/* Our-Collection-Start */
	.our-collection-sec{
		padding: 40px 0;
	}
	/* Our-Collection-End */

	/* Customer-Favorites-Start */
	.our-collection-sec{
		&.customer-favor-sec{
			.favorites-pro-slider{max-width: 100%;}
			 .product-list-main{
			 	margin: 0 -7px;
			 	&.swiper-wrapper{margin-left: 0px;}
			 	 .product-item{
			 	 	padding: 0 7px;
			 	 	&.swiper-slide-prev{
			 	 		.product-box{transform: none;}
			 	 	}
			 	 	&.swiper-slide{width: 50% !important;}
			 	 	&.swiper-slide-active{width: 50% !important;min-height: 100%;
			 	 		.product-box{
			 	 			box-shadow: none;
			 	 			.product-img{padding-bottom: 77%;}
			 	 			.product-text{padding-top: 18px;padding-bottom: 18px;
			 	 				.product-rating{margin-bottom: 6px;}
			 	 				.product-price-btn{
			 	 					.product-price{
			 	 						span{font-size: 18px;}
			 	 					}
			 	 				}
			 	 			}
			 	 		}
			 	 	}
			 	 	&.swiper-slide-next{
			 	 		.product-box{transform: none;}
			 	 	}
			 	 	.product-box{margin-bottom: 0;
			 	 		.product-text{padding-top: 18px;padding-bottom: 18px;}
			 	 	}
			 	 }
			 }
		}
	}
	/* Customer-Favorites-End */
}
@media only screen and (max-width: 568px) {
	/* Our-Collection-Start */

	/*.product-list-main{
		&.product-list-slide{
			.slick-center{
				.product-box{
					.product-img{height: 270px;}
				}
			}
		}
	}*/
	.product-box{
/*		.product-img{height: 270px;}*/
		.product-text{			
			.product-price-btn{
				.product-price{
					span{margin-right: 3px;
					}
				}
				.btn{min-width: 100px;font-size: 13px;padding: 5px 10px;}
			}
		}
	}
	
	/* Our-Collection-End */
}

@media only screen and (max-width: 500px) {
	/* Our-Collection-Start */

	/*.product-list-main{
		&.product-list-slide{
			.slick-center{
				.product-box{
					.product-img{height: 220px;}
				}
			}
		}
	}*/
	.product-box{
/*		.product-img{height: 220px;}*/
	}
	
	/* Our-Collection-End */

	/* Customer-Favorites-Start */
	.our-collection-sec{
		&.customer-favor-sec{
			 .product-list-main{
			 	 .product-item{
			 	 	&.swiper-slide{width: 100% !important;}
			 	 	&.swiper-slide-active{width: 100% !important;}
			 	 	}
			 }
		}
	}
	/* Customer-Favorites-End */
}

