:root {
  --app-height: $base-height;
}

.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  background-color: #01390C;
  border: 0.0625rem solid #01390C;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.8125rem 1.25rem;
  min-width: 13.625rem;
  font-size: 1rem;
  border-radius: 3.875rem;
  transition: all 0.4s ease-in-out;
  background: #01390C;
  background-image: url(./bg-fill-white.png);
  background-repeat: repeat-x !important;
  background-position: 0 -100% !important;
  transition: 1.5s ease;
}
@media only screen and (min-width: 1199px) {
  .btn:hover {
    background-color: transparent;
    color: #000;
    border: 0.0625rem solid #01390C;
    background-position: center !important;
  }
}

.btn.btn-outline {
  background-color: transparent;
  color: #000;
  border: 0.0625rem solid #01390C;
  background-image: url(./bg-fill-green.png);
}
@media only screen and (min-width: 1199px) {
  .btn.btn-outline:hover {
    color: #fff;
    background-color: transparent;
    border: 0.0625rem solid #01390C;
  }
}

.btn.btn-white {
  background-color: #fff;
  color: #01390C;
  border: 0.0625rem solid #fff;
  background-image: url(./bg-fill-green.png);
}
@media only screen and (min-width: 1199px) {
  .btn.btn-white:hover {
    color: #fff;
    background-color: transparent;
    border: 0.0625rem solid #01390C;
  }
}

.btn-check:focus + .btn, .btn:focus {
  box-shadow: none;
}

.swiper-button-prev, .swiper-button-next {
  margin-top: 0;
  position: absolute;
  top: 50%;
  width: 2.8125rem;
  height: 2.8125rem;
  transform: translateY(-50%);
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-prev::after, .swiper-button-next::after {
  content: "";
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  transform: rotate(-45deg);
  top: 0.5625rem;
  left: 1rem;
  transition: all 0.4s ease-in-out;
}

.swiper-button-prev::after {
  border-top: 0.1875rem solid #000;
  border-left: 0.1875rem solid #000;
}

.swiper-button-next::after {
  border-bottom: 0.1875rem solid #000;
  border-right: 0.1875rem solid #000;
  left: 0.0625rem;
}

.slider-pagination {
  text-align: center;
  margin-top: 0.625rem;
  margin-bottom: 1.875rem;
}
.slider-pagination .swiper-pagination-bullet {
  width: 0.625rem;
  height: 0.625rem;
  display: inline-block;
  background: #01390C;
  opacity: 0.2;
  margin: 0 0.3125rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.slider-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #01390C;
  width: 0.625rem;
}

.body-blue {
  background: linear-gradient(180deg, #8DCCFF 0.02%, #FFF 99.98%);
}

.mind-pink {
  background: linear-gradient(180deg, #FFB2FF 0%, #FFF 100%);
}

.spirit-orange {
  background: linear-gradient(180deg, #F9E58D 28.48%, #FFF 99.99%);
}

.title-gn {
  color: #01390C;
}

/* Our-Collection-Start */
.our-collection-sec {
  padding: 8.75rem 0;
  position: relative;
  padding-top: 6.75rem;
}
.our-collection-sec .sec-head {
  margin-bottom: 3.0625rem;
}
.our-collection-sec:after {
  content: "";
  position: absolute;
  bottom: 3.125rem;
  right: 0;
  background: url(dropper-pattern-right.svg) no-repeat;
  background-position: bottom right;
  background-size: contain;
  width: 10.8125rem;
  height: 11.25rem;
  z-index: -1;
}
@media only screen and (min-width: 1366px) {
  .our-collection-sec.collection-sec .product-box:hover .product-img {
    padding-bottom: 96%;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-img img {
    padding-top: 1.625rem;
    visibility: hidden;
    opacity: 0;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-img .hidden {
    visibility: visible;
    opacity: 1;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-text {
    padding-top: 2.125rem;
    padding-bottom: 1.75rem;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-text .product-title {
    font-size: 1.5rem;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-text .product-rating {
    margin-bottom: 1.75rem;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-text .product-price-btn .product-price .price-sale {
    font-size: 1.75rem;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-text .product-price-btn .product-price .price-compare {
    font-size: 1.75rem;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-price-btn .btn {
    visibility: visible;
    opacity: 1;
  }
}
@media only screen and (min-width: 1199px) {
  .our-collection-sec.collection-sec .product-box:hover .product-text {
    padding-top: 2.25rem;
    padding-bottom: 1.8rem;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-text .product-title {
    font-size: 1.375rem;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-text .product-rating {
    margin-bottom: 1.7rem;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-text .product-price-btn .product-price span {
    margin-right: 0.3125rem;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-text .product-price-btn .product-price .price-sale {
    font-size: 1.625rem;
  }
  .our-collection-sec.collection-sec .product-box:hover .product-text .product-price-btn .product-price .price-compare {
    font-size: 1.625rem;
  }
}

.product-list-main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.125rem;
  padding-bottom: 3.125rem;
}
.product-list-main.product-list-slide {
  display: block;
}
.product-list-main.product-list-slide .slick-track {
  display: flex;
  align-items: center;
}
.product-list-main.product-list-slide .slick-center .product-box .product-img {
  padding-bottom: 96%;
}
.product-list-main.product-list-slide .slick-center .product-box .product-img img {
  padding-top: 1.625rem;
  visibility: hidden;
  opacity: 0;
}
.product-list-main.product-list-slide .slick-center .product-box .product-img .hidden {
  visibility: visible;
  opacity: 1;
}
.product-list-main.product-list-slide .slick-center .product-box .product-text {
  padding-top: 2.125rem;
  padding-bottom: 1.75rem;
}
.product-list-main.product-list-slide .slick-center .product-box .product-text .product-title {
  font-size: 1.5rem;
}
.product-list-main.product-list-slide .slick-center .product-box .product-text .product-rating {
  margin-bottom: 1.75rem;
}
.product-list-main.product-list-slide .slick-center .product-box .product-text .product-price-btn .product-price .price-sale {
  font-size: 1.75rem;
}
.product-list-main.product-list-slide .slick-center .product-box .product-text .product-price-btn .product-price .price-compare {
  font-size: 1.75rem;
}
.product-list-main.product-list-slide .slick-center .product-box .product-price-btn .btn {
  visibility: visible;
  opacity: 1;
}
.product-list-main .product-item {
  padding: 0 1.125rem;
  display: inline-flex !important;
  min-height: 36.75rem;
  width: 33.33%;
}

.product-box {
  border: 0.0625rem solid rgba(234, 234, 234, 0.92);
  border-radius: 1.1358rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
.product-box .product-new {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  background: #01390C;
  color: #fff;
  border-radius: 50%;
  line-height: 3.125rem;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  top: 1.25rem;
  left: 1.75rem;
  z-index: 1;
}
.product-box .product-img {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 81%;
}
.product-box .product-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 2.3125rem 0.9375rem 0 0.9375rem;
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}
.product-box .product-img .hidden {
  visibility: hidden;
  opacity: 0;
}
.product-box .product-text {
  padding: 1.25rem 1.75rem;
  padding-top: 2rem;
  padding-right: 0.75rem;
  width: 100%;
}
.product-box .product-text .product-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #000;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.product-box .product-text .product-rating {
  line-height: 0;
  margin-bottom: 0.8125rem;
}
.product-box .product-text .product-rating .review-star {
  max-width: 5.625rem;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin-right: 0.3125rem;
}
.product-box .product-text .product-rating .review-star .start-icon {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 0.875rem;
  background: url(../assets/star.svg) left bottom repeat-x;
}
.product-box .product-text .product-rating .review-star .start-icon .stars {
  display: block;
  width: 100%;
  height: 0.875rem;
  background: url(../assets/star.svg) left top repeat-x;
}
.product-box .product-text .product-rating .rating-num {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.6875rem;
}
.product-box .product-text .product-rating .rating-num small {
  opacity: 0.6;
}
.product-box .product-text .product-price-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.product-box .product-text .product-price-btn .product-price {
  width: calc(100% - 8.75rem);
}
.product-box .product-text .product-price-btn .product-price span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
}
.product-box .product-text .product-price-btn .product-price span.price-sale {
  color: #000;
}
.product-box .product-text .product-price-btn .product-price span.price-compare {
  color: #000;
  opacity: 0.4;
  text-decoration: line-through;
}
.product-box .product-text .product-price-btn .product-price span.price-discount {
  border-radius: 3.9375rem;
  background: rgba(255, 51, 51, 0.1);
  color: #FF3333;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  padding: 0.5rem;
  min-width: 3.6875rem;
  margin-top: 0.3125rem;
}
@media only screen and (min-width: 1199px) {
  .product-box .product-text .product-price-btn .btn {
    opacity: 0;
    visibility: hidden;
  }
}
.product-box .product-text .product-price-btn .btn {
  min-width: 8.75rem;
  padding: 0.5rem 0.9375rem;
}
@media only screen and (min-width: 991px) {
  .product-box:hover .product-img img {
    visibility: hidden;
    opacity: 0;
  }
  .product-box:hover .product-img .hidden {
    visibility: visible;
    opacity: 1;
  }
}
.product-box:hover .product-text .product-price-btn .btn {
  visibility: visible;
  opacity: 1;
}

/* Our-Collection-End */
/* Customer-Favorites-Start */
.our-collection-sec.customer-favor-sec {
  padding-top: 2.25rem;
}
.our-collection-sec.customer-favor-sec .sec-head {
  margin-bottom: 2.625rem;
}
.our-collection-sec.customer-favor-sec:after {
  content: "";
  position: absolute;
  top: 1.5625rem;
  right: 0;
  background: url(fav-pattern-right.svg) no-repeat;
  background-position: top right;
  background-size: contain;
  width: 16.25rem;
  height: 15.9375rem;
  z-index: -1;
}
.our-collection-sec.customer-favor-sec .custom-fav-main {
  position: relative;
}
.our-collection-sec.customer-favor-sec .custom-fav-main .slider-pagination {
  display: none;
}
.our-collection-sec.customer-favor-sec .favorites-pro-slider {
  max-width: 60.25rem;
}
.our-collection-sec.customer-favor-sec .product-list-main.swiper-wrapper {
  flex-wrap: unset;
  margin: 0;
  margin-left: -3.4375rem;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item {
  padding: 0;
  height: inherit;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide {
  width: 20.75rem !important;
  visibility: hidden;
  opacity: 0;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-prev {
  z-index: 1;
  visibility: visible;
  opacity: 1;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active {
  z-index: 2;
  width: 24.5rem !important;
  min-height: auto;
  visibility: visible;
  opacity: 1;
  margin-bottom: 0;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box {
  transform: unset;
  box-shadow: 0 0 0.625rem 0.125rem rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-img {
  padding-bottom: 93%;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text {
  padding-top: 3.8rem;
  padding-bottom: 2rem;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text .product-title {
  font-size: 1.375rem;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text .product-rating {
  margin-bottom: 1.75rem;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text .product-price-btn .product-price span {
  font-size: 1.75rem;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text .product-price-btn .product-price span.price-discount {
  font-size: 0.75rem;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-next {
  z-index: -1;
  visibility: visible;
  opacity: 1;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box {
  margin-bottom: 2.6rem;
  align-self: end;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box .product-img {
  height: auto;
  padding-bottom: 95%;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box .product-img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: visible;
  opacity: 1;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box .product-img .hidden {
  display: none;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box .product-text {
  padding-top: 1.75rem;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box .product-text .product-title {
  font-size: 1rem;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box .product-text .product-price-btn .product-price {
  width: 100%;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box .product-text .product-price-btn .product-price .price-discount {
  font-size: 0.625rem;
  min-width: 3.375rem;
  padding: 0.447rem;
}
.our-collection-sec.customer-favor-sec .product-list-main .product-item .swiper-slide-shadow {
  display: none;
}

/* Customer-Favorites-End */
/* Article-Start */
.article {
  background: url(article-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}
.article .header-main:before {
  display: none;
}

.article-sec .article-row {
  display: flex;
  align-items: center;
  margin-bottom: 5.5rem;
}
.article-sec .article-row .article-col {
  width: 100%;
}
.article-sec .article-row .article-col:last-child {
  width: 86%;
}
.article-sec .article-img {
  border-radius: 0.999375rem;
  overflow: hidden;
}
.article-sec .article-img img {
  width: 100%;
}
.article-sec .article-text {
  color: #01390C;
  padding: 0 0.9375rem;
  max-width: 25.625rem;
  margin: auto;
  text-align: center;
}
.article-sec .article-text .sec-head {
  margin-bottom: 3.125rem;
}
.article-sec .article-text .sec-head .title {
  font-size: 1.75rem;
  text-transform: uppercase;
}
.article-sec .article-text hr {
  background: #62523B;
  opacity: 1;
  margin: 0;
}
.article-sec .article-text .article-date {
  font-size: 1.5rem;
  font-family: "Reckless Neue";
  line-height: 1;
  margin-top: 1.5rem;
  display: block;
}
.article-sec .cms-con {
  padding-left: 2.625rem;
  max-width: 48.125rem;
}
.article-sec .cms-con p {
  font-size: 1.25rem;
}

.article-con-row {
  display: flex;
  margin-bottom: 2.5rem;
}
.article-con-row .article-con-col {
  width: 100%;
}
.article-con-row .article-con-col:last-child {
  width: 40%;
}

.latestblog-main .latest-slide {
  margin-bottom: 5.25rem;
}

.related-sec {
  padding-bottom: 7.1875rem;
}
.related-sec .sec-head {
  margin-bottom: 4.4375rem;
}
.related-sec .related-main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.875rem;
}
@media only screen and (max-width: 767px) {
  .related-sec .related-main.related-slide {
    display: block;
  }
}
.related-sec .related-main .related-item {
  padding: 0 1.875rem;
  width: 33.33%;
}
.related-sec .related-box .related-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Reckless Neue";
  margin-bottom: 1.75rem;
}
.related-sec .related-box .related-title a {
  color: #01390C;
}
.related-sec .related-box .related-title a:hover {
  color: #000;
}
.related-sec .related-box .date-wellness {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3;
}

.more-enjoy-sec {
  padding-bottom: 2.5rem;
}
.more-enjoy-sec .sec-head {
  margin-bottom: 4.375rem;
}
.more-enjoy-sec .more-enjoy-main .slick-prev {
  left: -6rem;
}
.more-enjoy-sec .more-enjoy-main .slick-prev:before {
  border-color: #000;
}
.more-enjoy-sec .more-enjoy-main .slick-prev:hover:before {
  border-color: #01390C;
}
.more-enjoy-sec .more-enjoy-main .slick-next {
  right: -6rem;
}
.more-enjoy-sec .more-enjoy-main .slick-next:before {
  border-color: #000;
}
.more-enjoy-sec .more-enjoy-main .slick-next:hover:before {
  border-color: #01390C;
}
.more-enjoy-sec .more-enjoy-main .slick-list {
  border-radius: 0.625rem;
  overflow: hidden;
  line-height: 0;
}
.more-enjoy-sec .more-enjoy-box {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.more-enjoy-sec .more-enjoy-box:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #000 5.12%, rgba(0, 0, 0, 0) 35.1%);
  transition: height 0.5s ease-in-out;
  z-index: 1;
}
.more-enjoy-sec .more-enjoy-box .more-enjoy-img {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 163%;
  overflow: hidden;
}
.more-enjoy-sec .more-enjoy-box .more-enjoy-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  transition-duration: 2s;
  transition: all 0.8s ease-in-out;
}
.more-enjoy-sec .more-enjoy-box .enjoy-text {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
  padding: 1.5625rem;
}
.more-enjoy-sec .more-enjoy-box .enjoy-text .enjoy-title {
  font-size: 1.75rem;
  color: #fff;
  font-family: "Reckless Neue";
  line-height: 1.3;
}
@media only screen and (min-width: 1199px) {
  .more-enjoy-sec .more-enjoy-box:hover .more-enjoy-img img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
  }
}

.latestblog-con {
  text-align: center;
  margin-bottom: 4.375rem;
}
.latestblog-con .sec-head {
  margin-bottom: 1.4375rem;
}
.latestblog-con .sec-head .title {
  font-weight: 400;
}
.latestblog-con .cms-con p {
  font-size: 1.125rem;
}

.latest-blog-sec.common-sec.wellness-insights-sec {
  padding-bottom: 1.875rem;
}

/* Article-End */
/* CMS-Con-Start */
.cms-con {
  display: block;
  width: 100%;
  color: #000;
}
.cms-con p {
  display: block;
  margin-bottom: 1.5rem;
  color: #000;
  line-height: 1.4;
  font-weight: 400;
  font-size: 1rem;
}
.cms-con p a {
  text-transform: initial;
}
.cms-con ul {
  list-style: none;
  font-size: 0;
  margin-bottom: 1rem; /*display: grid;*/
}
.cms-con ul li {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  position: relative;
}
.cms-con ul li:before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  position: absolute;
  left: 0;
  top: 0.5625rem;
  background: #01390C;
}
.cms-con ul li:last-child {
  margin-bottom: 0;
}
.cms-con ul li ul {
  margin-top: 0.5rem;
}
.cms-con h1 {
  font-size: 2.75rem;
  line-height: 1.3;
  font-weight: 700;
  color: #000;
  display: block;
  margin-bottom: 1.6rem;
  padding-top: 0rem;
}
.cms-con h2 {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 700;
  color: #000;
  display: block;
  margin-bottom: 1.6rem;
  padding-top: 0rem;
}
.cms-con h3 {
  font-size: 2.125rem;
  line-height: 1.3;
  font-weight: 700;
  color: #000;
  display: block;
  margin-bottom: 1.6rem;
  padding-top: 0rem;
}
.cms-con h4 {
  font-size: 1.75rem;
  line-height: 1.3;
  font-weight: 700;
  color: #000;
  display: block;
  margin-bottom: 1.6rem;
  padding-top: 0rem;
}
.cms-con h5 {
  font-size: 1.375rem;
  line-height: 1.3;
  font-weight: 700;
  color: #000;
  display: block;
  margin-bottom: 1.6rem;
  padding-top: 0rem;
}
.cms-con h6 {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 700;
  color: #000;
  display: block;
  margin-bottom: 1.6rem;
  padding-top: 0rem;
}
.cms-con iframe {
  width: 100%;
  height: 31.25rem;
}
.cms-con .alignleft {
  float: left;
  width: auto;
  max-width: 50%;
  margin: 0 6rem 2rem 0;
}
.cms-con .alignright {
  float: right;
  width: auto;
  max-width: 50%;
  margin: 0 0 2rem 6rem;
}
.cms-con .aligncenter {
  width: auto;
  max-width: 100%;
  margin: 0 auto 2rem auto;
  text-align: center;
}
.cms-con .aligncenter img {
  margin: auto;
}
.cms-con ol {
  padding: 0 0;
  display: inline-block;
  counter-reset: cmscon-counter;
  list-style-type: none;
}
.cms-con ol li {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  list-style: none;
  margin-bottom: 0.5rem;
  padding-left: 0;
}
.cms-con ol li:before {
  counter-increment: cmscon-counter;
  content: "" counter(cmscon-counter) ".";
  line-height: 1.4;
}
.cms-con ol li ul {
  margin-top: 1rem;
}
.cms-con ol li ul li {
  padding-left: 2.4rem;
  position: relative;
}
.cms-con ol li ul li:before {
  counter-increment: none;
  content: no-close-quote;
}
.cms-con ul.half li {
  width: 50%;
  display: inline-block;
}
.cms-con b {
  margin-bottom: 0;
  display: inline;
  margin-bottom: 1.5rem;
  display: inline;
}
.cms-con p b {
  margin-bottom: 0;
}
.cms-con p span {
  font-size: 1.25rem;
}
.cms-con a {
  transition: color 0.4s ease-in-out;
  color: #01390C;
}
.cms-con a:hover {
  color: #000;
}
.cms-con p a {
  transition: color 0.4s ease-in-out;
  color: #01390C;
}
.cms-con p a:hover {
  color: #000;
}
.cms-con p a.btn:hover {
  color: #000;
}
.cms-con .clearfix {
  clear: both;
}

/* CMS-Con-End */
@media only screen and (max-width: 1599px) {
  /* Article-Start */
  .more-enjoy-sec .more-enjoy-main .slick-prev {
    left: -2.8125rem;
  }
  .more-enjoy-sec .more-enjoy-main .slick-next {
    right: -2.8125rem;
  }
  /* Article-End */
}
@media only screen and (max-width: 1440px) {
  .our-collection-sec:after {
    width: 6rem;
    height: 9rem;
  }
  .our-collection-sec.customer-favor-sec:after {
    width: 10.8125rem;
    height: 10.8125rem;
  }
}
@media only screen and (max-width: 1366px) {
  .btn {
    min-width: 11.5625rem;
  }
  /* Our-Collection-Start */
  .our-collection-sec {
    padding: 6.25rem 0;
  }
  .our-collection-sec .sec-head {
    margin-bottom: 2rem;
  }
  .product-list-main {
    margin: 0 -0.75rem;
  }
  .product-list-main .product-item {
    padding: 0 0.75rem;
    min-height: 36.6875rem;
  }
  .product-list-main.product-list-slide .slick-center .product-box .product-text {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .product-list-main.product-list-slide .slick-center .product-box .product-text .product-title {
    font-size: 1.375rem;
  }
  .product-list-main.product-list-slide .slick-center .product-box .product-text .product-rating {
    margin-bottom: 1.125rem;
  }
  .product-list-main.product-list-slide .slick-center .product-box .product-text .product-price-btn .product-price span {
    margin-right: 0.3125rem;
  }
  .product-list-main.product-list-slide .slick-center .product-box .product-text .product-price-btn .product-price .price-sale {
    font-size: 1.625rem;
  }
  .product-list-main.product-list-slide .slick-center .product-box .product-text .product-price-btn .product-price .price-compare {
    font-size: 1.625rem;
  }
  .product-box .product-new {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 0.875rem;
    left: 1.375rem;
  }
  .product-box .product-img img {
    padding-top: 1.5rem;
  }
  .product-box .product-text {
    padding-left: 1.25rem;
  }
  .product-box .product-text .product-title {
    margin-bottom: 0.875rem;
  }
  .product-box .product-text .product-price-btn .product-price {
    width: calc(100% - 8rem);
  }
  .product-box .product-text .product-price-btn .product-price span {
    font-size: 1.375rem;
  }
  .product-box .product-text .product-price-btn .btn {
    min-width: 8rem;
  }
  .product-box .product-text .product-rating {
    margin-bottom: 0.5625rem;
  }
  /* Our-Collection-End */
}
@media only screen and (max-width: 1199px) {
  .swiper-button-prev, .swiper-button-next {
    width: 2.1875rem;
    height: 2.1875rem;
  }
  .swiper-button-prev::after, .swiper-button-next::after {
    width: 1.25rem;
    height: 1.25rem;
    top: 0.5rem;
    left: 0.75rem;
  }
  .swiper-button-next::after {
    left: 0.1875rem;
  }
  /* Our-Collection-Start */
  .our-collection-sec {
    padding: 3.75rem 0;
  }
  .our-collection-sec:after {
    width: 5rem;
    height: 7rem;
  }
  .product-list-main {
    margin: 0 -0.4375rem;
    padding-bottom: 2.1875rem;
  }
  .product-list-main .product-item {
    padding: 0 0.4375rem;
    min-height: 31.5rem;
  }
  .product-list-main.product-list-slide .slick-center .product-box .product-text {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
  }
  .product-list-main.product-list-slide .slick-center .product-box .product-text .product-title {
    font-size: 1.125rem;
  }
  .product-list-main.product-list-slide .slick-center .product-box .product-text .product-rating {
    margin-bottom: 0.625rem;
  }
  .product-list-main.product-list-slide .slick-center .product-box .product-text .product-price-btn .product-price span {
    margin-right: 0.1875rem;
  }
  .product-list-main.product-list-slide .slick-center .product-box .product-text .product-price-btn .product-price .price-sale {
    font-size: 1.25rem;
  }
  .product-list-main.product-list-slide .slick-center .product-box .product-text .product-price-btn .product-price .price-compare {
    font-size: 1.25rem;
  }
  .product-box .product-new {
    width: 2.1875rem;
    height: 2.1875rem;
    line-height: 2.1875rem;
    font-size: 0.75rem;
    left: 1.125rem;
    top: 1.125rem;
  }
  .product-box .product-img img {
    padding-top: 0.9375rem;
    visibility: visible;
    opacity: 1;
  }
  .product-box .product-text {
    padding: 1.125rem 0.9375rem;
  }
  .product-box .product-text .product-title {
    margin-bottom: 0.625rem;
    font-size: 1rem;
  }
  .product-box .product-text .product-rating .review-star {
    max-width: 4.875rem;
    margin-right: 0.1875rem;
  }
  .product-box .product-text .product-rating .review-star .start-icon {
    height: 0.75rem;
  }
  .product-box .product-text .product-rating .review-star .start-icon .stars {
    height: 0.75rem;
  }
  .product-box .product-text .product-price-btn .product-price {
    width: calc(100% - 6.625rem);
  }
  .product-box .product-text .product-price-btn .product-price span {
    font-size: 1.125rem;
    margin-right: 0.3125rem;
  }
  .product-box .product-text .product-price-btn .product-price span.price-discount {
    font-size: 0.625rem;
    padding: 0.375rem;
    min-width: 2.625rem;
  }
  .product-box .product-text .product-price-btn .btn {
    min-width: 6.625rem;
    font-size: 0.875rem;
    padding: 0.375rem 0.75rem;
  }
  .product-box .product-text .product-rating {
    margin-bottom: 0.375rem;
  }
  /* Our-Collection-End */
  /* Customer-Favorites-Start */
  .our-collection-sec.customer-favor-sec {
    padding-top: 0;
  }
  .our-collection-sec.customer-favor-sec .sec-head {
    margin-bottom: 0;
  }
  .our-collection-sec.customer-favor-sec:after {
    width: 6rem;
    height: 8rem;
  }
  .our-collection-sec.customer-favor-sec .favorites-pro-slider {
    max-width: 78%;
  }
  .our-collection-sec.customer-favor-sec .product-list-main.swiper-wrapper {
    margin-left: -2.5rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide {
    width: 16.875rem !important;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active {
    width: 18.75rem !important;
    min-height: 26.875rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text .product-title {
    font-size: 1rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text .product-rating {
    margin-bottom: 0.9375rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text .product-price-btn .product-price span {
    font-size: 1.25rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text .product-price-btn .product-price span.price-discount {
    font-size: 0.625rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box {
    margin-bottom: 1.25rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box .product-text .product-title {
    font-size: 1rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box .product-text .product-price-btn .product-price span {
    font-size: 1.125rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box .product-text .product-price-btn .product-price span.price-discount {
    font-size: 0.625rem;
  }
  /* Customer-Favorites-End */
  /* Article-Start */
  .article-sec .article-text .sec-head {
    margin-bottom: 2.1875rem;
  }
  .article-sec .article-text .sec-head .title {
    font-size: 1.6rem;
  }
  .article-sec .article-text .article-date {
    margin-top: 0.9375rem;
    font-size: 1.25rem;
  }
  .article-sec .article-row {
    margin-bottom: 3.125rem;
  }
  .article-sec .cms-con {
    padding-left: 0;
    max-width: 90%;
  }
  .article-sec .cms-con p {
    font-size: 1rem;
  }
  .article-con-row .article-con-col:last-child {
    width: 45%;
  }
  .related-sec {
    padding-bottom: 4.375rem;
  }
  .related-sec .sec-head {
    margin-bottom: 2.5rem;
  }
  .related-sec .related-box .related-title {
    font-size: 1.25rem;
    margin-bottom: 1.4rem;
  }
  .related-sec .related-box .date-wellness {
    font-size: 1rem;
  }
  .more-enjoy-sec .sec-head {
    margin-bottom: 3.125rem;
  }
  .more-enjoy-sec .more-enjoy-box .enjoy-text {
    padding: 1.125rem;
  }
  .more-enjoy-sec .more-enjoy-box .enjoy-text .enjoy-title {
    font-size: 1.375rem;
  }
  .latestblog-con {
    margin-bottom: 3.125rem;
  }
  /* Article-End */
}
@media only screen and (max-width: 991px) {
  /* Our-Collection-Start */
  .our-collection-sec:after {
    display: none;
  }
  .our-collection-sec.collection-sec .product-list-main {
    justify-content: center;
  }
  .product-list-main {
    padding-bottom: 0.625rem;
  }
  .product-list-main .product-item {
    min-height: inherit;
    width: 50%;
    margin-bottom: 0.875rem;
  }
  /* Our-Collection-End */
  /* Customer-Favorites-Start */
  .our-collection-sec.customer-favor-sec .custom-fav-main {
    position: relative;
  }
  .our-collection-sec.customer-favor-sec .custom-fav-main .slider-pagination {
    display: block;
  }
  .our-collection-sec.customer-favor-sec .custom-fav-main .swiper-button-prev, .our-collection-sec.customer-favor-sec .custom-fav-main .swiper-button-next {
    display: none;
  }
  .our-collection-sec.customer-favor-sec .favorites-pro-slider {
    max-width: 100%;
  }
  .our-collection-sec.customer-favor-sec .product-list-main.swiper-wrapper {
    margin-left: -2.8125rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide {
    width: 16.25rem !important;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active {
    width: 18.125rem !important;
    min-height: 26.875rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box {
    box-shadow: none;
    margin: 0;
  }
  /* Customer-Favorites-End */
  /* Article-Start */
  .article-sec .cms-con {
    max-width: 100%;
  }
  .article-con-row {
    flex-wrap: wrap;
  }
  .article-con-row .article-con-col:last-child {
    width: 100%;
  }
  .latestblog-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .latestblog-main .latest-slide {
    width: 50%;
  }
  .related-sec .related-main {
    margin: 0 -0.75rem;
  }
  .related-sec .related-main .related-item {
    padding: 0 0.75rem;
  }
  .latest-blog-sec.common-sec.wellness-insights-sec {
    padding-bottom: 3.125rem;
  }
  .latest-blog-sec.common-sec.wellness-insights-sec .slick-dots {
    padding-top: 0;
  }
  /* Article-End */
}
@media only screen and (max-width: 767px) {
  /* Our-Collection-Start */
  .our-collection-sec {
    padding: 2.5rem 0;
  }
  /* Our-Collection-End */
  /* Customer-Favorites-Start */
  .our-collection-sec.customer-favor-sec .favorites-pro-slider {
    max-width: 100%;
  }
  .our-collection-sec.customer-favor-sec .product-list-main {
    margin: 0 -0.4375rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main.swiper-wrapper {
    margin-left: 0;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item {
    padding: 0 0.4375rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-prev .product-box {
    transform: none;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide {
    width: 50% !important;
    min-height: 250px;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active {
    width: 50% !important;
    min-height: 250px;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box {
    box-shadow: none;
    margin: 0;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-img {
    padding-bottom: 77%;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text .product-rating {
    margin-bottom: 0.375rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active .product-box .product-text .product-price-btn .product-price span {
    font-size: 1.125rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-next .product-box {
    transform: none;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box {
    margin-bottom: 0;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box .product-text {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
  }
  /* Customer-Favorites-End */
  /* Article-Start */
  .article-sec .article-row {
    margin-bottom: 2.1875rem;
  }
  .article-sec .article-text .sec-head {
    margin-bottom: 1.5625rem;
  }
  .article-sec .article-text .sec-head .title {
    font-size: 1.4rem;
  }
  .article-sec .article-text .article-date {
    margin-top: 0.75rem;
  }
  .article-con-row {
    margin-bottom: 0.625rem;
  }
  .related-sec .sec-head {
    margin-bottom: 1.875rem;
  }
  .related-sec {
    padding-bottom: 2.5rem;
  }
  .more-enjoy-sec .sec-head {
    margin-bottom: 1.875rem;
  }
  .more-enjoy-sec .more-enjoy-box .enjoy-text .enjoy-title {
    font-size: 1.125rem;
  }
  .latestblog-con {
    margin-bottom: 2.5rem;
  }
  .article-sec .cms-con p {
    margin-bottom: 1.25rem;
  }
  .our-collection-sec.customer-favor-sec .sec-head {
    margin-bottom: 2rem;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item .product-box .product-img {
    padding-bottom: 81%;
  }
  /* Article-End */
  /* CMS-Con-Start */
  .cms-con h1 {
    font-size: 2.375rem;
    margin-bottom: 1.25rem;
  }
  .cms-con h2 {
    font-size: 2.125rem;
    margin-bottom: 1.25rem;
  }
  .cms-con h3 {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
  }
  .cms-con h4 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
  .cms-con h5 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .cms-con h6 {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
  }
  /* CMS-Con-End */
}
@media only screen and (max-width: 568px) {
  /* Our-Collection-Start */
  .product-box .product-text .product-price-btn .product-price {
    width: calc(100% - 6.25rem);
  }
  .product-box .product-text .product-price-btn .product-price span {
    margin-right: 0.1875rem;
  }
  .product-box .product-text .product-price-btn .btn {
    min-width: 6.25rem;
    font-size: 0.8125rem;
    padding: 0.3125rem 0.625rem;
  }
  /* Our-Collection-End */
  /* Article-Start */
  .article-sec .article-row {
    flex-wrap: wrap;
  }
  .article-sec .article-row .article-col:first-child {
    margin-bottom: 2.5rem;
  }
  .article-sec .article-row .article-col:last-child {
    width: 100%;
  }
  .article-sec .article-text {
    padding: 0;
  }
  .latestblog-main .latest-slide {
    width: 100%;
  }
  .article-con-row .article-con-col:first-child {
    margin-bottom: 1.25rem;
  }
  /* Article-End */
}
@media only screen and (max-width: 500px) {
  /* Our-Collection-Start */
  .product-list-main .product-item {
    width: 100%;
  }
  /* Our-Collection-End */
  /* Customer-Favorites-Start */
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide {
    width: 100% !important;
  }
  .our-collection-sec.customer-favor-sec .product-list-main .product-item.swiper-slide-active {
    width: 100% !important;
  }
  /* Customer-Favorites-End */
}

/*# sourceMappingURL=newstyle.css.map */
