.not-a-shape {
  &::after {
    content: none !important;
  }
}

.review-banner {
  height: calc(100svh - 135px);
  max-height: 900px;
  position: relative;
  max-width: 1920px;
  margin: auto !important;
  z-index: 1;

  .img-box {
    height: 100%;
    width: 100%;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .play-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    bottom: 0;
    transform: translateY(-10%);
    margin: auto;
    z-index: 5;

    i {
      color: #fff;
      font-size: 5rem;
    }
  }

  .content-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-self: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  .review-banner-col {
    width: 40%;

    .sec-head {
      max-width: 67%;

      img {
        position: absolute;
        right: 0;
        bottom: 1.625rem;
      }
    }

    .cms-con {
      padding: 0.625rem 0;

      p {
        font-weight: 400;
        font-size: 1.125rem;
      }
    }
  }
}

.success-stories-con,
.our-collection-sec {
  .title {
    display: inline-block;

    img {
      position: absolute;
      right: -33px;
      top: -13px;
    }
  }
}

@media (max-width: 1199px) {
  .review-banner {
    height: auto;

    .play-icon {
      transform: translateY(-16%);

      i {
        font-size: 4rem;
      }
    }

    .review-banner-col {
      .sec-head {
        max-width: 79%;
      }

      .cms-con {
        p {
          font-size: 1rem;

          br {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .review-banner {
    .play-icon {
      i {
        font-size: 3rem;
      }
    }

    .review-banner-col {
      .sec-head {
        max-width: 97%;
      }
    }
  }
}

@media (max-width: 568px) {
  .review-banner {
    .img-box {
      img {
        height: 25rem;
      }
    }

    .content-box {
      position: unset;
      padding-top: 2.8125rem;
    }

    .play-icon {
      top: 38%;
      left: 47%;

      i {
        font-size: 3rem;
      }
    }

    .review-banner-col {
      width: 100%;

      .sec-head {
        max-width: 100%;

        img {
          right: -0.625rem;
        }
      }

      .cms-con {
        padding: 0;
      }
    }
  }
}