@media only screen and (max-width:1660px) { 

}

@media only screen and (max-width:1599px) { 
	
}

@media only screen and (max-width:1366px) { 

}

@media only screen and (max-width:1280px) { 

}

@media only screen and (max-width:1199px) { 
	.title-sm {font-size:2.125rem;} 
}

/* common css for below screen 991 */

@media only screen and (max-width: 991px) {
	.header-main{
		padding: 0.9375rem 1.25rem;		
		.site-logo {
			img {
				width: 8.125rem;
			}
		}  
		&.has_sticky{
		padding: 0.9375rem 1.25rem;
		}
	}		
}


@media only screen and (max-width: 767px) {
	.title-sm {font-size:1.75rem;} 
	.header-main{
		padding: 0.9375rem 0.625rem;		  
		&.has_sticky{
			padding: 0.9375rem 0.625rem;
		}
		.site-logo{
			display: inline-block;
			vertical-align: middle;
		}
		.menu-icon{
			display:inline-block;
			vertical-align:middle;
			margin-left:0px; 
			margin-right: 0.625rem;
		}
		.navigation-bar {
			position:fixed;
			width:18.75rem;
			top:0;
			bottom:0;
			left:-20rem;
			background:#fff;
			transition:all .6s ease-in-out;
			margin:0;
			z-index:9999;
			height:100vh;
			overflow-y:auto;
			&.slide-menu {
				left: 0;
			}		
			.menu-main{
				width:100%;
				margin-bottom:2rem;
				display:block;
				.m-menulogo{
					display:block;
					width:100%;
					padding:1.875rem 0.9375rem;
					background:#fff;
					display:block;
					width:100%;
					border-bottom:1px solid #e2e2e2;
					.menu-logo{
						max-width:130px;
						display:block;
					}
				}
				.close-menu{
					position:absolute;
					right:1.25rem;
					top:1.75rem;
					width:1.875rem;
					height:1.875rem;
					padding:0.375rem;
				&:before{
					content:'';
					width:1.875rem;
					position:absolute;
					top:0;
					left:0;
					right:0;
					height:0.125rem;
					background:#000;
					-webkit-transform:rotate(45deg);
					transform:rotate(45deg);
					margin:auto;
					bottom:0;
				}
				&:after{
					content:'';
					width:1.875rem;
					position:absolute;
					top:0;
					left:0;
					right:0;
					height:0.125rem;
					background:#000;
					-webkit-transform:rotate(-45deg);
					transform:rotate(-45deg);
					margin:auto;
					bottom:0;
				}	
				}
				ul{
				 li{
					position:relative; 
					width: 100%;
					display:block;
					border-bottom:.1rem solid #e2e2e2;
					padding:0;
					margin:0;
					position:relative;
					font-weight:500;
					a{
						font-size:1rem;
						font-weight:600;
						color:#000;
						padding: 0.625rem 1.25rem;
					}
				 }	
				}
			}
		}
		.my-cart {
			margin-right: 8px;
		}
	}	

}