:root {
  --app-height: $base-height;
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 95%;
  }
  .container-lg {
    max-width: 98%;
  }
  .container-md {
    max-width: 95%;
  }
  /* Home slider start */
  .homeBanner {
    max-height: 900px;
  }
  .homeBanner .slide {
    min-height: 50.25rem;
    padding-top: 8.3125rem;
  }
  .homeBanner .slide .banner-caption {
    padding-left: 2.25rem;
  }
  .homeBanner .slide .banner-caption .sec-head .banner-title {
    font-size: 3rem;
  }
  .homeBanner .slide .big-product {
    max-width: 450px;
  }
  .homeBanner .slide .big-product .big-product-img {
    height: 24.125rem;
  }
  .homeBanner .slide .big-product .product-title {
    font-size: 1.75rem;
  }
  .homeBanner .slide .side-product {
    margin-top: 6.25rem;
  }
  .homeBanner:after {
    width: 10.875rem;
    height: 10.8125rem;
  }
  .home .latest-blog-sec .container {
    max-width: 95%;
  }
  /* Home slider end */
}
@media only screen and (max-width: 1280px) {
  .common-sec {
    padding: 6.25rem 0;
  }
  /* Join our sec start */
  .join-our-sec .join-our-con .sec-head .title-xxl {
    font-size: 3.5rem;
  }
  /* Join our sec end */
  /* Home slider start */
  .homeBanner .slide .banner-caption .sec-head .banner-title {
    font-size: 2.9rem;
  }
  .homeBanner .slide .banner-caption p br {
    display: none;
  }
  .homeBanner .slide .banner-caption .btn {
    margin-top: 0.9375rem;
  }
  .homeBanner .slide .big-product {
    max-width: 450px;
  }
  .homeBanner .slide .big-product .product-title {
    font-size: 1.75rem;
  }
  .homeBanner .slide .side-product {
    margin-top: 6.25rem;
  }
  /* Home slider end */
}
@media only screen and (max-width: 1199px) {
  .title-sm {
    font-size: 2.125rem;
  }
  .common-sec {
    padding: 4.375rem 0;
  }
  /* feed sec start */
  .feed-sec .footBox .footer-desc {
    padding-right: 0;
  }
  .feed-sec .sec-head {
    margin-bottom: 2.5rem;
  }
  .feed-sec .fee-btn {
    margin-top: 2.5rem;
  }
  /* feed sec end */
  /* dropper sec start */
  .dropper-sec:after {
    bottom: -1.375rem;
    left: -2.375rem;
    width: 8.8125rem;
    height: 8.8125rem;
  }
  /* dropper sec end */
  /* Home slider start */
  .homeBanner {
    height: auto;
    max-height: inherit;
  }
  .homeBanner:after {
    width: 10.875rem;
    height: 10.875rem;
  }
  .homeBanner .slide {
    min-height: 40.25rem;
  }
  .homeBanner .slide .banner-caption .sec-head {
    margin-bottom: 1.25rem;
  }
  .homeBanner .slide .banner-caption .sec-head .banner-title {
    font-size: 2.375rem;
  }
  .homeBanner .slide .banner-caption .btn {
    margin-top: 0;
  }
  .homeBanner .slide .big-product {
    max-width: 285px;
  }
  .homeBanner .slide .big-product .big-product-img {
    height: 19.125rem;
  }
  .homeBanner .slide .big-product .product-title {
    font-size: 1.65rem;
  }
  .homeBanner .slide .side-product {
    margin-top: 3.25rem;
  }
  .join-our-sec .join-box .btn:hover {
    color: #fff;
  }
  /* Home slider end */
  /* meet-sec start */
  .meet-sec .meet-inner {
    position: relative;
  }
  .meet-sec .meet-inner .meet-left {
    position: absolute;
    left: -7.25rem;
    top: 0;
    width: 42%;
  }
  .meet-sec .meet-inner .meet-right {
    position: absolute;
    right: -7.25rem;
    top: 0;
    width: 42%;
  }
  .meet-sec .meet-inner .meet-middle {
    max-width: 260px;
  }
  .meet-sec .meet-inner .meet-middle .sec-head .title {
    color: #01390C;
  }
  .meet-sec .meet-inner .meet-middle:before {
    top: -2.875rem;
    left: -2.75rem;
    width: 9.4375rem;
    height: 9.4375rem;
  }
  .meet-sec .meet-inner .meet-middle:after {
    bottom: 0.6875rem;
    right: -3.5rem;
    width: 4.625rem;
    height: 4.625rem;
    z-index: -1;
  }
  /* meet-sec end */
  /* shop page start */
  .shop-main .product-sidebar {
    padding: 1.25rem 0.9375rem 1.625rem 0.9375rem;
  }
  .benefits-sec {
    padding: 4.375rem 0;
  }
  .benefits-sec .benefits-inner {
    padding: 4rem 0;
    border-radius: 20px;
    background: #85DF96;
  }
  .benefits-sec .benefits-inner .sec-head {
    margin-bottom: 3.5rem;
  }
  .benefits-sec .benefits-inner .sec-head .title {
    font-size: 2.25rem;
  }
  .benefits-sec .benefits-inner .benefits-listing {
    margin: 0 -0.625rem;
  }
  .benefits-sec .benefits-inner .benefits-listing li {
    padding: 0 0.625rem;
  }
  .benefits-sec .benefits-inner .benefits-listing li .benefits-box .benefits-title {
    font-size: 1.125rem;
  }
  /* shop page end */
  /* revolution-sec start */
  .revolution-sec .revolution-wrap .revolution-row .revolution-con .btn {
    margin-top: 0;
  }
  /* revolution-sec end */
}
/* common css for below screen 991 */
@media only screen and (max-width: 991px) {
  .header-main {
    padding: 0.9375rem 0rem;
  }
  .header-main .site-logo img {
    width: 8.125rem;
  }
  .header-main.has_sticky {
    padding: 0.9375rem 1.25rem;
  }
  .common-sec {
    padding: 3.125rem 0;
  }
  /* dropper sec start */
  .dropper-sec .dropper-inner .drop-text.first {
    left: 42px;
  }
  .dropper-sec .dropper-inner .drop-text.second {
    max-width: 216px;
  }
  .dropper-sec .dropper-inner .drop-text.third {
    max-width: 306px;
    left: 0px;
  }
  .dropper-sec .dropper-inner .drop-text.forth {
    max-width: 239px;
    right: 0px;
  }
  .dropper-sec:after {
    display: none;
  }
  /* dropper sec end */
  /* revolution-sec start */
  .revolution-sec .revolution-wrap .revolution-row {
    display: block;
  }
  .revolution-sec .revolution-wrap .revolution-row:nth-child(odd) {
    margin-bottom: 1.875rem;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-img {
    width: 100%;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-img img {
    width: 100%;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-con {
    width: 100%;
    max-width: 100%;
    padding: 1.875rem;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-con .sec-head .title-sm {
    font-size: 2.375rem;
    line-height: 1;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-con .cms-con p {
    font-size: 1.0625rem;
    -webkit-line-clamp: inherit;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-con .btn {
    margin-top: 0;
  }
  /* revolution-sec end */
  /* Home slider start */
  .homeBanner:after {
    display: none;
  }
  .homeBanner .slide {
    padding-top: 6.3125rem;
  }
  .homeBanner .slide .banner-left-col {
    width: 100%;
    padding-bottom: 3.125rem;
  }
  .homeBanner .slide .banner-right-col {
    width: 100%;
    padding-left: 0.9375rem;
  }
  .homeBanner .slide .banner-caption {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    max-width: 90%;
  }
  .homeBanner .slide .banner-caption .sec-head {
    margin-bottom: 1.25rem;
  }
  .homeBanner .slide .banner-caption .sec-head .banner-title {
    font-size: 2.375rem;
  }
  .homeBanner .slide .banner-caption .btn {
    margin-top: 0;
  }
  .homeBanner .slide .big-product {
    max-width: 350px;
  }
  .homeBanner .slide .big-product .product-title {
    font-size: 1.65rem;
  }
  .homeBanner .slide .side-product {
    margin-top: 3.25rem;
  }
  /* Home slider end */
  /* meet-sec start */
  .meet-sec .meet-inner {
    position: relative;
  }
  .meet-sec .meet-inner .meet-left {
    position: absolute;
    top: 16%;
  }
  .meet-sec .meet-inner .meet-right {
    position: absolute;
    top: 16%;
  }
  .meet-sec .meet-inner .meet-middle {
    max-width: 260px;
  }
  .meet-sec .meet-inner .meet-middle:before {
    top: -1.875rem;
    left: -2.75rem;
    width: 8.4375rem;
    height: 8.4375rem;
  }
  .meet-sec .meet-inner .meet-middle:after {
    bottom: 1.6875rem;
    right: -2.5rem;
    width: 3.625rem;
    height: 3.625rem;
    z-index: -1;
  }
  /* meet-sec end */
  .join-our-sec .join-our-con {
    padding: 30px 15px;
  }
  .join-our-sec .join-our-con .sec-head {
    margin-bottom: 1rem;
  }
  .join-our-sec .join-our-con .sec-head .title-xxl {
    font-size: 3rem;
  }
  .join-our-sec .join-our-con p {
    font-size: 1rem;
  }
  .join-our-sec .join-box {
    margin-top: 2rem;
  }
  /* shop page start */
  .shop-main .product-sidebar {
    position: fixed;
    width: 18.75rem;
    top: 0;
    bottom: 0;
    right: -20rem;
    background: #fff;
    transition: all 0.6s ease-in-out;
    margin: 0;
    z-index: 9999;
    height: 100vh;
    overflow-y: auto;
    border-radius: 0;
  }
  .shop-main .product-sidebar.slide-product {
    right: 0;
  }
  .shop-main .product-sidebar .filter-sl {
    position: relative;
    display: block;
  }
  .shop-main .product-sidebar .filter-sl .filter-icon {
    display: none;
  }
  .shop-main .product-sidebar .filter-sl .filter-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5625rem;
    height: 1.5625rem;
    padding: 0;
  }
  .shop-main .product-sidebar .filter-sl .filter-close:before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.125rem;
    background: #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: auto;
    bottom: 0;
  }
  .shop-main .product-sidebar .filter-sl .filter-close:after {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.125rem;
    background: #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: auto;
    bottom: 0;
  }
  .shop-main .product-right-col {
    width: 100%;
  }
  .shop-main .product-top .shorting-sl .filter {
    display: flex;
    margin-right: 0.9375rem;
  }
  .shop-main .product-top .shorting-sl .filter label {
    color: rgba(0, 0, 0, 0.6);
    padding-right: 0.5rem;
  }
  .shop-main .product-top .shorting-sl .filter-sorting .custom-select-drop {
    padding-left: 6px;
  }
  .shop-main .product-top .shorting-sl .showing {
    display: none;
  }
  .benefits-sec {
    padding: 4.375rem 0;
  }
  .benefits-sec .benefits-inner {
    padding: 4rem 0;
    border-radius: 20px;
    background: #85DF96;
  }
  .benefits-sec .benefits-inner .sec-head {
    margin-bottom: 3.5rem;
  }
  .benefits-sec .benefits-inner .sec-head .title {
    font-size: 2.25rem;
  }
  .benefits-sec .benefits-inner .benefits-listing li {
    width: 48%;
  }
  /* shop page end */
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
  .container-md {
    max-width: 100%;
  }
  .title-sm {
    font-size: 1.75rem;
  }
  .header-main {
    padding: 0.9375rem 0;
  }
  .header-main.has_sticky {
    padding: 0.9375rem 0;
  }
  .header-main .site-logo {
    display: inline-block;
    vertical-align: middle;
  }
  .header-main .site-logo img {
    width: 7.125rem;
  }
  .header-main .menu-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 0.3125rem;
  }
  .header-main .navigation-bar {
    position: fixed;
    width: 18.75rem;
    top: 0;
    bottom: 0;
    left: -20rem;
    background: #fff;
    transition: all 0.6s ease-in-out;
    margin: 0;
    z-index: 9999;
    height: 100vh;
    overflow-y: auto;
  }
  .header-main .navigation-bar.slide-menu {
    left: 0;
  }
  .header-main .navigation-bar .menu-main {
    width: 100%;
    margin-bottom: 2rem;
    display: block;
  }
  .header-main .navigation-bar .menu-main .m-menulogo {
    display: block;
    width: 100%;
    padding: 1.875rem 0.9375rem;
    background: #fff;
    display: block;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
  }
  .header-main .navigation-bar .menu-main .m-menulogo .menu-logo {
    max-width: 130px;
    display: block;
  }
  .header-main .navigation-bar .menu-main .close-menu {
    position: absolute;
    right: 1.25rem;
    top: 1.75rem;
    width: 1.875rem;
    height: 1.875rem;
    padding: 0.375rem;
  }
  .header-main .navigation-bar .menu-main .close-menu:before {
    content: "";
    width: 1.875rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.125rem;
    background: #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: auto;
    bottom: 0;
  }
  .header-main .navigation-bar .menu-main .close-menu:after {
    content: "";
    width: 1.875rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.125rem;
    background: #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: auto;
    bottom: 0;
  }
  .header-main .navigation-bar .menu-main ul li {
    position: relative;
    width: 100%;
    display: block;
    border-bottom: 0.1rem solid #e2e2e2;
    padding: 0;
    margin: 0;
    position: relative;
    font-weight: 500;
  }
  .header-main .navigation-bar .menu-main ul li a {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    padding: 0.625rem 1.25rem;
  }
  .header-main .my-cart {
    margin-right: 8px;
    background: #01390C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    position: relative;
    cursor: pointer;
    font-size: 0;
  }
  .header-main .my-cart i {
    position: absolute;
    left: 9px;
    top: 8px;
    display: block;
    font-size: 22px;
  }
  .header-main .my-cart .count {
    position: absolute;
    left: 23px;
    top: -8px;
    width: 24px;
    height: 24px;
    font-size: 11px;
    text-align: center;
    color: #fff;
    background: #D8AA3B;
    border-radius: 50%;
    line-height: 22px;
  }
  .header-main .head-search {
    font-size: 1.625rem;
    margin-right: 0.5rem;
  }
  .home .header-main .site-logo {
    display: inline-block;
  }
  /* Footer sec start */
  .footerMain .footersec {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }
  .footerMain .footersec .footBox .footTitle {
    margin-bottom: 1rem;
  }
  .footerMain .footersec .footBox .footLogo img {
    width: 14.5rem;
  }
  .footerMain .footersec .footBox .social-icon-box {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .footerMain .footersec .footBox .footCon ul li {
    margin-bottom: 0.5rem;
  }
  .footerMain .footersec .footBox .footCon ul li a {
    font-size: 0.875rem;
  }
  /* Footer sec end */
  /* Join our sec start */
  .join-our-sec .join-our-con {
    padding: 25px 15px;
    display: block;
  }
  .join-our-sec .join-our-con .sec-head .title-xxl {
    font-size: 2.7rem;
  }
  .join-our-sec .join-our-con .join-box {
    margin-top: 2rem;
  }
  .join-our-sec .join-our-con .join-box .inputfield {
    width: 80%;
    padding-right: 0.5rem;
  }
  .join-our-sec .join-our-con .join-box .btn {
    min-width: inherit;
  }
  /* Join our sec end */
  /* latest bloc sec start */
  .latest-blog-sec .slick-dots {
    padding-top: 0;
  }
  /* latest bloc sec end */
  /* dropper sec start */
  .dropper-sec:after {
    display: none;
    bottom: -1.375rem;
    left: -1.375rem;
    width: 6.8125rem;
    height: 6.8125rem;
  }
  .dropper-sec .dropper-inner .dropper-img {
    max-width: 550px;
  }
  .dropper-sec .dropper-inner .dropper-img:before {
    width: 21.5309rem;
    height: 21.5922rem;
  }
  .dropper-sec .dropper-inner .drop-text.first {
    left: 14px;
  }
  .dropper-sec .dropper-inner .drop-text.second {
    max-width: 216px;
    top: 168px;
  }
  .dropper-sec .dropper-inner .drop-text.third {
    max-width: 280px;
    left: 0px;
    top: 280px;
  }
  .dropper-sec .dropper-inner .drop-text.forth {
    max-width: 223px;
    right: 0px;
    top: 350px;
  }
  /* dropper sec end */
  /* revolution-sec start */
  .revolution-sec .revolution-wrap .revolution-row {
    display: block;
  }
  .revolution-sec .revolution-wrap .revolution-row:nth-child(odd) {
    margin-bottom: 1.875rem;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-img {
    width: 100%;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-img img {
    width: 100%;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-con {
    width: 100%;
    max-width: 100%;
    padding: 1.25rem;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-con .sec-head {
    margin-bottom: 1.25rem;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-con .sec-head .title-sm {
    font-size: 1.75rem;
    line-height: 1;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-con .cms-con p {
    font-size: 1rem;
  }
  .revolution-sec .revolution-wrap .revolution-row .revolution-con .btn {
    margin-top: 1.25rem;
  }
  /* revolution-sec end */
  /* Home slider start */
  .homeBanner .slide {
    padding-top: 6.3125rem;
  }
  .homeBanner .slide .banner-left-col {
    width: 100%;
    padding-bottom: 3.125rem;
  }
  .homeBanner .slide .banner-right-col {
    width: 100%;
    padding-left: 0.9375rem;
  }
  .homeBanner .slide .banner-caption {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    max-width: 90%;
  }
  .homeBanner .slide .banner-caption .sec-head {
    margin-bottom: 1.25rem;
  }
  .homeBanner .slide .banner-caption .sec-head .banner-title {
    font-size: 2.125rem;
  }
  .homeBanner .slide .banner-caption .btn {
    margin-top: 0;
  }
  .homeBanner .slide .big-product {
    max-width: 280px;
  }
  .homeBanner .slide .big-product .product-title {
    font-size: 1.5rem;
  }
  .homeBanner .slide .side-product {
    margin-top: 3.25rem;
  }
  /* Home slider end */
  /* meet-sec start */
  .meet-sec .meet-inner {
    position: relative;
  }
  .meet-sec .meet-inner .meet-left {
    position: static;
    width: 100%;
    text-align: center;
  }
  .meet-sec .meet-inner .meet-left img {
    display: inline-block;
  }
  .meet-sec .meet-inner .meet-right {
    display: none;
  }
  .meet-sec .meet-inner .meet-middle {
    max-width: 260px;
  }
  .meet-sec .meet-inner .meet-middle:before {
    top: -1.875rem;
    left: -2.75rem;
    width: 8.4375rem;
    height: 8.4375rem;
  }
  .meet-sec .meet-inner .meet-middle:after {
    bottom: 1.6875rem;
    right: -2.5rem;
    width: 3.625rem;
    height: 3.625rem;
    z-index: -1;
  }
  /* meet-sec end */
  /* shop page start */
  .shop-main .product-top .shorting-sl .filter {
    display: flex;
    margin-right: 0.9375rem;
  }
  .shop-main .product-top .shorting-sl .filter label {
    color: rgba(0, 0, 0, 0.6);
    padding-right: 0.5rem;
  }
  .shop-main .product-top .shorting-sl .filter-sorting .custom-select-drop {
    padding-left: 6px;
  }
  .product-list-item .products .product-text .product-title {
    font-size: 0.9375rem;
    margin-bottom: 0.75rem;
  }
  .benefits-sec {
    padding: 2.375rem 0;
  }
  .benefits-sec .benefits-inner {
    padding: 3rem 0;
    border-radius: 20px;
    background: #85DF96;
  }
  .benefits-sec .benefits-inner .sec-head {
    margin-bottom: 2.5rem;
  }
  .benefits-sec .benefits-inner .sec-head .title {
    font-size: 2.25rem;
  }
  .benefits-sec .benefits-inner .benefits-listing li {
    width: 48%;
  }
  /* shop page end */
}
@media only screen and (max-width: 568px) {
  /* Join our sec start */
  .join-our-sec .join-our-con {
    padding: 1rem;
    margin-top: 1rem;
  }
  .join-our-sec .join-our-con .sec-head .title-xxl {
    font-size: 2rem;
  }
  .join-our-sec .join-our-con p {
    font-size: 1rem;
  }
  /* Join our sec end */
  /* Footer sec start */
  .footerMain .copyrightsec {
    text-align: center;
  }
  .footerMain .copyrightsec .card-col {
    text-align: center;
  }
  /* Footer sec end */
  /* latest bloc sec start */
  .latest-blog-sec .slick-list {
    padding-bottom: 0;
  }
  .latest-blog-sec .slick-dots {
    padding-top: 0;
  }
  .latest-blog-sec .blogbox .blogcon {
    position: relative;
    bottom: 40px;
    max-width: 85%;
  }
  /* latest bloc sec end */
  /* dropper sec start */
  .dropper-sec .dropper-inner .dropper-img {
    max-width: 550px;
  }
  .dropper-sec .dropper-inner .drop-text {
    font-size: 0.875rem;
  }
  .dropper-sec .dropper-inner .drop-text.first {
    left: 0px;
    max-width: 304px;
  }
  .dropper-sec .dropper-inner .drop-text.second {
    max-width: 160px;
    top: 168px;
  }
  .dropper-sec .dropper-inner .drop-text.third {
    max-width: 232px;
    left: 0px;
    top: 280px;
  }
  .dropper-sec .dropper-inner .drop-text.forth {
    max-width: 176px;
    right: 0px;
    top: 350px;
  }
  /* dropper sec end */
  /* Home slider start */
  .homeBanner:after {
    display: none;
  }
  .homeBanner .slide .banner-left-col {
    width: 100%;
    padding-bottom: 2.5rem;
  }
  .homeBanner .slide .banner-right-col {
    width: 100%;
    padding-left: 0.9375rem;
  }
  .homeBanner .slide .banner-caption {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    max-width: 90%;
  }
  .homeBanner .slide .banner-caption .sec-head {
    margin-bottom: 1.25rem;
  }
  .homeBanner .slide .banner-caption .sec-head .banner-title {
    font-size: 2rem;
  }
  .homeBanner .slide .banner-caption .btn {
    margin-top: 0;
  }
  .homeBanner .slide .big-product {
    max-width: 210px;
  }
  .homeBanner .slide .big-product .product-title {
    font-size: 1.5rem;
  }
  .homeBanner .slide .big-product .btn {
    padding: 0.625rem 1.25rem;
  }
  .homeBanner .slide .side-product {
    margin-top: 0;
  }
  /* Home slider end */
  /* meet-sec start */
  .meet-sec .meet-inner .meet-middle {
    max-width: 95%;
  }
  .meet-sec .meet-inner .meet-middle:before {
    top: -2.875rem;
    left: -2.75rem;
    width: 7.4375rem;
    height: 7.4375rem;
  }
  .meet-sec .meet-inner .meet-middle:after {
    bottom: -0.625rem;
    right: 0;
    z-index: -1;
  }
  /* meet-sec end */
  /* shop page start */
  .shop-main .product-sidebar {
    width: 100%;
    right: -100%;
  }
  .shop-main .product-sidebar.slide-product {
    right: 0;
  }
  .product-list-item .products .product-img img {
    padding: 8px 5px 0 5px;
  }
  .product-list-item .products .product-text {
    padding: 10px 12px;
  }
  .product-list-item .products .product-text .product-title {
    font-size: 14px;
    margin-bottom: 7px;
  }
  .product-list-item .products .product-text .product-price-btn .product-price span {
    font-size: 16px;
    margin-right: 0.3rem;
  }
  .product-list-item .btn.btn-outline {
    margin-bottom: 12px;
  }
  .benefits-sec {
    padding: 2.375rem 0;
  }
  .benefits-sec .benefits-inner {
    padding: 2rem 0;
    border-radius: 20px;
    background: #85DF96;
  }
  .benefits-sec .benefits-inner .sec-head {
    margin-bottom: 1.5rem;
  }
  .benefits-sec .benefits-inner .sec-head .title {
    font-size: 2rem;
  }
  .benefits-sec .benefits-inner .benefits-listing {
    margin: 0;
    text-align: left;
    padding: 0 20px;
  }
  .benefits-sec .benefits-inner .benefits-listing li {
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .benefits-sec .benefits-inner .benefits-listing li:last-child {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .benefits-sec .benefits-inner .benefits-listing li .benefits-box {
    display: flex;
  }
  .benefits-sec .benefits-inner .benefits-listing li .benefits-box .benefits-icon {
    margin-bottom: 0;
  }
  .benefits-sec .benefits-inner .benefits-listing li .benefits-box .benefitscon {
    padding-left: 15px;
  }
  .benefits-sec .benefits-inner .benefits-listing li .benefits-box .benefitscon .benefits-title {
    margin-bottom: 0;
  }
  /* shop page end */
  .myaccount {
    font-size: 0;
    position: relative;
    vertical-align: middle;
    width: 34px;
    height: 40px;
  }
  .myaccount i {
    position: absolute;
    left: 4px;
    top: 3px;
    display: block;
    font-size: 32px;
  }
}
@media only screen and (max-width: 489px) {
  /* dropper sec start */
  .dropper-sec .dropper-inner .dropper-img {
    max-width: 550px;
  }
  .dropper-sec .dropper-inner .drop-text {
    font-size: 0.875rem;
  }
  .dropper-sec .dropper-inner .drop-text.first {
    max-width: 196px;
    top: 0;
  }
  .dropper-sec .dropper-inner .drop-text.second {
    top: 58px;
    max-width: 112px;
  }
  .dropper-sec .dropper-inner .drop-text.third {
    max-width: 156px;
    top: 132px;
  }
  .dropper-sec .dropper-inner .drop-text.forth {
    max-width: 110px;
    right: 3px;
    top: 196px;
  }
  /* dropper sec end */
  /* Home slider start */
  .homeBanner .slide .banner-right-col {
    padding-left: 0;
  }
  .homeBanner .slide .banner-caption {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    max-width: 100%;
  }
  .homeBanner .slide .banner-caption .sec-head {
    margin-bottom: 1.25rem;
  }
  .homeBanner .slide .banner-caption .sec-head .banner-title {
    font-size: 2rem;
  }
  .homeBanner .slide .banner-caption .btn {
    margin-top: 0;
  }
  .homeBanner .slide .big-product {
    max-width: 100%;
    padding: 0 0.625rem;
  }
  .homeBanner .slide .big-product .product-title {
    font-size: 1.5rem;
  }
  .homeBanner .slide .big-product .btn {
    padding: 0.625rem 1.25rem;
  }
  .homeBanner .slide .side-product {
    margin-top: 1.875rem;
    width: 100%;
  }
  /* Home slider end */
  /* shop page start */
  .shop-main .product-top {
    display: block;
  }
  .shop-main .product-top .shorting-sl {
    justify-content: space-between;
    margin-top: 15px;
  }
  /* shop page end */
}

/*# sourceMappingURL=responsive.css.map */
