@import "varible.scss";

/* slick-slider */
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;

  li {
    button {
      font-size: 0;
      border-radius: 100%;
      height: 0.625rem;
      width: 0.625rem;
      background-color: #ccc;
      display: block;
      margin: 0 0.25rem;
    }

    &.slick-active {
      button {
        background-color: #dbba53;
      }
    }
  }
}

.slick-prev {
  background: transparent;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.3125rem;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: 0;
  z-index: 9;
  font-size: 0;
  border: none;
  outline-color: transparent;
  transition: all 0.4s ease-in-out;

  &:hover {
    &::before {
      border-color: #01390c;
    }
  }
}

.slick-prev:before {
  content: "";
  width: 28px;
  height: 28px;
  border-bottom: 0.1875rem solid #5b5b5b;
  border-left: 0.1875rem solid #5b5b5b;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}

.slick-next {
  background: transparent;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.3125rem;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: 0;
  z-index: 9;
  font-size: 0;
  border: none;
  outline-color: transparent;
  transition: all 0.4s ease-in-out;

  &:hover {
    &::before {
      border-color: #01390c;
    }
  }
}

.slick-next:before {
  content: "";
  width: 28px;
  height: 28px;
  border-bottom: 0.1875rem solid #5b5b5b;
  border-right: 0.1875rem solid #5b5b5b;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-45deg);
  transition: all 0.4s ease-in-out;
}

.slick-prev:arrow .slick-next:arrow {
  color: #000;
}

/* slick-slider */

/* form */

.form-group {
  display: block;
  margin-bottom: 20px;
  .form-label {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    display: block;
    margin-bottom: 0.5rem;
  }
  .form-control {
    border-radius: 0.3125rem;
    border: 0.0625rem solid #bebebe;
    background: #fff;
    position: relative;
    padding: 0.75rem 0.9375rem;
    width: 100%;
    min-height: 3.125rem;
    vertical-align: middle;
    transition: border 0.3s ease;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    resize: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    ::placeholder {
      color: #bdbdbd;
      font-size: 1rem;
      font-weight: 400;
    }
  }
  textarea {
    height: 7.5625rem;
  }
}

/* form */

/* marquee-sec-start */
.marquee-sec {
  .marquee-main {
    overflow: hidden;
    border-top: 0.0625rem solid #01390c;
    border-bottom: 0.0625rem solid #01390c;
    background-color: #efe5c3;

    .marquee-animate {
      display: flex;
      width: 6250rem;
      margin-left: 0;
      animation: 55s linear 0s infinite normal none running myMarquee;
      animation-direction: reverse;
    }

    .marquee-inner {
      display: flex;
      align-items: center;

      li {
        padding: 0.625rem 1.25rem;
      }
    }
  }
}

@keyframes myMarquee {
  100% {
    margin-left: 0px;
  }
}

/* marquee-sec-end */

/* client-review-sec-start */
.client-review-sec {
  padding: 9.375rem 0;
  position: relative;

  .client-review-row {
    display: flex;
    margin: 0 -8px;

    .client-review-col {
      padding: 0 8px;

      &:first-child {
        max-width: 62%;
      }

      &:last-child {
        max-width: 38%;
      }

      .client-review-text-box {
        background-color: #89f09c;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border: 1px solid #eaeaea;
        border-radius: 12.5rem 0.625rem 0.625rem 0.625rem;
        -webkit-border-radius: 12.5rem 0.625rem 0.625rem 10px;
        -moz-border-radius: 12.5rem 0.625rem 0.625rem 10px;
        -ms-border-radius: 12.5rem 0.625rem 0.625rem 10px;
        -o-border-radius: 12.5rem 0.625rem 0.625rem 10px;
        padding: 112px 50px 80px 58px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          background: url(../assets/dots.png) no-repeat;
          width: 26.6875rem;
          height: 29.5625rem;
          z-index: 1;
          background-size: cover;
          background-position: top right;
        }

        .sec-head {
          margin-bottom: 3.9375rem;
          position: relative;
          z-index: 1;

          .title-lg {
            color: $green-color;
          }
        }
      }
    }
  }
}

/* client-review-sec-end */

/* immune-vitality-sec-start */
.immune-vitality-sec {
  .slick-next {
    right: 40px;
  }

  .slick-prev {
    left: 40px;
  }

  .immune-vitality-wrap {
    .immune-vitality-slider {
      .slick-dots {
        padding-top: 0;
        bottom: 40px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
      }

      .slick-list {
        overflow: visible;
      }

      .immune-vitality-slide {
        .immune-vitality-box {
          width: 100%;
          height: 100%;
          padding: 2.8125rem 0 0;

          &.spirit-orange {
            background: linear-gradient(
              180deg,
              #f9e58d 15.79%,
              rgba(253, 248, 225, 0) 100%
            );
          }

          &.body-blue {
            background: linear-gradient(
              180deg,
              #8dccff 15.79%,
              rgba(217, 238, 255, 0) 100%
            );
          }

          &.mind-pink {
            background: linear-gradient(
              180deg,
              #ffb2ff 15.79%,
              rgba(255, 207, 255, 0) 100%
            );
          }

          .immune-vitality-row {
            flex-direction: row-reverse;
            align-items: center;
            display: flex;

            .immune-vitality-col {
              width: 93%;
              margin-right: -71px;
            }

            .immune-vitality-col ~ .immune-vitality-col {
              width: 100%;
            }

            .immune-vitality-con {
              padding-left: 94px;

              .sec-head {
                margin-bottom: 3.25rem;

                .title-xxl {
                  color: $green-color;
                }
              }
            }

            .immune-vitality-box-img {
              padding-left: 20px;
            }

            .cms-con {
              max-width: 36.25rem;
              margin-bottom: 5.25rem;

              p {
                letter-spacing: -0.0208rem;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
}

/* immune-vitality-sec-end */

/* discover-everwell-product-sec-start */
.discover-everwell-product-sec {
  padding: 8.75rem 0;
  position: relative;

  .discover-everwell-product-wrap {
    background-color: #01390c;
    width: 100%;
    height: 100%;
    border-radius: 20px 200px 20px 20px;
    padding: 0 48px;

    .question-box-wrap {
      position: relative;
      background: url(../assets/discover-bg-img.png) no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 100%;

      .question-box-img {
        padding: 80px 0 48px;
        /*width: 100%;
        height: 100%;*/
        margin-left: -53px;

        .question-boxs-img {
          img {
            /*width: 100%;
            height: 100%;
            object-fit: cover;*/
            &.img-one {
              margin-left: auto;
              margin-right: 5.5%;
              max-width: 69%;
            }

            &.img-two {
              margin-top: -10.1%;
              max-width: 66%;
            }

            &.img-three {
              margin-left: auto;
              margin-top: -19%;
              margin-right: 3.4%;
              max-width: 57%;
            }
          }
        }
      }
    }

    .question-box-con {
      .sec-head {
        margin-bottom: 3.75rem;
      }

      .question-box-main-title {
        font-size: 4rem;
        font-weight: 700;

        span {
          font-weight: normal;
        }
      }

      .btn.btn-white:hover {
        background-color: #000;
      }
    }
  }
}

/* discover-everwell-product-sec-end */

/* about-us-start */
.success-stories-sec {
  .success-stories-wrap {
    .success-stories-con {
      margin-bottom: 4.0625rem;

      .sec-head {
        margin-bottom: 1.25rem;

        .title-md {
          color: #01390c;
        }
      }

      .cms-con {
        max-width: 34.125rem;
        margin: auto;

        p {
          font-size: 1.125rem;
          text-align: center;
          letter-spacing: 0.5408px;
        }
      }
    }

    .success-stories-box {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;

      .success-stories-box-wrap {
        width: 25%;
        height: 100%;

        &:first-child {
          .success-stories-img-main {
            &::before {
              border-radius: 20px 0 0 20px;
            }

            img {
              border-radius: 20px 0 0 20px;
              -webkit-border-radius: 20px 0 0 20px;
              -moz-border-radius: 20px 0 0 20px;
              -ms-border-radius: 20px 0 0 20px;
              -o-border-radius: 20px 0 0 20px;
            }
          }
        }

        &:last-child {
          .success-stories-img-main {
            &::before {
              border-radius: 0 20px 20px 0;
            }

            img {
              border-radius: 0 20px 20px 0;
              -webkit-border-radius: 0 20px 20px 0;
              -moz-border-radius: 0 20px 20px 0;
              -ms-border-radius: 0 20px 20px 0;
              -o-border-radius: 0 20px 20px 0;
            }
          }
        }

        .success-stories-img-main {
          position: relative;
          overflow: hidden;
          z-index: 2;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0;
            width: 100%;
            background: rgba(71, 71, 71, 0.5);
            transition: height 0.5s ease-in-out;
            z-index: 1;
          }

          .read-more-btn {
            position: absolute;
            transform: translateY(100%);
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            transition: all 0.4s ease-in-out;
            z-index: 999;

            .btn {
              opacity: 0;
            }
          }

          @media only screen and (min-width: 1199px) {
            &:hover {
              &::before {
                height: 100%;
              }

              .read-more-btn {
                transform: translateY(0);
                bottom: 20px;

                .btn {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

.about-us-banner-sec {
  .about-banner-box {
    .about-banner-img {
      width: 100%;
      height: 427px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.our-unwavering-sec {
  margin-top: -205px;
  position: relative;

  .our-unwavering-box {
    background-color: #fff;
    max-width: 995px;
    margin: auto;
    padding: 45px 20px;
    border-radius: 20px;
    border: 1px solid #eaeaea;

    .our-unwavering-item {
      max-width: 640px;
      margin: auto;

      .sec-head {
        margin-bottom: 36px;

        .title-lg {
          font-size: 46px;
          text-align: center;
          font-weight: 400;
          color: #01390c;
          display: block;
          letter-spacing: -0.92px;
        }
      }

      .cmsCon {
        max-width: 570px;
        margin: auto;

        p {
          font-size: 18px;
          text-align: center;
          line-height: 1.4;
        }
      }
    }
  }
}

.our-mission-sec {
  padding: 70px 0;
  position: relative;
  max-width: 1025px;
  margin: auto;

  .our-missio-tab {
    .nav-tabs {
      border: 0;
      border-bottom: none;

      .nav-item {
        border-bottom: 1px solid #b9b9b9;
        flex: 1;

        .nav-link {
          background: none;
          box-sizing: border-box;
          width: 100%;
          height: auto;
          margin: 0;
          padding: 0.875rem 1.75rem;
          font-size: 1.25rem;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.6);
          border: 0;
          border-radius: 0;

          &.active {
            color: #000000;
            font-weight: 700;
            border-bottom: 2px solid #000000;
          }
        }
      }
    }

    .tab-content {
      padding: 40px 0 0;

      .tab-pane {
        .story-tab-desc {
          .story-img-box {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 20px;
              -webkit-border-radius: 20px;
              -moz-border-radius: 20px;
              -ms-border-radius: 20px;
              -o-border-radius: 20px;
            }
          }

          .tab-desc {
            margin-top: 15px;

            .sec-Head {
              margin-bottom: 20px;

              .title-lg {
                font-size: 46px;
                color: #01390c;
                font-weight: 400;
                display: block;
              }
            }

            .cmsCon p {
              font-size: 18px;
              font-weight: 400;
              line-height: 1.4;
              color: #000;
              display: block;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.meet-team-sec {
  position: relative;
  max-width: 1025px;
  margin: auto;
  padding-bottom: 70px;

  .sec-Head {
    margin-bottom: 15px;

    .title-lg {
      font-size: 46px;
      color: #01390c;
      font-weight: 400;
      display: block;
    }
  }

  .cmsCon {
    max-width: 762px;
    margin: auto;

    p {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
  }

  .meet-team-box-wrap {
    .meet-team-list {
      width: 100%;
      padding-top: 82px;

      .meet-team-item {
        padding: 0 15px;

        .meet-team-main {
          text-align: center;

          .meet-team-img {
            width: 234px;
            height: 234px;
            margin: auto;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 100%;
              -webkit-border-radius: 100%;
              -moz-border-radius: 100%;
              -ms-border-radius: 100%;
              -o-border-radius: 100%;
            }
          }

          .meet-team-con {
            .meet-team-title {
              font-size: 32px;
              font-weight: 400;
              line-height: 1;
              letter-spacing: -0.64px;
              color: #01390c;
              display: block;
              padding: 20px 8px;
            }

            span {
              color: #000;
              text-align: center;
              font-size: 18px;
              font-weight: 400;
              line-height: 1;
            }
          }
        }
      }
    }
  }
}

.purity-sec {
  background: #ececea url(../assets/purity-img.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

  .purity-desc {
    max-width: 760px;
    padding: 70px 0 110px;

    .sec-Head {
      position: relative;
      margin-bottom: 32px;

      &::before {
        content: "";
        position: absolute;
        background: url(../assets/title-star.svg);
        top: inherit;
        left: inherit;
        bottom: 28px;
        right: 185px;
        width: 32px;
        height: 32px;
        background-size: 32px;
        background-repeat: no-repeat;
      }

      .title-md {
        color: #01390c;
        line-height: 1.4;
      }
    }

    .cmsCon {
      p {
        font-size: 18px;
        color: #000;
      }
    }
  }

  .purity-bottom {
    background: linear-gradient(90deg, #fff 26.42%, rgba(255, 255, 255, 0) 50%);
    width: 100%;
    height: 100%;

    ul {
      display: flex;
      width: 100%;
      max-width: 500px;
      padding: 20px 0;

      li {
        width: 33.33%;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        color: #000;

        img {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    }
  }
}

.about-slider-sec {
  padding: 80px 0;
  display: block;

  .about-slider {
    margin: 0 -30px;

    .about-slide {
      padding: 0 30px;

      .about-slide-box {
        text-align: center;
        display: block;

        .about-slide-box-img {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 19px;
            -webkit-border-radius: 19px;
            -moz-border-radius: 19px;
            -ms-border-radius: 19px;
            -o-border-radius: 19px;
          }
        }

        .about-slide-con {
          padding-top: 25px;
          display: block;

          .about-slide-con-title {
            text-align: center;
            font-size: 32px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -0.64px;
            display: block;
            color: #01390c;
            padding-bottom: 20px;
          }

          .about-slide-desc {
            color: #000;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            display: block;
            padding-bottom: 40px;
          }
        }
      }
    }
  }
}

.about-faq-sec {
  .about-faq-main {
    max-width: 1170px;
    margin: auto;

    .sec-Head {
      margin-bottom: 50px;

      .title-sm {
        font-size: 38px;
        font-weight: 500;
        color: #01390c;
        display: block;
      }
    }

    .about-faq-wrap {
      .faq.accordion {
        max-width: 100%;
        padding-top: 0;

        .accordion-item {
          .accordion-body {
            max-width: 70%;

            .cms-con {
              p {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

.latest-blog-sec {
  .wellness-insights-main {
    max-width: 1170px;
    margin: auto;

    .sec-Head {
      margin-bottom: 20px;

      .title-lg {
        font-size: 46px;
        font-weight: 400;
        color: #01390c;
        display: block;
      }
    }

    .cms-con {
      text-align: center;
      margin-bottom: 70px;
    }
  }

  .latestblog-slider {
    margin: 0 -0.9375rem;
  }

  &.common-sec {
    padding: 80px 0;
  }
}

.about-us-feed {
  &.common-sec {
    padding: 70px 0;
  }
}

body.about-us-page {
  background: url(about-us-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}

/* about-us-end */

/* help-center-start */
body.help-center-page {
  background: url(help-center-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}

.help-center-banner-sec {
  .help-center-banner-box {
    .help-center-banner-img {
      width: 100%;
      height: 427px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.help-center-warranty-sec {
  margin-top: -160px;
  position: relative;
  .help-center-warranty-box {
    border-radius: 20px;
    border: 0.0625rem solid #eaeaea;
    background: #fff;
    padding: 3.75rem 3.25rem;
    width: 100%;
    height: 100%;
    .sec-Head {
      .title-sm {
        font-size: 2.375rem;
        font-weight: 600;
        color: #01390c;
        line-height: 1.2;
        letter-spacing: -0.0475rem;
        display: block;
        margin-bottom: 1.5625rem;
      }
    }
    .cms-con {
      text-align: center;
      margin-bottom: 1.875rem;
      p {
        font-size: 1.125rem;
        font-weight: 400;
        color: #000;
        line-height: 1.2;
        display: block;
      }
    }
    .help-center-warranty-btn {
      display: block;
      text-align: center;
      span {
        font-size: 20px;
        font-weight: 600;
        color: #000;
        line-height: 1.2;
        padding-right: 1.25rem;
        position: relative;
        transition: all 0.4s ease-in-out;
        &::before {
          content: "";
          position: absolute;
          border-bottom: 1px solid #000;
          border-right: 1px solid #000;
          width: 8px;
          height: 8px;
          transform: rotate(-45deg) translateY(-50%);
          right: 0;
          top: 50%;
        }
        &:hover {
          color: #01390c;
          &::before {
            border-color: #01390c;
          }
        }
      }
    }
  }
}
/* help-center-end */
body.contact-us-page {
  background: url(contact-us-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}

.contact-us-banner-sec {
  .contact-us-banner-box {
    .contact-us-banner-img {
      width: 100%;
      height: 427px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.get-in-touch-sec {
  position: relative;
  margin-top: -12.5rem;
  .get-in-touch-wrap {
    border-radius: 20px;
    border: 1px solid #eaeaea;
    background: #fff;
    padding: 3.125rem 7.625rem;
    overflow: hidden;
    .sec-Head {
      margin-bottom: 0.625rem;
      .title-md {
        color: #01390c;
      }
    }
    .cms-con {
      max-width: 600px;
      margin: auto;
      text-align: center;
      p {
        font-size: 1rem;
        color: #9f9f9f;
        font-weight: 400;
        line-height: 1.3;
        display: block;
      }
    }
    .get-in-touch-bottom {
      margin-top: 4.375rem;
      .contact-details-main {
        .contact-details-box {
          display: block;
          margin-bottom: 45px;
          .contact-details-inner {
            color: #000;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2;
            display: block;
            font-family: "Poppins", sans-serif;
            position: relative;
            padding-left: 3rem;
            max-width: 20.25rem;
            b {
              color: #01390c;
              font-size: 24px;
              font-weight: 500;
              line-height: 1;
              font-family: "Poppins", sans-serif;
              display: block;
              padding-bottom: 0.375rem;
            }
            img {
              position: absolute;
              left: 0;
              top: 0;
              width: 1.375rem;
              height: 1.375rem;
            }
            .phone {
              padding-bottom: 4px;
              display: block;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2;
              font-family: "Poppins", sans-serif;
              position: relative;
            }
            .time {
              padding-bottom: 4px;
              display: block;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2;
              font-family: "Poppins", sans-serif;
              position: relative;
            }
          }
        }
      }
    }
  }
}

/* warranty-page-start */

body.warranty-page {
  background: url(warranty-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}

.warranty-banner-sec {
  .warranty-banner-box {
    .warranty-banner-img {
      width: 100%;
      height: 557px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.warranty-con-sec {
  position: relative;
  margin-top: -13.75rem;
  .warranty-con-inner {
    border-radius: 20px;
    border: 0.0625rem solid #eaeaea;
    background: #fff;
    padding: 3.4375rem 2.5rem 7.5rem;
    .sec-head {
      .title-sm {
        font-size: 2.375rem;
        text-align: center;
        color: #01390c;
      }
    }
    .cms-con {
      max-width: 51.4375rem;
      margin: auto;
      text-align: center;
      p {
        font-size: 1.25rem;
      }
    }
  }
}

.warranty-return-form-sec {
  .warranty-return-form-inner {
    .warranty-return-left {
      .sec-head {
        .warranty-return-title {
          font-size: 28px;
          font-weight: 700;
          color: #000;
          line-height: 1.2;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding-bottom: 5px;
          font-family: Manrope;
        }
      }
      .wrranty-return-form{
        .sec-head{
          margin-top: 2.625rem;
        }
      }
    }
    .warranty-return-right {
      padding-left: 4.5rem;
      margin-top: 4.0625rem;
      .warranty-return-img-box {
        width: 28.5rem;
        height: auto;
        margin-bottom: 2.25rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1.125rem;
          -webkit-border-radius: 1.125rem;
          -moz-border-radius: 1.125rem;
          -ms-border-radius: 1.125rem;
          -o-border-radius: 1.125rem;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

/* warranty-page-end */

/* Community Page start */
.community-page {
  .header-main {
    &::before {
      content: none;
    }
  }
}

body.community-page {
  background: url(community-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}

.community-banner-sec {
  .community-banner-box {
    .community-banner-img {
      width: 100%;
      height: 427px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.everwell-oasis-sec {
  position: relative;
  margin-top: -220px;
  .everwell-oasis-inner {
    border-radius: 20px;
    border: 1px solid #eaeaea;
    background: #fff;
    width: 100%;
    padding: 98px 15px;
    .sec-head {
      margin-bottom: 10px;
      .title-sm {
        font-size: 38px;
        color: #01390c;
      }
    }
    .cms-con {
      text-align: center;
      max-width: 768px;
      margin: auto;
      p {
        font-size: 20px;
      }
    }
    .everwell-oasis-box {
      border-radius: 1.8791rem;
      border: 0.0625rem solid #cdcdcd;
      background: #fff;
      display: flex;
      justify-content: space-between;
      max-width: 570px;
      margin: 3.125rem auto 0;
      .inputfield {
        background: none;
        padding: 0.625rem 1.375rem;
        font-size: 0.875rem;
        width: 100%;
      }
      .btn {
        margin: 0.25rem;
        min-width: 7rem;
        padding: 0.5rem 1.25rem;
      }
    }
  }
}
/* Community Page end */

/* resposive */
@media only screen and (max-width: 1660px) {
}

@media only screen and (max-width: 1599px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
  .title-xxl {
    font-size: 3.5rem;
  }

  .title-xl {
    font-size: 3rem;
  }

  .title-lg {
    font-size: 2.625rem;
  }

  .title-md {
    font-size: 2.375rem;
  }

  .client-review-sec {
    padding: 6.375rem 0;

    .client-review-row {
      .client-review-col {
        .client-review-text-box {
          padding: 62px 68px 62px 60px;
        }
      }
    }
  }

  .discover-everwell-product-sec {
    padding: 6.25rem 0;
  }

  .purity-sec {
    .purity-desc {
      max-width: 43.125rem;
    }
  }

  .our-mission-sec {
    max-width: 100%;
  }

  .meet-team-sec {
    max-width: 100%;

    .sec-Head {
      .title-lg {
        font-size: 2.625rem;
      }
    }
  }

  .latest-blog-sec {
    .wellness-insights-main {
      .sec-Head {
        .title-lg {
          font-size: 2.625rem;
        }
      }

      .cms-con {
        margin-bottom: 2.5rem;
      }
    }
  }

  .our-unwavering-sec {
    .our-unwavering-box {
      .our-unwavering-item {
        max-width: 46.875rem;

        .sec-head {
          margin-bottom: 1.875rem;

          .title-lg {
            font-size: 2.625rem;
          }
        }

        .cmsCon {
          max-width: 43.75rem;
        }
      }
    }
  }

  .our-mission-sec {
    .our-missio-tab {
      .tab-content {
        .tab-pane {
          .story-tab-desc {
            .tab-desc {
              .sec-Head {
                .title-lg {
                  font-size: 2.625rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .title-xxl {
    font-size: 3rem;
  }

  .client-review-sec {
    padding: 4.375rem 0;

    .client-review-row {
      .client-review-col {
        &:first-child {
          max-width: 50%;
        }

        &:last-child {
          max-width: 50%;
        }

        .client-review-text-box {
          padding: 54px 40px;
          border-radius: 6.5rem 0.625rem 0.625rem 0.625rem;
          -webkit-border-radius: 6.5rem 0.625rem 0.625rem 0.625rem;
          -moz-border-radius: 6.5rem 0.625rem 0.625rem 0.625rem;
          -ms-border-radius: 6.5rem 0.625rem 0.625rem 0.625rem;
          -o-border-radius: 6.5rem 0.625rem 0.625rem 0.625rem;

          .sec-head {
            margin-bottom: 2.5rem;

            .title-lg {
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .discover-everwell-product-sec {
    padding: 4.375rem 0;

    .discover-everwell-product-wrap {
      border-radius: 20px 100px 20px 20px;
      padding: 0 35px;

      .question-box-con {
        .sec-head {
          margin-bottom: 1.875rem;
        }

        .question-box-main-title {
          font-size: 3.125rem;
        }
      }

      .question-box-wrap {
        .question-box-img {
          padding: 3.75rem 0;
          margin-left: 0;
        }
      }
    }
  }

  .immune-vitality-sec {
    .immune-vitality-wrap {
      .immune-vitality-slider {
        .slick-dots {
          bottom: 0;
          position: unset;
          padding-top: 30px;
        }

        .immune-vitality-slide {
          .immune-vitality-box {
            .immune-vitality-row {
              .immune-vitality-col {
                margin-right: -40px;
              }

              .immune-vitality-con {
                padding-left: 0;
                padding-right: 15px;
              }
            }
          }
        }
      }
    }
  }

  .success-stories-sec {
    .success-stories-wrap {
      .success-stories-box {
        .success-stories-box-wrap {
          .success-stories-img-main {
            &:before {
              display: none;
            }

            .read-more-btn {
              transform: translateY(0);
              bottom: 20px;

              .btn {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .product-details-inner-desc {
    .product-details-desc-box {
      .nav {
        width: 42%;

        .nav-link {
          font-size: 18px;

          &::after {
            width: 25px;
            height: 25px;
            background-size: 25px;
          }
        }
      }

      .tab-content {
        width: 58%;
        padding-left: 50px;

        .tab-pane {
          max-width: 100%;
          padding: 4px 0;
        }
      }
    }
  }

  .our-unwavering-sec {
    margin-top: -150px;

    .our-unwavering-box {
      max-width: 100%;
      padding: 35px 20px;

      .our-unwavering-item {
        max-width: 100%;

        .cmsCon {
          max-width: 90%;
        }
      }
    }
  }

  .meet-team-sec {
    .meet-team-box-wrap {
      .meet-team-list {
        padding-top: 50px;

        .meet-team-item {
          .meet-team-main {
            .meet-team-con {
              .meet-team-title {
                font-size: 28px;
              }
            }
          }
        }
      }
    }

    .cmsCon {
      max-width: 100%;
    }
  }

  .purity-sec {
    background-position: 130%;

    .purity-desc {
      max-width: 36.125rem;
      padding: 70px 0 80px;
      .sec-Head {
        &::before {
          right: 85px;
        }
      }
    }

    .purity-bottom {
      ul {
        max-width: 450px;
      }
    }
  }

  .about-slider-sec {
    padding: 60px 0;

    .about-slider {
      margin: 0 -20px;

      .about-slide {
        padding: 0 20px;

        .about-slide-box {
          .about-slide-con {
            .about-slide-con-title {
              font-size: 28px;
              padding-bottom: 15px;
            }

            .about-slide-desc {
              padding-bottom: 30px;
            }
          }
        }
      }
    }
  }

  .latest-blog-sec {
    &.common-sec {
      padding: 60px 0;
    }
  }

  .help-center-banner-sec {
    .help-center-banner-box {
      .help-center-banner-img {
        height: 18.75rem;
      }
    }
  }

  .help-center-warranty-sec {
    margin-top: -8.125rem;
    .help-center-warranty-box {
      padding: 1.875rem;
      .sec-Head {
        .title-sm {
          font-size: 2.125rem;
        }
      }
    }
  }

  .get-in-touch-sec {
    .get-in-touch-wrap {
      padding: 2.1875rem;
      .get-in-touch-bottom {
        margin-top: 3.375rem;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .title-lg {
    font-size: 2.375rem;
  }

  .title-md {
    font-size: 2.125rem;
  }

  .client-review-sec {
    .client-review-row {
      flex-wrap: wrap;
      margin: 0;

      .client-review-col {
        padding: 0;

        &:first-child {
          max-width: 100%;
          width: 100%;
          padding-bottom: 1.875rem;
        }

        &:last-child {
          max-width: 100%;
          width: 100%;
        }

        .client-review-text-box {
          padding: 60px 40px;
          border-radius: 3.125rem 0.625rem 0.625rem 0.625rem;
          -webkit-border-radius: 3.125rem 0.625rem 0.625rem 0.625rem;
          -moz-border-radius: 3.125rem 0.625rem 0.625rem 0.625rem;
          -ms-border-radius: 3.125rem 0.625rem 0.625rem 0.625rem;
          -o-border-radius: 3.125rem 0.625rem 0.625rem 0.625rem;

          &::before {
            width: 26.6875rem;
            height: 21.5625rem;
          }
        }

        .client-review-img {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .marquee-sec {
    .marquee-main {
      .marquee-inner {
        li {
          padding: 0.625rem 0.9375rem;
        }
      }
    }
  }

  .immune-vitality-sec {
    .immune-vitality-wrap {
      .immune-vitality-slider {
        .immune-vitality-slide {
          .immune-vitality-box {
            .immune-vitality-row {
              .immune-vitality-col {
                margin-right: -34px;

                /*.immune-vitality-box-img {
                  max-width: 80%;
                  margin: auto;
                }*/
                .immune-vitality-con {
                  .sec-head {
                    margin-bottom: 1.875rem;
                  }

                  .cms-con {
                    max-width: 100%;
                    margin-bottom: 1.25rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .discover-everwell-product-sec {
    padding: 3.125rem 0;

    .discover-everwell-product-wrap {
      border-radius: 20px 80px 20px 20px;
      padding: 50px 20px;

      .question-box-con {
        .sec-head {
          margin-bottom: 1.875rem;
        }

        .question-box-main-title {
          font-size: 2.875rem;
        }
      }

      .question-box-wrap {
        .question-box-img {
          padding: 0 0 1.875rem 0;
        }
      }
    }
  }

  .success-stories-sec {
    .success-stories-wrap {
      .success-stories-con {
        margin-bottom: 1.875rem;

        .sec-head {
          margin-bottom: 0.9375rem;
        }

        .cms-con {
          p {
            font-size: 1rem;
          }
        }
      }

      .success-stories-box {
        .success-stories-box-wrap {
          .success-stories-img-main {
            .read-more-btn {
              .btn {
                min-width: 100px;
                padding: 8px 20px;
                font-size: 0.875rem;
              }
            }

            &:hover {
              .read-more-btn {
                bottom: 15px;
              }
            }
          }
        }
      }
    }
  }

  .our-unwavering-sec {
    .our-unwavering-box {
      .our-unwavering-item {
        .sec-head {
          .title-lg {
            font-size: 2.375rem;
          }
        }

        .cmsCon {
          max-width: 100%;

          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  .our-mission-sec {
    padding: 50px 0;

    .our-missio-tab {
      .tab-content {
        .tab-pane {
          .story-tab-desc {
            .tab-desc {
              .sec-Head {
                .title-lg {
                  font-size: 2.375rem;
                }
              }
            }

            .cmsCon {
              p {
                font-size: 16px !important;
              }
            }
          }
        }
      }
    }
  }

  .meet-team-sec {
    .sec-Head {
      .title-lg {
        font-size: 2.375rem;
      }
    }

    .cmsCon {
      p {
        font-size: 1rem;
      }
    }

    .meet-team-box-wrap {
      .meet-team-list {
        padding-top: 40px;

        .meet-team-item {
          .meet-team-main {
            .meet-team-img {
              width: 200px;
              height: 200px;
            }

            .meet-team-con {
              .meet-team-title {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }

  .about-slider-sec {
    .about-slider {
      margin: 0 -15px;

      .about-slide {
        padding: 0 15px;
      }
    }
  }

  .about-faq-sec {
    .about-faq-main {
      .sec-Head {
        margin-bottom: 30px;

        .title-sm {
          font-size: 34px;
        }
      }
    }
  }

  .latest-blog-sec {
    &.common-sec {
      padding: 50px 0;
    }

    .wellness-insights-main {
      .sec-Head {
        .title-lg {
          font-size: 2.375rem;
        }
      }
    }
  }

  .purity-sec {
    .purity-desc {
      max-width: 30.125rem;
      padding: 2.5rem 0;
      .sec-Head {
        margin-bottom: 1.25rem;
        .title-md {
          line-height: 1.2;
        }
        &::before {
          width: 1.375rem;
          height: 1.375rem;
          background-size: 1.375rem;
          right: 2.75rem;
        }
      }
      .cmsCon {
        p {
          font-size: 1rem;
        }
      }
    }
    .purity-bottom {
      ul {
        padding: 0.625rem 0;
      }
    }
  }

  .help-center-warranty-sec {
    .help-center-warranty-box {
      padding: 1.25rem 0.9375rem;
      .sec-Head {
        .title-sm {
          margin-bottom: 0.9375rem;
          font-size: 1.875rem;
        }
      }
      .cms-con {
        p {
          font-size: 1rem;
          min-height: 230px;
        }
      }
      .help-center-warranty-btn {
        span {
          font-size: 1.125rem;
        }
      }
    }
  }

  .get-in-touch-sec {
    margin-top: -8.5rem;
    .get-in-touch-wrap {
      padding: 1.25rem;
      .cms-con {
        max-width: 100%;
      }
      .get-in-touch-bottom {
        margin-top: 2.375rem;
        .contact-details-main {
          .contact-details-box {
            margin-bottom: 1.875rem;
            .contact-details-inner {
              padding-left: 2rem;
              b {
                font-size: 1.125rem;
              }
            }
          }
        }
      }
    }
  }

  .form-group textarea {
    height: 6.5625rem;
  }

  .contact-us-banner-sec {
    .contact-us-banner-box {
      .contact-us-banner-img {
        height: 18.75rem;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .title-xxl {
    font-size: 2.7rem;
  }

  .title-xl {
    font-size: 2.625rem;
  }

  .title-lg {
    font-size: 2.25rem;
  }

  .title-md {
    font-size: 1.875rem;
  }

  .client-review-sec {
    padding: 3.125rem 0;

    .client-review-row {
      .client-review-col {
        .client-review-text-box {
          padding: 40px 20px;

          .sec-head {
            margin-bottom: 1.875rem;
          }
        }
      }
    }
  }

  .immune-vitality-sec {
    .immune-vitality-wrap {
      .immune-vitality-slider {
        .immune-vitality-slide {
          .immune-vitality-box {
            .immune-vitality-row {
              .immune-vitality-col {
                /*.immune-vitality-box-img {
                  max-width: 70%;
                  margin: 0 auto 1.25rem;
                }*/
              }
            }
          }
        }
      }
    }
  }

  .discover-everwell-product-sec {
    .discover-everwell-product-wrap {
      .question-box-con {
        .question-box-main-title {
          font-size: 2.5rem;
        }
      }
    }
  }

  .our-unwavering-sec {
    .our-unwavering-box {
      padding: 25px 15px;

      .our-unwavering-item {
        .sec-head {
          margin-bottom: 0.9375rem;

          .title-lg {
            font-size: 2.125rem;
          }
        }
      }
    }
  }

  .our-mission-sec {
    .our-missio-tab {
      .nav-tabs {
        .nav-item {
          .nav-link {
            font-size: 1rem;
          }
        }
      }

      .tab-content {
        .tab-pane {
          .story-tab-desc {
            .tab-desc {
              .sec-Head {
                .title-lg {
                  font-size: 2.125rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .meet-team-sec {
    .sec-Head {
      .title-lg {
        font-size: 2.125rem;
      }
    }

    .meet-team-box-wrap {
      .meet-team-list {
        .meet-team-item {
          .meet-team-main {
            .meet-team-img {
              width: 180px;
              height: 180px;
            }

            .meet-team-con {
              .meet-team-title {
                font-size: 22px;
                padding: 15px 6px;
              }

              span {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  .about-slider-sec {
    .about-slider {
      .about-slide {
        .about-slide-box {
          .about-slide-con {
            padding-top: 15px;

            .about-slide-con-title {
              font-size: 24px;
            }

            .about-slide-desc {
              padding-bottom: 20px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .about-faq-sec {
    .about-faq-main {
      .about-faq-wrap {
        .faq.accordion {
          .accordion-item {
            .accordion-body {
              max-width: 90%;

              .cms-con {
                p {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  .about-faq-sec {
    .about-faq-main {
      .sec-Head {
        margin-bottom: 20px;

        .title-sm {
          font-size: 1.75rem;
        }
      }
    }
  }

  .purity-sec {
    background: #ececea;
    .purity-desc {
      max-width: 100%;
      .sec-Head {
        .title-md {
          br {
            display: none;
          }
        }
        &::before {
          content: none;
        }
      }
    }
    .purity-bottom {
      padding-bottom: 10px;
    }
  }

  .meet-team-sec {
    padding-bottom: 3.125rem;
  }

  .latest-blog-sec {
    .wellness-insights-main {
      .sec-Head {
        .title-lg {
          font-size: 2.25rem;
        }
      }
    }
  }

  .help-center-warranty-sec {
    .help-center-warranty-box {
      padding: 1.25rem 0.9375rem;
      .sec-Head {
        .title-sm {
          margin-bottom: 0.9375rem;
          font-size: 1.75rem;
        }
      }
      .cms-con {
        p {
          min-height: 16.875rem;
        }
      }
    }
  }

  .get-in-touch-sec {
    .get-in-touch-wrap {
      .get-in-touch-bottom {
        .contact-details-main {
          display: flex;
          flex-wrap: wrap;
          align-items: start;
          width: 100%;
          .contact-details-box {
            width: 50%;
            .contact-details-inner {
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .title-xxl {
    font-size: 2.5rem;
  }

  .title-xl {
    font-size: 2.25rem;
  }

  .title-lg {
    font-size: 2rem;
  }

  .title-md {
    font-size: 1.75rem;
  }

  .slick-dots {
    padding-top: 1.5625rem;
  }

  .immune-vitality-sec {
    .immune-vitality-wrap {
      .immune-vitality-slider {
        .immune-vitality-slide {
          .immune-vitality-box {
            padding: 1.8rem 0 0;

            .immune-vitality-row {
              flex-wrap: wrap;

              .immune-vitality-col {
                margin-right: 0;
                width: 100%;

                .immune-vitality-box-img {
                  max-width: 100%;
                  margin: 0 -15px auto 1.25rem;
                  padding-left: 0;
                }

                .immune-vitality-con {
                  .sec-head {
                    margin-bottom: 1.5625rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .success-stories-sec {
    .success-stories-wrap {
      .success-stories-con {
        margin-bottom: 1.875rem;
      }

      .success-stories-box {
        flex-wrap: wrap;

        .success-stories-box-wrap {
          width: 50%;

          .success-stories-img-main {
            .success-stories-img {
              width: 100%;
              height: 100%;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          &:first-child {
            .success-stories-img-main {
              img {
                border-radius: 20px 0 0 0;
                -webkit-border-radius: 20px 0 0 0;
                -moz-border-radius: 20px 0 0 0;
                -ms-border-radius: 20px 0 0 0;
                -o-border-radius: 20px 0 0 0;
              }

              &::before {
                border-radius: 20px 0 0 0;
              }
            }
          }

          &:nth-child(2) {
            .success-stories-img-main {
              img {
                border-radius: 0 20px 0 0;
                -webkit-border-radius: 0 20px 0 0;
                -moz-border-radius: 0 20px 0 0;
                -ms-border-radius: 0 20px 0 0;
                -o-border-radius: 0 20px 0 0;
              }

              &::before {
                border-radius: 0 20px 0 0;
              }
            }
          }

          &:nth-child(3) {
            .success-stories-img-main {
              img {
                border-radius: 0 0 0 20px;
                -webkit-border-radius: 0 0 0 20px;
                -moz-border-radius: 0 0 0 20px;
                -ms-border-radius: 0 0 0 20px;
                -o-border-radius: 0 0 0 20px;
              }

              &::before {
                border-radius: 0 0 0 20px;
              }
            }
          }

          &:last-child {
            .success-stories-img-main {
              img {
                border-radius: 0 0 20px 0;
                -webkit-border-radius: 0 0 20px 0;
                -moz-border-radius: 0 0 20px 0;
                -ms-border-radius: 0 0 20px 0;
                -o-border-radius: 0 0 20px 0;
              }

              &::before {
                border-radius: 0 0 20px 0;
              }
            }
          }
        }
      }
    }
  }

  .discover-everwell-product-sec {
    .discover-everwell-product-wrap {
      border-radius: 20px 50px 20px 20px;
      padding: 30px 20px;

      .question-box-con {
        .sec-head {
          margin-bottom: 1.25rem;
        }

        .question-box-main-title {
          font-size: 1.875rem;
        }
      }

      .question-box-wrap {
        .question-box-img {
          padding: 0 0 1.25rem 0;
        }
      }
    }
  }

  .our-unwavering-sec {
    .our-unwavering-box {
      .our-unwavering-item {
        .sec-head {
          .title-lg {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .our-mission-sec {
    .our-missio-tab {
      .nav-tabs {
        .nav-item {
          .nav-link {
            font-size: 1rem;
          }
        }
      }

      .tab-content {
        .tab-pane {
          .story-tab-desc {
            .tab-desc {
              .sec-Head {
                .title-lg {
                  font-size: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .meet-team-sec {
    .sec-Head {
      .title-lg {
        font-size: 2rem;
      }
    }

    .meet-team-box-wrap {
      .meet-team-list {
        margin: 0;

        .meet-team-item {
          padding: 0;

          .meet-team-main {
            .meet-team-img {
              width: 240px;
              height: 240px;
            }
          }
        }
      }
    }
  }

  .latest-blog-sec {
    .wellness-insights-main {
      .sec-Head {
        .title-lg {
          font-size: 2rem;
        }
      }
    }
  }

  .our-unwavering-sec {
    margin-top: -200px;
  }

  .purity-sec {
    .purity-bottom {
      ul {
        li {
          font-size: 14px;
          img {
            width: 1.25rem;
            height: 1.25rem;
          }
        }
      }
    }
  }

  .help-center-banner-sec {
    .help-center-banner-box {
      .help-center-banner-img {
        height: 10.75rem;
      }
    }
  }

  .help-center-warranty-sec {
    margin-top: 0;
    .help-center-warranty-col {
      .help-center-warranty-box {
        border: none;
        border-radius: 0;
        .cms-con {
          p {
            min-height: auto;
          }
        }
      }
      &:first-child {
        border-bottom: 0.0625rem solid #eaeaea;
      }
    }
    .container {
      padding: 0;
    }
  }

  .get-in-touch-sec {
    .get-in-touch-wrap {
      .cms-con {
        p {
          font-size: 0.875rem;
        }
      }
      .get-in-touch-bottom {
        .contact-details-main {
          .contact-details-box {
            width: 100%;
            margin-bottom: 1.5625rem;
            .contact-details-inner {
              max-width: 100%;
              font-size: 0.875rem;
              .phone {
                font-size: 0.875rem;
              }
              .time {
                font-size: 0.875rem;
              }
              img {
                width: 1.125rem;
                height: 1.125rem;
              }
            }
          }
        }
      }
    }
  }

  .form-group {
    .form-control {
      padding: 10px;
      min-height: auto;
      font-size: 14px;
    }
    textarea {
      height: 4.5625rem;
    }
  }
}

@media only screen and (max-width: 489px) {
}

@media only screen and (max-width: 395px) {
}

@media only screen and (max-width: 350px) {
  .title-xxl {
    font-size: 2.25rem;
  }

  .title-xl {
    font-size: 2rem;
  }

  .title-lg {
    font-size: 1.75rem;
  }

  .title-md {
    font-size: 1.5rem;
  }

  .discover-everwell-product-sec {
    .discover-everwell-product-wrap {
      .question-box-con {
        .question-box-main-title {
          font-size: 1.625rem;
        }
      }
    }
  }
}

/* resposive */
