@import 'varible.scss';

@font-face {
  font-family: 'Reckless Neue';
  src: url('RecklessNeue-Regular.eot');
  src: local('Reckless Neue Regular'), local('RecklessNeue-Regular'),
    url('RecklessNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('RecklessNeue-Regular.woff2') format('woff2'),
    url('RecklessNeue-Regular.woff') format('woff'),
    url('RecklessNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('RecklessNeue-Medium.eot');
  src: local('Reckless Neue Medium'), local('RecklessNeue-Medium'),
    url('RecklessNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('RecklessNeue-Medium.woff2') format('woff2'),
    url('RecklessNeue-Medium.woff') format('woff'),
    url('RecklessNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('RecklessNeue-SemiBold.eot');
  src: local('Reckless Neue SemiBold'), local('RecklessNeue-SemiBold'),
    url('RecklessNeue-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('RecklessNeue-SemiBold.woff2') format('woff2'),
    url('RecklessNeue-SemiBold.woff') format('woff'),
    url('RecklessNeue-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('RecklessNeue-Bold.eot');
  src: local('Reckless Neue Bold'), local('RecklessNeue-Bold'),
    url('RecklessNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('RecklessNeue-Bold.woff2') format('woff2'),
    url('RecklessNeue-Bold.woff') format('woff'),
    url('RecklessNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


* {
  padding: 0;
  margin: 0;
  border: none;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

.body-fixed {
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

a {
  text-decoration: none;
  transition: color 0.4s ease-in-out;
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  -ms-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
}

*:focus {
  outline: none;
}

button[type="button"]:focus {
  outline: none;
}

img {
  display: block;
  max-width: $width-100;
  max-height: $height-100;
  width: auto;
  height: auto;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  font-family: $font-stack;
  color: $primary-color;
  margin-bottom: 1.25rem;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: $primary-color;
  transition: all 0.4s ease-in-out;

  &:hover {
    color: $green-color;
    text-decoration: none;
    outline: none !important;
  }

  &:focus {
    text-decoration: none;
    outline: none !important;
  }
}

.c-scrollbar {
  height: 100vh !important;
}

html {
  font-size: 16px;
}

body {
  display: block;
  width: $width-100;
  padding: 0;
  margin: 0;
  font-family: $font-stack;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: $primary-color;
  background-color: $white-color;
  position: relative;
}

.trans {
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.wrapper {
  display: block;
  width: $width-100;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 83.125rem;
  padding: 0 0.9375rem;
}

.container-lg {
  max-width: 87.25rem;
  padding: 0 0.9375rem;
}

.common-sec {
  padding: 8.4375rem 0;
}

.sec-head {
  width: $width-100;
  display: block;
  margin-bottom: 1.875rem;
}

.title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Reckless Neue';
  font-weight: 600;
  line-height: 1.2;
}

.title-xxl {
  font-size: 4.6875rem;
  font-weight: 700;
}

.title-xl {
  font-size: 3.5rem;
  font-weight: 500;
}

.title-lg {
  font-size: 3rem;
  font-weight: 700;
}

.title-md {
  font-size: 2.75rem;
  font-weight: 700;
}

.title-sm {
  font-size: 2.5rem;
}


body.home {
  background: url(home-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}

body.review {
  background: url(reviews-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}

/* Header start */
.headtop {
  background: #01390C;
  font-size: 0.875rem;
  color: #ffffff;
  text-align: center;
  padding: 0.625rem 0;

  a {
    color: #ffffff;
    text-decoration: underline;
  }
}

.home {
  .header-main {
    position: absolute;
    left: 0;
    top: 2.5rem;
    right: 0;

    &:before {
      display: none;
    }

    .site-logo {
      display: block;
      text-align: center;

      img {
        display: inline-block;
        width: 8.125rem;

        &.darklogo {
          display: inline-block;
        }

        &.defaultlogo {
          display: none;
        }
      }
    }

  }
}

.header-main {
  display: block;
  width: 100%;
  padding: 1.75rem 0;
  position: relative;
  z-index: 2;

  &:before {
    content: '';
    background: #e5e5e5;
    height: 1px;
    width: 100%;
    max-width: 85.375rem;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  .site-logo {
    display: block;
    text-align: center;

    img {
      display: inline-block;
      width: 8.125rem;

      &.darklogo {
        display: none;
      }

      &.defaultlogo {
        display: inline-block;
      }
    }
  }

  &.has_sticky {
    z-index: 99;
    position: fixed;
    padding: 0.9375rem 3.125rem;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background: #fff;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border-bottom: 0;

    &:before {
      display: none;
    }
  }

  .menu-icon {
    display: none;
    width: 2rem;
    height: 2rem;
    position: relative;
    padding: 0;
    margin-top: 0;
    margin-left: 2.1875rem;
    color: #000;

    span {
      display: block;
      width: 1.875rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0.125rem;
      background: currentColor;
      margin: auto;

      &:before {
        content: "";
        width: 1.875rem;
        position: absolute;
        top: -0.5rem;
        left: 0;
        right: 0;
        height: 0.125rem;
        background: currentColor;
        width: 80%;
      }

      &:after {
        content: "";
        width: 1.875rem;
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        right: 0;
        height: 0.125rem;
        background: currentColor;
        width: 80%;
      }
    }
  }

  .navigation-bar {
    display: inline-block;

    .menu-main {
      display: inline-block;
      width: auto;
      margin: 0;

      li {
        display: inline-block;
        position: relative;
        width: auto;
        padding: 0 1.5rem;
        font-size: 1rem;
        font-weight: 400;
        color: #01390C;

        a {
          display: block;
          color: #01390C;
          padding: 0.625rem 0;
          position: relative;
          transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          -moz-transition: all .4s ease-in-out;
          -ms-transition: all .4s ease-in-out;
          -o-transition: all .4s ease-in-out;

          &:hover {
            color: #000000;
          }
        }

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}



.m-menulogo {
  display: none;
}

.body-fixed {
  overflow: hidden;
}

.sidebar-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  z-index: 998;
  transition: visibility 0 linear 0.4s, opacity .4s cubic-bezier(0.4, 0, 0.2, 1);
  height: 100vh;
}

.body-fixed .sidebar-overlay {
  opacity: .8;
  visibility: visible;
  left: 0;
  transition: all .6s ease-in-out;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
}


.myaccount {
  display: inline-block;
  font-size: 1rem;
  color: #01390C;

  &:hover {
    color: #000000;
  }
}

.my-cart {
  display: inline-block;
  font-size: 1rem;
  color: #01390C;
  margin-right: 0.9375rem;

  i {
    display: none;
  }

  &:hover {
    color: #000000;
  }
}

/* Header end */

/* Home slider start */
.slick-slider {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.homeBanner {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -5.375rem;
    left: -1.375rem;
    background: url(banner-pattern.svg) no-repeat;
    background-position: bottom left;
    background-size: contain;
    width: 14.875rem;
    height: 15.8125rem;
    z-index: -1;
  }

  .slide {
    min-height: 56.25rem;
    padding-top: 200px;

    &.blue-bg {
      background: linear-gradient(180deg, #8DCCFF 15.79%, rgba(217, 238, 255, 0.00) 100%);
    }

    &.pink-bg {
      background: linear-gradient(180deg, #FFB2FF 15.79%, rgba(255, 207, 255, 0.00) 100%);
    }

    &.yellow-bg {
      background: linear-gradient(180deg, #F9E58D 15.79%, rgba(253, 248, 225, 0.00) 100%);
    }

    .banner-left-col {
      width: 38%;
      padding: 0;
    }

    .banner-right-col {
      width: 62%;
      padding: 0;
    }

    .banner-caption {
      .sec-head {
        .banner-title {
          font-size: 3.375rem;
          letter-spacing: -1.08px;
        }
      }

      .btn {
        margin-top: 34px;
      }
    }

    .big-product {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      max-width: 507px;
      width: 100%;

      .big-product-img {
        display: inline-block;
      }

      .product-title {
        font-size: 1.75rem;
        letter-spacing: -0.56px;
        font-weight: 700;
        color: #01390C;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .product-price {
        font-family: "Reckless Neue";
        font-size: 20px;
        font-weight: 500;
        display: block;
        margin-bottom: 15px;
      }

      .btn {
        min-width: 142px;
      }
    }

    .side-product {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 320px;
      margin-top: 158px;
    }

    .small-product {
      display: inline-block;
      text-align: center;
      padding: 0 12px;
      width: 48%;

      .small-product-img {
        text-align: center;

        img {
          display: inline-block;
        }
      }

      .product-title {
        font-size: 1rem;
        letter-spacing: -0.32px;
        font-weight: 700;
        color: #01390C;
        display: block;
        margin-top: 15px;
        margin-bottom: 6px;
      }

      .product-price {
        font-family: "Reckless Neue";
        font-size: 0.75rem;
        font-weight: 500;
        display: block;
        margin-bottom: 8px;
      }

      .btn {
        min-width: 90px;
        font-size: 10px;
        padding: 7px 20px;
      }
    }
  }

  .slick-next {
    &:before {
      content: "\65";
      font-size: 20px;
      font-family: "everwell";
      transform: none;
      border: 0;
      width: 100%;
      height: 100%;
      margin-top: 14px;
    }
  }

  .slick-prev {
    &:before {
      content: "\65";
      font-size: 20px;
      font-family: "everwell";
      transform: rotate(180deg);
      border: 0;
      width: 100%;
      height: 100%;
      margin-top: -14px;
    }
  }
}

// .homeSlider {
//   text-align: center;
//   .slick-slide {
//     img {
//       display: inline-block; 
//       width: 100%; 
//       vertical-align: top;
//     }
//   }
//   .slick-dots {
//     position: absolute; 
//     bottom:1.875rem; 
//     left:0px; 
//     right: 0; 
//     text-align: center;
//   }
// }
/* Home slider end */

/* Footer sec start */
.footerMain {
  display: block;
  width: 100%;
  background: #01390C;
  border-radius: 1.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .footer-inner {
    max-width: 76.5625rem;
    margin: auto;
  }

  .footersec {
    padding-top: 4.875rem;
    padding-bottom: 3.125rem;

    .footBox {
      display: block;
      width: 100%;
      padding-top: 1.125rem;

      .footLogo {
        display: block;
        margin-bottom: 1.875rem;

        img {
          display: inline-block;
          filter: brightness(0) invert(1);
          width: 16.5rem;
        }
      }

      .footer-desc {
        padding-right: 5rem;

        p {
          color: #ffffff;
          font-size: 1.125rem;
          letter-spacing: 0.0338rem;
        }
      }

      .social-icon-box {
        margin-top: 2.5rem;

        .social-icon {
          margin: 0 0.3125rem;
          border-radius: 50%;
          height: 1.5625rem;
          width: 1.5625rem;
          line-height: 1.5625rem;
          background: #EFE5C3;
          display: inline-flex;
          justify-content: center;
          transition: all 0.5s ease-in-out;

          &:first-child {
            margin-left: 0;
          }

          i {
            font-size: 0.75rem;
            color: #01390C;
            transition: all 0.5s ease-in-out;
            margin-top: 1px;
          }

          &:hover {
            background: rgba(255, 255, 255, 0.6);

            i {
              color: #000000;
            }
          }
        }
      }

      .footTitle {
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 500;
        color: #ffffff;
        display: block;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.1875rem;
      }

      .footCon {
        ul {
          padding: 0;
          margin: 0;
          font-size: 0;
          width: 100%;

          li {
            display: inline-block;
            position: relative;
            margin-bottom: 0.9375rem;
            vertical-align: middle;
            width: 100%;
            padding-right: 0.375rem;

            a {
              display: inline;
              transition: all 0.4s ease-in-out;
              font-size: 1rem;
              font-weight: 400;
              position: relative;
              color: rgba(255, 255, 255, 0.60);
              line-height: 1.4;

              &:hover {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }

  .copyrightsec {
    border-top: 0.0625rem solid #788e67;
    padding: 0.9375rem 0;

    .card-col {
      text-align: end;
    }

    .copyright {
      color: $white-color;
      font-size: 0.875rem;
      font-weight: 300;

      span {
        color: #5C5C5C;
        padding: 0 0.125rem;
      }

      a {
        color: $white-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .bottom-card {
      display: inline-block;
      margin-right: -0.5rem;
    }

  }
}

/* Footer sec end */

/* Join our sec start */
.join-our-sec {
  position: relative;
  max-width: 120rem;
  margin: auto;

  .round {
    right: 0px;
    bottom: 0px;
  }

  .join-our-img {
    height: 100%;
    width: 100%;
    border-radius: 1.25rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .join-our-con {
    height: 100%;
    border: 0.0625rem solid #EAEAEA;
    background: #F9F9F9;
    border-radius: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.5rem 3.75rem 2.5rem 2.5rem;

    .sec-head {
      .title-xxl {
        font-size: 4rem;
        color: #01390c;

        span {
          font-weight: normal;
        }
      }
    }

    p {
      color: #01390C;
      font-size: 1.25rem;
    }
  }

  .join-box {
    margin-top: 4.375rem;
    border-radius: 1.8791rem;
    border: 0.0625rem solid #CDCDCD;
    background: #FFF;
    display: flex;
    justify-content: space-between;

    .inputfield {
      background: none;
      padding: 0.625rem 1.375rem;
      font-size: 0.875rem;

      &::placeholder {
        color: #000000;
      }
    }

    .btn {
      margin: 0.25rem;
      min-width: 7rem;
      padding: 0.5rem 1.25rem;
    }
  }
}

/* Join our sec end */

.round {
  width: 40.6875rem;
  height: 40.6875rem;
  border-radius: 100%;
  position: absolute;
  background: linear-gradient(177deg, rgba(255, 255, 255, 0.50) 2.35%, rgba(100, 191, 116, 0.50) 53.57%, rgba(203, 229, 240, 0.50) 77.96%, rgba(226, 253, 230, 0.50) 109.53%);
  filter: blur(42.11890411376953px);
  z-index: -1;
}

/* feed sec start */

.feed-sec {
  .sec-head {
    margin-bottom: 4.375rem;
  }

  .fee-btn {
    text-align: center;
    margin-top: 4.25rem;
  }
}

/* feed sec end */

/* latest bloc sec start */
.latest-blog-sec {
  .slick-list {
    padding-bottom: 5rem;
  }
}

.latest-slide {
  padding: 0 0.9375rem;
}

  .blogbox {
    position: relative;

    .blog-img {
      position: relative;
      width: 100%;
      padding-bottom: 96%;
      display: block;
      overflow: hidden;
      border-radius: 1.25rem;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        -webkit-transition-duration: 2s;
        -moz-transition-duration: 2s;
        -ms-transition-duration: 2s;
        transition-duration: 2s;
        transition: all .8s ease-in-out;
      }
    }

    .blogcon {
      border-radius: 0.625rem;
      background: #FFF;
      box-shadow: 0px 3.311px 41.383px -3.311px rgba(0, 0, 0, 0.10);
      padding: 1.5625rem;
      max-width: 80%;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2.875rem;

      .blog-admin {
        display: flex;
        justify-content: space-between;
        color: #635D5D;
        font-size: 0.875rem;
        font-weight: 400;
        margin-bottom: 0.9375rem;
      }

      .blog-title {
        font-size: 1.125rem;
        font-weight: 600;
        color: #000;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          color: #333;
        }
      }
    }

    &:hover {
      .blog-img {
        img {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -moz-transform: scale(1.1);
          transform: scale(1.1);
          -o-transform: scale(1.1);
          -webkit-transition-duration: 2s;
          transition-duration: 2s;
        }
      }
    }
  }


/* latest bloc sec end */

/* dropper sec start */

.dropper-sec {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -5.375rem;
    left: -2.375rem;
    background: url(dropper-pattern.svg) no-repeat;
    background-position: bottom left;
    background-size: contain;
    width: 10.8125rem;
    height: 10.8125rem;
    z-index: -1;
  }

  .dropper-inner {
    text-align: center;
    max-width: 58.5rem;
    margin: auto;
    position: relative;

    .dropper-img {
      position: relative;
      display: inline-block;

      &:before {
        content: '';
        width: 37.5309rem;
        height: 37.5922rem;
        transform: rotate(-138.02deg);
        flex-shrink: 0;
        border-radius: 100%;
        background: linear-gradient(177deg, rgba(255, 255, 255, 0.50) 2.35%, rgba(113, 182, 237, 0.50) 53.57%, rgba(203, 229, 240, 0.50) 77.96%, rgba(226, 253, 230, 0.50) 109.53%);
        filter: blur(42.11890411376953px);
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
      }
    }

    .drop-text {
      font-family: 'Reckless Neue';
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: -0.32px;
      text-transform: uppercase;
      color: #01390C;
      position: absolute;
      text-align: left;
      border-bottom: 1px solid #01390C;
      width: 100%;
      padding-bottom: 5px;

      &.first {
        max-width: 349px;
        top: 41px;
        left: 170px;
      }

      &.second {
        max-width: 338px;
        top: 230px;
        right: 0;
        text-align: right;
      }

      &.third {
        max-width: 400px;
        top: 359px;
        left: 24px;
      }

      &.forth {
        max-width: 305px;
        top: 443px;
        right: 50px;
        text-align: right;
      }
    }
  }
}

/* dropper sec end */

/* revolution-sec start */
.revolution-sec {
  .revolution-wrap {
    border: 1px solid #f1f1f1;
    background: #F9F9F9;
    border-radius: 20px;
    overflow: hidden;

    .revolution-row {
      display: flex;
      align-items: center;

      &:nth-child(odd) {
        flex-direction: row-reverse !important;
      }

      .revolution-img {
        width: 50%;
      }

      .revolution-con {
        width: 50%;
        max-width: 400px;
        margin: 0 auto;

        .sec-head {
          .title-sm {
            font-size: 2.375rem;
            line-height: 1;
          }
        }

        .cms-con {
          p {
            font-size: 1.0625rem;
          }
        }

        .btn {
          margin-top: 40px;
        }
      }
    }
  }
}

/* revolution-sec end */

/* meet-sec start */
.meet-sec {
  .meet-inner {
    position: relative;
    margin-bottom: 45px;

    .meet-left {
      position: absolute;
      left: -8.25rem;
      top: 60px;
    }

    .meet-right {
      position: absolute;
      right: -8.25rem;
      top: 60px;
    }

    .meet-middle {
      max-width: 290px;
      margin: 0 auto;
      text-align: center;
      position: relative;

      .sec-head {
        .title {
          color: #01390C;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: -3.5rem;
        left: -3.75rem;
        background: url(meet-top-pattern.svg) no-repeat;
        background-position: bottom left;
        background-size: contain;
        width: 10.4375rem;
        height: 10.4375rem;
        z-index: -1;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0.6875rem;
        right: -3.5rem;
        background: url(meet-bottom-pattern.svg) no-repeat;
        background-position: bottom left;
        background-size: contain;
        width: 4.625rem;
        height: 4.625rem;
        z-index: -1;
      }
    }
  }
}

/* meet-sec end */

/* shop page start */

body.shop-page {
  background: url(shop-bg.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
}

.breadcrumbmain {
  width: 100%;
  display: block;
  padding: 1.5625rem 0;

  .breadcrumbList {
    width: auto;
    list-style: none;
    text-align: left;

    li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 0.875rem;
      position: relative;

      &~:before {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        border-bottom: 0.0625rem solid #5d5d5d;
        border-right: 0.0625rem solid #5d5d5d;
        position: absolute;
        left: -0.5rem;
        top: 0;
        bottom: 0;
        transform: rotate(-45deg);
        margin: auto;
      }

      .current {
        font-weight: 600;
        color: #000000;
        font-size: 1rem;
      }

      &:first-child {
        padding-left: 0;
      }

      a {
        color: rgba(0, 0, 0, 60%);
        transition: all 0.4s ease-in-out;
        font-size: 1rem;
        line-height: normal;
        font-weight: normal;

        &:hover {
          color: #000000;
        }
      }
    }
  }
}

.shop-main {
  .product-left-col {
    width: 23%;
  }

  .product-sidebar {
    .filter-sl {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.9375rem;

      .filter-icon {
        opacity: 0.4;

        &:hover {
          opacity: 1;
        }
      }
    }

    .sibebar-title {
      font-size: 1.25rem;
      font-weight: 700;
    }

    .product-categories {
      border-top: 0.0625rem solid #ededed;
      border-bottom: 0.0625rem solid #ededed;
      padding: 10px 0;

      ul {
        li {
          padding: 0.625rem 0;

          a {
            font-size: 1rem;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.60);
            display: block;
            position: relative;
            transition: all 0.4s ease-in-out;

            &:before {
              content: "";
              width: 0.625rem;
              height: 0.625rem;
              border-bottom: 0.125rem solid rgba(0, 0, 0, 0.60);
              border-right: 0.125rem solid rgba(0, 0, 0, 0.60);
              position: absolute;
              right: 0.25rem;
              top: 0;
              bottom: 0;
              margin: auto;
              transform: rotate(-45deg);
              transition: all 0.4s ease-in-out;
            }

            &:hover,
            &.active {
              color: rgba(0, 0, 0, 1);
              font-weight: 600;

              &:before {
                border-bottom: 0.125rem solid rgba(0, 0, 0, 1);
                border-right: 0.125rem solid rgba(0, 0, 0, 1);
              }
            }
          }
        }
      }
    }

    .price-filter {
      padding-top: 1.5625rem;

      .range-filter {
        padding-top: 1.375rem;
      }

      .price-filter-btn {
        padding-top: 1.375rem;
        margin-top: 1.375rem;
        border-top: 1px solid #e5e5e5;

        .btn {
          width: 100%;
          min-width: inherit
        }
      }
    }
  }

  .product-right-col {
    width: 77%;
  }

  .product-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5625rem;

    .all-pro-title {
      font-size: 1.75rem;
      letter-spacing: -0.56px;
      font-weight: 600;
    }

    .shorting-sl {
      display: flex;
      align-items: center;

      .filter {
        display: none;
        cursor: pointer;
        margin-right: 10px;
      }

      .showing {
        color: rgba(0, 0, 0, 0.60);
        margin-bottom: 0;
        padding-right: 10px;
      }

      .filter-sorting {
        .shortingLabel {
          color: rgba(0, 0, 0, 0.60);
        }

        .custom-select-drop {
          height: 1.5625rem;
          padding: 0 1.5rem 0 0;
          font-size: 1rem;
          font-weight: 500;
          color: #000;
          box-shadow: none;
          background: url(down-arrow.svg) no-repeat 98% center;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
    }
  }

  .product-sidebar {
    border-radius: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    padding: 1.25rem 1.5rem 1.625rem 1.5rem;
  }
}

.product-list-item {
  .products {
    border: 0.0625rem solid rgba(234, 234, 234, 0.92);
    border-radius: 0.75rem;
    position: relative;
    background: #f0efed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;

    .product-new {
      position: absolute;
      width: 3.125rem;
      height: 3.125rem;
      background: $green-color;
      color: $white-color;
      border-radius: 50%;
      line-height: 50px;
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
      top: 1.25rem;
      left: 1.75rem;
    }

    .product-img {
      display: block;
      width: 100%;
      position: relative;
      padding-bottom: 96%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        padding: 1.125rem 0.9375rem 0 0.9375rem;
        visibility: visible;
        opacity: 1;
        transition: all 1s;
      }

      .hidden {
        visibility: hidden;
        opacity: 0;
      }
    }

    .product-text {
      padding: 0.625rem 0.9375rem 0.9375rem;
      width: 100%;

      .product-title {
        font-size: 0.875rem;
        font-weight: 600;
        color: $primary-color;
        line-height: 1.2;
        margin-bottom: 0.625rem;
      }

      .product-rating {
        line-height: 0;
        margin-bottom: 0.5rem;

        .review-star {
          max-width: 4rem;
          width: 100%;
          display: inline-block;
          vertical-align: middle;
          line-height: 0;
          margin-right: 0;

          .start-icon {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            height: 0.625rem;
            background: url(../assets/star.svg) left bottom repeat-x;

            .stars {
              display: block;
              width: 100%;
              height: 0.625rem;
              background: url(../assets/star.svg) left top repeat-x;
            }
          }
        }

        .rating-num {
          display: inline-block;
          vertical-align: middle;
          font-size: 0.5rem;

          small {
            opacity: 0.6;
          }
        }
      }

      .product-price-btn {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .product-price {
          span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem;
            line-height: 1;
            font-size: 1.125rem;
            font-weight: 700;

            &.price-sale {
              color: $primary-color;
            }

            &.price-compare {
              color: $primary-color;
              opacity: 0.4;
              text-decoration: line-through;
            }

            &.price-discount {
              border-radius: 3.9375rem;
              background: rgba(255, 51, 51, 0.10);
              color: $red-color;
              font-size: 0.5rem;
              font-weight: 500;
              text-align: center;
              line-height: 1;
              padding: 0.3rem;
              min-width: 2.3125rem;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 991px) {
      &:hover .product-img {
        img {
          visibility: hidden;
          opacity: 0;
        }

        .hidden {
          visibility: visible;
          opacity: 1;
        }
      }

      &.body-blue {
        &:hover {
          background: linear-gradient(180deg, #8DCCFF 0.02%, #FFF 99.98%);
        }
      }

      &.mind-pink {
        &:hover {
          background: linear-gradient(180deg, #FFB2FF 0%, #FFF 100%);
        }
      }

      &.spirit-orange {
        &:hover {
          background: linear-gradient(180deg, #F9E58D 28.48%, #FFF 99.99%);
        }
      }
    }
  }

  .btn.btn-outline {
    min-width: 7.875rem;
    padding: 0.625rem 0.9375rem;
    margin: auto;
    display: block;
    font-size: 0.75rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    border: 0.0625rem solid rgba(234, 234, 234, 0.92);
  }
}

.benefits-sec {
  padding: 4.375rem 0;

  .benefits-inner {
    padding: 5rem 0;
    border-radius: 20px;
    background: #85DF96;

    .sec-head {
      margin-bottom: 5rem;

      .title {
        font-size: 2.25rem;
      }
    }

    .benefits-listing {
      margin: 0 -1.5625rem;
      text-align: center;

      li {
        padding: 0 1.5625rem;
        display: inline-block;
        margin-bottom: 1.875rem;

        .benefits-box {
          .benefits-icon {
            display: inline-block;
            margin-bottom: 0.625rem;
          }

          .benefits-title {
            font-family: 'Reckless Neue';
            font-weight: 600;
            font-size: 1.25rem;
            margin-bottom: 0.625rem;
          }
        }
      }
    }
  }
}

/* shop page end */