$base-height:100%;
:root {
    --app-height: $base-height;
  }

// font-family
$font-stack:'Manrope', sans-serif;

// color
$primary-color: #000;
$white-color:#fff;
$orange-color:#FF9212;
$blue-color:#425389;
$red-color:#FF3333;
$green-color:#01390C;

// width-height
$width-100:100%;
$height-100:100%;